@charset "utf-8";

/* CSS Document */

/************************************************************
 * Tenantu
 * 
 * Created on	: October 09 ,2015
 * Author    	: Rajeev K.R
 * company name : Offshorent Pvt. Ltd.
 * URL       	: www.offshorent.com
 ************************************************************/
body { padding: 0px; margin: 0px; background-image: url('../img/main-bg.png'); background-repeat: no-repeat; background-position: top center; }
@font-face { font-family: 'myriadpro-light'; src: url('../fonts/myriadpro-light.eot'); src: url('../fonts/myriadpro-light.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-light.woff') format('woff'), url('../fonts/myriadpro-light.ttf') format('truetype'), url('../fonts/myriadpro-light.svg#myriadpro-light') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'myriadpro'; src: url('../fonts/myriadpro-regular.eot'); src: url('../fonts/myriadpro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-regular.woff') format('woff'), url('../fonts/myriadpro-regular.ttf') format('truetype'), url('../fonts/myriadpro-regular.svg#myriadpro') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'myriadpro-semicn'; src: url('../fonts/myriadpro-semicn.eot'); src: url('../fonts/myriadpro-semicn.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-semicn.woff') format('woff'), url('../fonts/myriadpro-semicn.ttf') format('truetype'), url('../fonts/myriadpro-semicn.svg#myriadpro-semicn') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'FuturaBT'; src: url('../fonts/futuraxk.eot'); src: url('../fonts/FuturaBT-ExtraBlack.woff') format('woff'), url('../fonts/mFuturaBT-ExtraBlack.ttf') format('truetype'), url('../fonts/FuturaBT-ExtraBlack.svg#FuturaBT') format('svg'); font-weight: normal; font-style: normal; }

/* top nav */

/* ------------- */
.nav_trigger { cursor: pointer; display: inline-block; font-size: 26px; margin: 0px 20px 0 -24px; float: right; position: absolute; z-index: 999; }
.show_sidebar .nav_trigger { position: fixed; }
body.show_sidebar .nav_trigger { margin-right: 5px; }
#push_sidebar { background: #343434; bottom: 0; color: #95A7B7; left: 100%; overflow: auto; position: fixed; top: 0; width: 40%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; z-index: 999; }
body.show_sidebar #push_sidebar { left: 60%; }
#wrapper { margin-right: 0; width: 100%; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
body.show_sidebar #wrapper { margin-right: 0%; width: 100%; }
@media (max-width:767px) {
	.nav_trigger { font-size: 19px; margin: 5px 5px 0 20px; }
	#push_sidebar { width: 100%; }
	body.show_sidebar #push_sidebar { left: 64%; }
	body.show_sidebar #wrapper { margin-right: 70%; width: 100%; }
	.social-icons { display: none; }
	.top-right-menu { margin-left: auto; margin-right: auto; float: none !important; }
}
@media (min-width:992px) {
	#push_sidebar { width: 30%; }
	body.show_sidebar #push_sidebar { left: 70%; }
	body.show_sidebar #wrapper { margin-right: 0%; width: 100%; }
}
@media (max-width:640px) {
	.top-right-menu { float: none; margin-left: auto; margin-right: auto; }
	body.show_sidebar #push_sidebar { left: 30%; }
	.show_sidebar .nav_trigger { position: fixed; top: 80px; right: 40px; }
	.tenantu-logo { width: 188px; margin: 0px auto !important; display: block; }
}
@media (max-width:360px) {
	body.show_sidebar #push_sidebar { left: 20%; }
	.top-right-menu { width: 100%; }
}
@media (max-width:991px) {
	.social-icons ul li { margin-right: 2px; }

	/* tenantu logo */
	.tenantu-logo { width: 188px; margin: 0px; display: block; }
	.subpage .sub-top-menu { width: auto; }
	.inner-subpage .scl-icons { display: none; }
}
@media (max-width:639px) {
	.search-container { width: 100% !important; }
}

/***********************************/
#push_sidebar .right-menu li a { padding: 5px 15px 5px 5px; display: inline-block; font: 17px "myriadpro"; color: #d1d1d1; text-decoration: none; font-weight: 800; width: auto; transition: all 0.5s ease; }
#push_sidebar .right-menu li a:hover { color: #fff; transition: all 0.5s ease; }
#push_sidebar .right-menu li a .fa { font-size: 19px; float: right; width: 30px; text-align: center; margin-left: 5px; }
.navbar-default { background-color: transparent; border: 0px; }
.right-menu { margin-top: 120px; margin-right: 0px; margin-left: 0px; }
.right-menu li { list-style: none; font-family: 'myriadpro'; font-size: 17px; color: #404040; text-transform: uppercase; }
#push_sidebar .social-icons { margin-left: 48px; float: none; margin-top: 100px; }
#push_sidebar .address { margin-left: 48px; margin-top: 40px; color: #9a9a9a; font-family: 'myriadpro'; font-size: 14px; }

/* top nav ends */

/* ------------- */

/* -------------------------------- social icons -------------------------------- */

/* -------------------------------------starts----------------------------------- */
.social-icons { width: auto; float: left; margin-top: 30px; }
.social-icons ul { padding: 0px; margin: 0px; display: inline-block; }
.social-icons ul li { padding: 0px; margin: 0px; display: inline-block; margin-right: 8px; }
.social-icons ul li a { width: 31px; height: 31px; display: block; opacity: 0.4; transition: all 0.5s ease; }
.social-icons ul li a img { width: 31px; height: 31px; display: block; }
.social-icons ul li a:hover { opacity: 1; transition: all 0.5s ease; }

/* -------------------------------- social icons -------------------------------- */

/* ------------------------------------ ends ------------------------------------ */

/* tenantu logo */
.tenantu-logo { width: 188px; margin: 0 auto; display: block; }

/* top right menus */
.top-right-menu { width: 310px; margin-top: 30px; float: right; }
.top-left-menu { width: 183px; margin-top: 30px; float: left; }
.top-left-menu .select, .top-right-menu .select { width: 220px; display: block; float: left; }
.top-left-menu .select select, .top-right-menu .select select { background-color: transparent !important; color: #ffc600; border: 0px; font-size: 17px; outline: transparent; font-family: 'myriadpro'; -webkit-appearance: none; position: relative; display: inline-block; }
.top-left-menu .select .form-control, .top-left-menu .select .btn-default, .top-left-menu .select .btn-default:hover, .top-right-menu .select .form-control, .top-right-menu .select .btn-default, .top-right-menu .select .btn-default:hover { background-color: transparent; border: 0px; font-family: 'myriadpro'; font-size: 17px; outline: transparent !important; text-transform: uppercase; }
.top-left-menu .select .filter-option, .top-right-menu .select .filter-option { color: #ffc600; border: 0px; outline: transparent !important; font-weight: 800; }
.top-left-menu .select .dropdown-menu, .top-right-menu .select .dropdown-menu { background-color: #ffc600; z-index: 999999999 !important; }
.top-left-menu .select .dropdown-menu > li > a:hover, .top-left-menu .select .dropdown-menu > li > a:focus, .top-left-menu .select .dropdown-menu > li > a, .top-right-menu .select .dropdown-menu > li > a:hover, .top-right-menu .select .dropdown-menu > li > a:focus, .top-right-menu .select .dropdown-menu > li > a { background-color: transparent; border: none; outline: transparent; font-family: 'myriadpro'; font-size: 17px; outline: transparent !important; text-transform: uppercase; }
.top-left-menu .select .bootstrap-select .dropdown-toggle:after, .top-right-menu .select .bootstrap-select .dropdown-toggle:after { content: "\e114"; display: block; color: #ffc600; font-family: 'Glyphicons Halflings'; width: 20px; position: absolute; right: 17px; top: 8px; }
.top-left-menu .bootstrap-select.btn-group .dropdown-toggle .filter-option, .top-right-menu .bootstrap-select.btn-group .dropdown-toggle .filter-option { width: 88% !important; }
.bootstrap-select.btn-group .dropdown-toggle .caret { display: none; }
.top-left-menu .select .dropdown-menu, .top-right-menu .select .dropdown-menu { max-width: 340px; }
@media (max-width:767px) {
	.logo-small { display: block; }
	.logo-large { display: none; }
	#wrapper .top-left-menu { width: 100%; float: none; }
	.top-left-menu .select { float: none; margin: 0 auto; }
	.show_sidebar .nav_trigger { top: 10px; }
	#wrapper .top-right-menu { width: 100% !important; }
	.subpage #wrapper .scl-icons { display: none; }
	.scl-icons .social-icons { display: none; }
	.inner-subpage .tenantu-logo { margin-bottom: 17px !important; }
}
@media (min-width:768px) {
	.logo-small { display: none; }
	.logo-large { display: inline-block; }
	#wrapper .top-left-menu { width: 183px; float: left; }
}
.fa-navicon { color: #fff; }
.fa-times { color: #a8a8a8; }
.home-heading { font-family: 'FuturaBT'; font-size: 80px; text-transform: uppercase; line-height: 70px; color: #fff; text-align: center; margin-top: 57px; width: 300px; margin-left: auto; margin-right: auto; }
.search-container { width: 480px; position: relative; margin-left: auto; margin-right: auto; }
.search-container input { width: 100%; background-color: #fff; border-radius: 0px; font-family: 'myriadpro'; padding: 12px 117px 12px 17px; border: 0px; margin-top: 20px; font-size: 17px; }
.search-container button { width: 100px; background-color: #ffc600; color: #fff; padding: 12px 10px; position: absolute; right: 0px; top: 20px; border: 0px; font-family: 'myriadpro'; font-size: 17px; font-weight: 800; }
.signup-text { font-family: 'myriadpro'; font-size: 17px; color: #fff; text-transform: uppercase; margin-top: 8px; }
.signup-txt { color: #8b9dff; }
.signup-txt:hover, .signup-txt:focus { color: #8b9dff; text-decoration: none; }
.homepage-down-arrow { margin-top: 20px; margin-bottom: 100px; }
@media (max-width:767px) {
	.home-heading { font-size: 28px; line-height: 24px; width: 100%; }
}
@media (max-width:639px) {
	.top-right-menu .select { margin-bottom: 17px; }
}

/* How it works */

/* -------- starts -------- */
.how-it-works { background-color: #3f51b5; text-align: center; padding-top: 84px; padding-bottom: 84px; }
.how-it-works h2 { font-family: 'myriadpro'; font-size: 48px; color: #fff; line-height: 34px; }
.how-it-works h2 p { font-size: 18px; color: #c3c7e4; }
.hw-texts { font-family: 'myriadpro'; font-size: 17px; color: #fff; line-height: 24px; margin-top: 57px; margin-bottom: 57px; }
.hw-cntr { border: 1px dashed #fff; border-image-outset: 1px; width: 200px; height: 200px; border-radius: 50%; text-align: center; font-family: 'myriadpro'; font-size: 30px; color: #c6cbe9; margin-left: 12px; }
.hw-cntr:before { content: ''; border: 1px dashed #fff; display: block; width: 220px; height: 220px; border-radius: 50%; margin-left: -10px; margin-top: -10px; position: absolute; }
.hw-cntr .text { padding-top: 73px; }
.hw-arrows { background-image: url("../img/hw-arrows.png"); background-repeat: no-repeat; background-position: right center; }
@media(max-width:1023px) {
	.hw-cntr { width: 140px; height: 140px; }
	.hw-cntr:before { content: ''; display: block; width: 150px; height: 150px; margin-left: -6px; margin-top: -6px; }
	.hw-cntr .text { padding-top: 10px; text-align: center; }
	.hw-cntr .text span { clear: both; display: block; }
	.hw-cntr .text img { width: 40px !important; }
}
@media(max-width:767px) {
	.hw-cntr { margin: 0 auto 40px; }
	.hw-arrows { background-image: none; }
	.contact .address .txts { text-align: center !important; }
}

/* contact */

/* ------------ */
.contact { font-family: 'myriadpro'; background-color: #ffc600; padding-top: 57px; padding-bottom: 57px; text-align: center; }
.contact h2 { font-family: 'myriadpro'; font-size: 48px; color: #fff; line-height: 48px; text-transform: uppercase; font-weight: bold; margin-bottom: 40px; }
.contact .address { margin-bottom: 40px; }
.txts { font-family: 'myriadpro'; font-size: 18px; color: #fff; padding-top: 20px; }
.contact input { border: 0px; border-radius: 0px; padding: 4px 10px; height: 40px; }
.contact .input-group-addon { background-color: #fff; border-radius: 0px; border-right: 1px solid #e0e0e0; border-left: 0px; border-top: 0px; border-bottom: 0px; }
.contact .input-group-addon .glyphicon { opacity: 0.7; }
.contact .input-group { margin-right: 20px; width: 243px; margin-bottom: 20px; }
.text-area { width: 465px !important; height: 93px !important; border: 0px; border-radius: 0px; webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); }
.contact-submit { background-color: #404040; border-radius: 0px; padding: 10px 30px; margin-top: 20px; font-family: 'myriadpro'; font-weight: bold; font-size: 18px; color: #fff; }
@media (max-width:767px) {
	.homepage-down-arrow { margin-bottom: 40px; }
	.contact .input-group { width: 100%; }
	.text-area { width: 100% !important; }
}
@media (max-width:639px) {
	.homepage-down-arrow { margin-bottom: 20px; }
	.text-area { width: 100% !important; }
	.contact .input-group { width: 100%; }
}
@media (min-width:768px) and (max-width:991px) {
	.text-area { width: 100% !important; }
	.contact .input-group { width: 100%; }
}

/* footer */

/* ------------ */
footer { background-color: #404040; padding-top: 40px; padding-bottom: 100px; }
footer ul.left-menu { margin: 0px; padding: 0px; width: 180px; float: left; }
footer ul.left-menu li { list-style: none; font-family: 'myriadpro'; font-size: 14px; color: #939393; }
footer ul.left-menu li a { list-style: none; font-family: 'myriadpro'; font-size: 14px; color: #939393; text-decoration: none; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
footer ul.left-menu li a:hover { color: #fff; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
footer .social-icons { float: right; margin-top: 0px; }
footer .copyright { margin-top: 0px; font-family: 'myriadpro'; font-size: 14px; color: #939393; float: right; clear: right; }
@media (max-width:767px) {

	/* footer */
	footer ul.left-menu { width: 100%; text-align: center; }
	footer .copyright { float: none; clear: none; text-align: center; }
	.footer-logo { text-align: center; }
	footer { padding-bottom: 40px; }

/* footer ends */ }
body.subpage, body.inner-subpage { background-image: url('../img/login-bg.png') !important; background-repeat: repeat; background-position: left top; }
.subpage-top-cntr { background-color: #3f51b5; padding: 34px 0px; border-bottom: 5px solid #ffc600; }
body.inner-subpage .subpage-top-cntr { padding: 24px 0px !important; }
.subpage-top-cntr .social-icons { margin-top: 0px; }
.sub-top-menu { float: right; width: 40px; }
.subpage-top-cntr .top-right-menu { margin-top: 0px; }
.subpage-top-cntr .top-left-menu { margin-top: 0px; }
#wrapper .social-icons ul li { margin-right: 7px; }
#wrapper .top-right-menu { width: 237px; float: right; text-align: right; position: relative; }
.inner-subpage #wrapper .top-right-menu { width: 100%; float: right; text-align: right; position: relative; }
.login-buttons { width: 128px; float: left; }
.inner-subpage .login-buttons a { width: auto; display: inline-block; border: 1px solid #6d7bc7; border-radius: 8px; font-family: 'myriadpro'; font-size: 14px; color: #fff; padding: 5px 17px; margin-left: 4px; text-decoration: none; }
.inner-subpage .login-buttons a:hover, .inner-subpage .login-buttons a:focus { background-color: #2236a8; color: #fff; border: 1px solid #2236a8; }
.home .login-buttons a { width: auto; display: inline-block; border: 1px solid #5d6079; border-radius: 8px; font-family: 'myriadpro'; font-size: 14px; color: #fff; padding: 5px 17px; margin-left: 4px; text-decoration: none; }
.home .login-buttons a:hover, .home .login-buttons a:focus { background-color: #2236a8; color: #fff; border: 1px solid #5d6079 !important; }
@media (max-width:991px) {
	.inner-subpage .tenantu-logo { margin: 0px; }

	/* filter */
	.filter-search .form-group { margin-bottom: 15px; }
	.bedroom { display: inline-block !important; }

/* filter ends */ }
@media (max-width:767px) {
	.nav_trigger { right: 20px; }

	/* filter */
	.bedroom { margin-left: 0px !important; }

/* filter ends */ }

/* screens between 360px and 639px */

/* ---------------- starts ------------ */
@media (min-width:360px) and (max-width:639px) {

	/* filter */

	/* //////// */
	.price { margin-left: 10px !important; vertical-align: middle !important; }
	.bedroom .select { display: block !important; }
	.location { margin-left: 10px !important; vertical-align: middle !important; }

	/* filter ends */

	/* //////// */
	.subpage-top-cntr .top-right-menu { margin-top: 17px; }
}

/* screens between 320px and 359px */

/* ---------------- starts ------------ */
@media (min-width:320px) and (max-width:359px) {
	.price { margin-left: 0px !important; vertical-align: middle !important; }
	.bedroom .select { display: block !important; }
	.location { margin-left: 0px !important; vertical-align: middle !important; }
	.subpage-top-cntr .top-right-menu { margin-top: 17px; }
}
.filter-search .form-control { width: 100%; }

/* --------------- sign up ---------------------*/

/* --------------- starts --------------------- */
.signup-cntr { font-family: 'myriadpro'; font-weight: 100; }

/* login */
.login-container { padding-top: 114px; }
.login-container h2 { font-family: 'myriadpro-light'; font-size: 28px; color: #404040; margin-bottom: 20px; }
.login-container .fb-login { margin-bottom: 30px; display: inline-block; }
.login-container .or { font-family: 'myriadpro'; font-size: 18px; margin-bottom: 30px; text-align: center; }
.login-container .form-login { }
.checkbox-text { margin-right: 40px; font-size: 14px; margin-bottom: 20px; }
.login-input { border: 1px solid #aba9a8; height: 44px; border-radius: 0px; background-color: transparent; font-family: 'myriadpro'; font-size: 14px; color: #404040; -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); }
.login-submit { background-color: #ffc600; padding: 10px 17px; border: 0px; border-radius: 0px; font-family: 'myriadpro'; font-size: 17px; color: #404040; font-weight: 800; }
.forgot-password { margin-top: 17px; }
.forgot-password .lbl { font-family: 'myriadpro'; font-weight: 800 !important; }

/* --------------- sign up ----------------- */

/* ---------------- starts ----------------- */
.signup-container { background-color: #fff; padding: 40px; margin-top: 28px; font-family: 'myriadpro'; margin-bottom: 28px; }
.signup-container h2 { font-family: 'myriadpro-light'; font-size: 28px; color: #404040; margin-bottom: 28px; margin-top: 0px; }
.signup-container .links { font-size: 12px; margin-top: 10px; font-weight: 800; color: #737373; }
.signup-container .links a { font-size: 12px; color: #3f51b5; }
.signup-container .signup-submit { background-color: #ffc600; padding: 10px 40px; border: 0px; border-radius: 0px; font-family: 'myriadpro'; font-size: 17px; color: #404040; font-weight: 800; }
@media (max-width:767px) {

	/* login */
	.login-container .or { text-align: left; }
	.login-container { padding-top: 10px; }
	.signup-container { padding: 10px; }
}

/*  forgot password */

/* ---------------- */
.forgot-password-container { width: 370px; margin: 100px auto; background-color: #fff; padding: 40px; }
.forgot-password-container h2 { font-family: 'Myriadpro-light'; font-size: 28px; margin: 0px 0px 20px 0px; }
.forgot-password-container p { font-family: 'myriadpro'; font-size: 14px; color: #737373; line-height: 18px; margin-bottom: 10px; }
.forgot-password-container a.link { font-family: 'myriadpro'; font-size: 14px; display: inline-block; color: #3f51b5; margin-top: 10px; }
@media (max-width:639px) {

	/* forgot password */
	.forgot-password-container { width: 100%; margin: 40px auto; padding: 10px; }
}

/* search results */

/* ---------------- */


.search-result-container { }
.filter-search { font-family: 'myriadpro'; color: #fff; margin-top: 31px; }
.filter-search .form-group .form-control { border: 1px solid #fff; height: 40px; border-radius: 0px; background-color: transparent; font-size: 14px; color: #fff !important; }
#slider-handles3, #slider-handles4 { margin-top: 27px; }
.range-texts { width: 80px !important; float: left; margin-right: 10px; }
.bedroom .select .btn-default, .bedroom .select .btn-default:hover, .bedroom .select .btn-default:focus { background-color: transparent; border: 0px; height: 40px; outline: none; }
.bedroom .select { display: table-cell; width: 84px; }
.bedroom label { display: table-cell; font-weight: 100; padding-right: 10px; }
.bedroom { margin-left: 40px; }
.bedroom .filter-option { color: #fff; }
.bedroom .dropdown-menu { background-color: #3f51b5; border: 1px solid #fff; border-radius: 0px; margin: 0px -1px 0px; }
.bedroom .dropdown-menu span.text { color: #fff; }
.bedroom .dropdown-menu > li > a:hover, .bedroom .dropdown-menu > li > a:focus { background-color: transparent; outline: none; }
.bedroom .check-mark { color: #fff; }
.bedroom .select .bootstrap-select:after { content: "\f107"; display: block; color: #fff; font-family: 'Glyphicons Halflings'; width: 20px; position: absolute; right: 10px; top: 5px; display: inline-block; font: normal normal normal 18px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 28px; font-weight: 100; }
.location { display: inline-block; margin-left: 40px; position: relative; height: 40px; vertical-align: top; }
.location a { font-family: 'myriadpro'; font-size: 14px; color: #ffc600; text-decoration: none; height: 40px; width: auto; display: inline-block; padding: 10px; border: 1px solid #3f51b5; }
.location a .fa-angle-down { margin-left: 10px; font-size: 17px; float: right; margin-top: -4px; }
.location a .fa-angle-down:before { margin-left: 10px; font-size: 28px; color: #fff; }
.location a:hover, .location a:focus { border: 1px solid #a2ace0; }
.location .dropdown-menu { background-color: #fff; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; width: 280px; margin-left: -93px; padding: 20px; margin-top: 23px; }
.location .dropdown-menu li { color: #404040; }
.location .dropdown-menu:before { width: 32px; font-size: 28px !important; display: inline-block; text-align: right; content: "\f0de"; display: inline-block; font-family: "FontAwesome" !important; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #fff; position: absolute; top: -17px; left: 40%; }
.price { display: inline-block; margin-left: 40px; position: relative; height: 40px; vertical-align: top; }
.price a { font-family: 'myriadpro'; font-size: 14px; color: #fff; text-decoration: none; height: 40px; width: auto; display: inline-block; padding: 10px; border: 1px solid #3f51b5; }
.price a .fa-angle-down { margin-left: 10px; font-size: 17px; float: right; margin-top: -4px; }
.price a .fa-angle-down:before { margin-left: 10px; font-size: 28px; color: #fff; }
.price a:hover, .location a:focus { border: 1px solid #a2ace0; }
.price .dropdown-menu { background-color: #fff; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; width: 280px; margin-left: -93px; padding: 20px; margin-top: 23px; }
.price .dropdown-menu li { color: #404040; }
.price .dropdown-menu:before { width: 32px; font-size: 28px !important; display: inline-block; text-align: right; content: "\f0de"; display: inline-block; font-family: "FontAwesome" !important; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: #fff; position: absolute; top: -17px; left: 40%; }
@media (max-width:639px) {
	.price .dropdown-menu { margin-top: 1px !important; margin-left: -192px !important; }
	.price .dropdown-menu::before { right: 10px !important; left: auto !important; }
	.location .dropdown-menu { margin-left: -80px !important; margin-top: 1px !important; }
	.location .dropdown-menu:before { left: 52% !important; }
}
.subpage-search { width: 100%; }
.search-btn { border: 1px solid #ffc600; background-color: #ffc600; color: #000; height: 40px; border-radius: 0px; }
.search-btn:hover, .search-btn:focus { border: 1px solid #ffc600 !important; background-color: #ffc600 !important; color: #000 !important; }
.inner-container { padding-top: 17px; padding-bottom: 17px; }

/* breadcrumb */

/* ---------- */
.breadcrumb > li + li::before { width: 10px; font-size: 14px; text-align: right; margin-right: 10px; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f105"; }
.breadcrumb { font-family: 'myriadpro'; font-size: 14px; color: #404040; background-color: transparent; padding-left: 0px; }
.sort { display: inline-block !important; font-family: 'myriadpro'; }
.sort-form label { font-family: 'myriadpro'; font-size: 17px; font-weight: 100; padding-right: 10px; }
.sort .sort-select { width: 170px; height: 40px; background-color: #fff; border: 1px solid #d1d1d8; padding: 10px; border-radius: 0px; max-width: 170px; }
.sort .dropdown-toggle { background-color: transparent !important; height: 40px; border: 1px solid #d1d1d8; border-radius: 0px; }
.sort .sort-select:after { margin-left: 10px; font-size: 17px; float: right; margin-top: -34px; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; transform: translate(0, 0); content: "\f107"; margin-right: 17px; font-size: 28px; color: #d1d1d8; border-left: 1px solid #e0e0e0; padding-left: 10px; }
.sort .text { font-family: 'myriadpro'; }
.property-list { font-family: 'myriadpro'; }
.property-list h3 { font-family: 'myriadpro-light'; font-size: 37px; color: #404040; margin: 0px 0px 4px; }
.property-list .lctn { font-size: 14px; margin-bottom: 20px; }
.properties { display: inline-block; padding: 0px; }
.properties li { margin: 0px 0px 30px 0px; list-style: none; display: inline-block; }
.properties li:nth-child(3) { margin-right: 0px; }
.propery-img { width: 100%; height: 229px; overflow: hidden; }
.propery-img img { width: 100%; min-height: 229px; }
.properties .details { padding: 10px; background-color: #fff; }
.properties h4 { padding: 0px; margin: 0px 0px 10px; color: #3f51b5; }
.properties .subtitle { display: inline-block; font-family: 'myriadpro'; font-size: 12px; color: #404040; margin-bottom: 17px; }
.properties .place { display: inline-block; float: right; font-family: 'myriadpro'; font-size: 12px; color: #404040; margin-bottom: 17px; }
.properties .user:before { font-size: 14px; display: inline-block; text-align: right; margin-right: 10px; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f007"; color: #404040; }
.properties .user { display: inline-block; width: 30%; text-align: left; }
.properties .rating { display: inline-block; width: 30%; text-align: center; }
.properties .amount { display: inline-block; width: 30%; text-align: right; }
.properties .rating:before { width: 32px; font-size: 14px; display: inline-block; text-align: right; margin-right: 10px; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f005"; color: #ffd201; }
.properties .amount:before { font-size: 14px; display: inline-block; text-align: right; margin-right: 10px; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; content: "\f155"; color: #3f51b8; }
.filter-option { font-family: 'myriadpro'; }

/* custom checkboxes */

/* ================= */

/* Hiding default checkbox and Radio button design */
input[type=checkbox], input[type=radio] { opacity: 0; position: absolute; z-index: 12; width: 18px; height: 18px; }

/* Disable outline when clicked*/
input[type=checkbox]:checked, input[type=radio]:checked, input[type=checkbox]:focus, input[type=radio]:focus { outline: none !important; }
input[type=checkbox]+.lbl, input[type=radio]+.lbl { position: relative; z-index: 11; display: inline-block; margin: 0; line-height: 20px; min-height: 14px; min-width: 14px; font-weight: normal; }
input[type=checkbox]+.lbl.padding-16::before, input[type=radio]+.lbl.padding-16::before { margin-right: 16px; }
input[type=checkbox]+.lbl.padding-12::before, input[type=radio]+.lbl.padding-12::before { margin-right: 12px; }
input[type=checkbox]+.lbl.padding-8::before, input[type=radio]+.lbl.padding-8::before { margin-right: 8px; }
input[type=checkbox]+.lbl.padding-4::before, input[type=radio]+.lbl.padding-4::before { margin-right: 4px; }
input[type=checkbox]+.lbl.padding-0::before, input[type=radio]+.lbl.padding-0::before { margin-right: 0px; }
input[type=checkbox]+.lbl::before, input[type=radio]+.lbl::before { font-family: fontAwesome; font-weight: normal; font-size: 14px; color: #404040; content: "\a0"; background-color: transparent; border: 1px solid #8f9192; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); border-radius: 0; display: inline-block; text-align: center; vertical-align: middle; height: 17px; line-height: 17px; min-width: 17px; margin-right: 1px; margin-top: -5px; }
input[type=checkbox]:checked+.lbl::before, input[type=radio]:checked+.lbl::before { display: inline-block; content: '\f00c'; background-color: #F5F8FC; border-color: #adb8c0; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1); }
input[type=checkbox]:hover+.lbl::before, input[type=radio]:hover+.lbl::before, input[type=checkbox]+.lbl:hover::before, input[type=radio]+.lbl:hover::before { border-color: #1c7aad; }
input[type=checkbox]:active+.lbl::before, input[type=radio]:active+.lbl::before, input[type=checkbox]:checked:active+.lbl::before, input[type=radio]:checked:active+.lbl::before { box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1); }
input[type=checkbox]:disabled+.lbl::before, input[type=radio]:disabled+.lbl::before, nput[type=checkbox][disabled]+.lbl::before, input[type=radio][disabled]+.lbl::before, input[type=checkbox].disabled+.lbl::before, input[type=radio].disabled+.lbl::before { background-color: #DDD !important; border-color: #CCC !important; box-shadow: none !important; color: #BBB; }
input[type=radio]+.lbl::before { border-radius: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 36px; }
input[type=radio]:checked+.lbl::before { content: '\f00c'; font-family: fontAwesome; font-weight: normal; font-size: 14px; color: #404040; background-color: transparent; border: 1px solid #8f9192; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); border-radius: 0; display: inline-block; text-align: center; vertical-align: middle; height: 17px; line-height: 17px; min-width: 17px; margin-top: -5px; }

/* single property */

/* =============== */
.single-property { }
.single-property .box { background-color: #fff; margin-bottom: 30px; }
.single-propert-details { padding: 0px; }
.row-margin { margin: 0px; background-color: #3f51b5; }
.single-property .bx-wrapper .bx-viewport { border: 0px; left: 0px; background-color: #3f51b5; }
@media (min-width:480px) {
	.single-property .image-cntr, .single-property .bx-wrapper { height: 341px; overflow: hidden; }
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { bottom: 0px !important; }
.bx-wrapper .bx-pager.bx-default-pager a { background-color: #fff !important; }
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active { background-color: #ffc600 !important; }
.single-property .rent { font-family: 'myriadpro'; color: #fff; padding: 30px 20px; border-bottom: 1px solid #5161bb; }
.single-property .rent .rent-text { font-size: 24px; }
.single-property .rent .amount { font-size: 37px; }
.single-property .beds { font-family: 'myriadpro'; color: #fff; padding: 10px 20px; border-bottom: 1px solid #5161bb; }
.single-property .beds .beds-text { font-size: 24px; }
.single-property .beds .numbers { font-size: 24px; font-family: 'myriadpro-light'; }
.single-property .baths { font-family: 'myriadpro'; color: #fff; padding: 10px 20px; }
.single-property .baths .baths-text { font-size: 24px; }
.single-property .baths .numbers { font-size: 24px; font-family: 'myriadpro-light'; }
.property-rtns { padding: 20px; }

/* single property description */

/* =========================== */
.description { padding: 20px; font-family: 'myriadpro'; min-height: 200px; }
.description h3 { font-family: 'myriadpro-light'; font-size: 37px; color: #404040; margin: 0px 0px 10px; }

/* single property reviews */

/* ======================= */
.reviews { padding: 20px; font-family: 'myriadpro'; position: relative; }
.reviews h3 { font-family: 'myriadpro-light'; font-size: 37px; color: #404040; margin: 0px 0px 10px; }
.reviews .user { font-family: 'myriadpro'; }
.reviews .user .name { font-family: 'myriadpro'; font-size: 18px; color: #404040; }
.reviews .user .subject { font-family: 'myriadpro'; font-size: 14px; color: #404040; width: 100%; display: block; }
.review-text { padding-top: 10px; }
.rating-texts { height: 30px; }
.review-ratings { padding-top: 20px; padding-bottom: 20px; }
.border-bottom { border-bottom: 1px solid #f0f0f0; }
.single-review1 { border-right: 1px solid #f0f0f0; padding-bottom: 30px; }
.show-more { background-color: #ffc600; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; padding: 4px 10px; color: #404040; text-decoration: none; width: 120px; display: block; text-align: center; position: absolute; bottom: -28px; left: 50%; margin-left: -50px; }
.show-more:hover, .show-more:focus { text-decoration: none; background-color: #404040; color: #fff; }
.reviews-link { margin-right: 20px; background-color: #fff; border-radius: 4px; padding: 4px 10px; border: 1px solid #e0e0e0; margin-top: 20px; display: block; width: 120px; }
.write-review { font-family: 'myriadpro'; font-size: 14px; color: #404040; padding: 20px; margin-top: 80px !important; }
.write-review h3 { font-family: 'myriadpro-light'; font-size: 37px; color: #404040; margin: 0px 0px 20px; }
.write-review label { font-family: 'myriadpro'; }
.write-review .input-review { border: 1px solid #aba9a8; height: 44px; border-radius: 0px; background-color: transparent; font-family: 'myriadpro'; font-size: 14px; color: #404040; -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); }
.write-review .textarea-review { border: 1px solid #aba9a8; height: 100px; border-radius: 0px; background-color: transparent; font-family: 'myriadpro'; font-size: 14px; color: #404040; -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075); }
.review-rtns { margin-top: 30px; }
.review-rtns .texts { width: 80px; padding-right: 10px; display: inline-block; }

/*  inquire and book now */

/* ===================== */
.inquire { background-color: #404040; padding: 10px 20px; display: block; margin-top: 20px; border-radius: 4px; text-align: center; font-family: 'myriadpro'; text-transform: uppercase; font-size: 17px; color: #fff; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.booknow { background-color: #3f51b5; padding: 10px 20px; display: block; margin-top: 20px; border-radius: 4px; text-align: center; font-family: 'myriadpro'; text-transform: uppercase; font-size: 17px; color: #fff; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }
.inquire:hover, .booknow:hover, .inquire:focus, .booknow:focus { color: #fff; text-decoration: none; background-color: #ffc600; -webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease; }

/* about */
.about-container { background-color: #fff; margin: 40px 0px; padding: 30px; border: 1px solid #e0e0e0; font-family: 'myriadpro' }
.about-container h2 { font-family: 'myriadpro-light'; font-weight: 100; }
.about-container p { font-size: 16px; padding-bottom: 20px; line-height: 24px; }
.location-container { background-color: #fff; margin: 40px 0px; padding: 30px; border: 1px solid #e0e0e0; font-family: 'myriadpro' }
.location-container h3 { font-family: 'myriadpro-light'; font-weight: 100; margin-top: 0px; }
.location-container .lctn-details { font-family: 'myriadpro'; font-size: 17px; padding-top: 40px; color: #737373; }

/* faq */
.faq-container { margin: 40px 0px; font-family: 'myriadpro' }
.faq-container h2 { font-family: 'myriadpro'; font-weight: 100; font-size: 37px; color: #737373; }
.faq-container p { font-size: 16px; padding-bottom: 20px; line-height: 24px; }
.faq-container .panel-default > .panel-heading { background-color: transparent !important; border: 0px; padding: 10px 0px; }
.faq-container .panel-title { font-size: 24px; color: #737373; font-family: 'myriadpro' }
.faq-container .panel-title a { text-decoration: none; text-transform: uppercase; }
.faq-container .panel-default { background-color: transparent !important; border: 0px; }
.faq-container .panel-body { padding: 17px 0px; text-transform: none; }
.about-cntr { text-align: center; padding-top: 40px; padding-bottom: 40px; }
.about-cntr h2 { font-family: 'myriadpro'; font-weight: 800; font-size: 48px; color: #3f51b5; line-height: 40px; }
.about-cntr .about-image { width: 170px; height: 170px; background-color: #fff; padding: 10px; border: 2px solid #fff; box-shadow: 0px 0px 3px #e0e0e0; margin: 40px auto; }
.subtitle { font-size: 17px; text-transform: uppercase; color: #737373; font-family: 'myriadpro'; }
.about-text { margin-top: 40px; font-family: 'myriadpro'; }
.about-text p { margin-top: 30px; }
.about-text .title-text { text-transform: uppercase; background-color: #e0e0e0; line-height: 34px; padding: 4px; }

/* blog section */

/* --------------------------  Blog starts  --------------------------- */

/* -------------------------------------------------------------------- */

/* blog banner */
.blog-banner { min-height: 300px; background-image: url('../img/blog-banner.png'); background-repeat: no-repeat; background-position: left top; margin-bottom: 40px; }
.blog-banner-texts { padding-top: 70px; }
.blog-banner-texts h2 { font-size: 80px; color: #fff; font-family: 'myriadpro'; text-shadow: 0px 0px 3px #737373; line-height: 70px; font-weight: 800; }
.blog-banner .subtitle { font-size: 24px; color: #fff; text-transform: none; }
.blog-container { }
.blog-container h2 { padding: 0px; margin: 0px; font: 100px 'myriadpro'; color: #fff; text-align: left; margin-bottom: 40px; padding-bottom: 1px; position: relative; z-index: 999; line-height: 80px; }
.blog-container .small-text { font-family: 'myriadpro'; font-size: 18px; color: #ffffff; line-height: 24px; padding-left: 6px; position: relative; z-index: 999; }

/* .blog-container h2:after{
    content: '';
    border-bottom: 1px solid #eaeaea; text-indent: -999px; display: block; margin-top: 1px; height: 18px;
} */
.blog-container .heading-container { background-image: url('../img/blog-bg.jpg'); background-repeat: no-repeat; background-position: left top; padding-top: 120px; min-height: 280px; margin-bottom: 40px; background-attachment: fixed; position: relative; }
.blog-container .post-container { font: 13px/20px 'myriadpro'; color: #3f51b5; margin-bottom: 40px; }
.blog-container .post-container .post-image { width: 749px; height: 337px; overflow: hidden; }
.post-details { margin-top: 34px; width: 100%; display: table; border-bottom: 1px solid #eaeaea; }

/*.post-container::after{
  content: '';
    border-bottom: 1px solid #eaeaea; text-indent: -999px; display: block; margin-top: 1px; height: 1px;  
}*/
.post-details .post-icon { width: 40px; height: 40px; display: table-cell; }
.post-details .post-icon .icon { width: 40px; height: 40px; background-color: #3f51b5; padding: 8px 12px; }
.post-details .post-icon .icon img { width: 17px; height: 20px; }
.post-texts { font-family: 'myriadpro'; width: auto; padding-left: 20px; display: table-cell; }
.post-texts h3 { font-size: 24px; color: #3f51b5; padding: 0px; margin: 0px; }
.post-texts .post-info { font-family: 'myriadpro'; font-size: 12px; color: #919191; }
.post-texts .post-info .user, .post-texts .post-info .comments { color: #3f51b5; font-weight: 800; }
.post-info-details { font-family: 'myriadpro'; font-size: 13px; color: #919191; margin-top: 30px; margin-bottom: 20px; }
.post-info-details .readmore { width: auto; display: block; font-family: 'myriadpro'; font-size: 13px; color: #3f51b5; text-decoration: none; margin-top: 10px; }

/* posts pagination */
.pagination { width: 100%; }
.pagination .older-posts { width: auto; display: block; font-family: 'myriadpro'; font-size: 12px; color: #737373; padding: 2px 8px; border-radius: 10px; border: 1px solid #737373; line-height: 22px; }
.pagination .older-posts:hover { text-decoration: none; background-color: #737373; color: #fff; }
.pagination .newer-posts { width: auto; display: block; font-family: 'myriadpro'; font-size: 12px; color: #3f51b5; padding: 2px 8px; border-radius: 10px; border: 1px solid #3f51b5; line-height: 22px; }
.pagination .newer-posts:hover { text-decoration: none; background-color: #3f51b5; color: #fff; }

/* blog right section */
.blog { background: none !important; }
.blog-search-container { width: 100%; display: inline-block; padding-bottom: 30px; }
.blog-search { background-color: #f4f4f4; border: 1px solid #e0e0e0; border-right: 0px; padding: 12px 20px; width: 211px; float: left; line-height: 21px; border-radius: 0px; }
.blog-search-container .go { width: 48px; height: 47px; float: left; line-height: 20px; background-color: #3f51b5; color: #fff; font-size: 14px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border: 0px; }
.recent-posts, .recent-comments, .archies, .categories { font-family: 'myriadpro'; border-bottom: 1px solid #eaeaea; padding-bottom: 20px; margin-top: 1px; }
.categories { border-bottom: 0px; }
.recent-posts h3, .recent-comments h3, .archies h3, .categories h3 { font-family: 'myriadpro'; font-size: 24px; color: #737373; margin-bottom: 10px; margin-top: 20px; }
.recent-posts ul, .recent-comments ul, .archies ul, .categories ul { padding: 0px; margin: 0px; }
.recent-posts ul li, .recent-comments li, .archies li, .categories li { padding: 0px; margin: 0px; font-family: 'myriadpro'; font-size: 13px; line-height: 24px; color: #737373; list-style: none; }
@media (max-width:767px) {
	.blog-container .post-container .post-image { width: auto; height: auto; }
	.blog-container .post-container .post-image { width: 100%; text-align: center; }
	.blog-container .post-container .post-image img { display: inline-block; }
	.post-details .post-icon { display: none; }
	.blog-container .post-container { text-align: center; }
	.recent-posts, .recent-comments, .archies, .categories { text-align: center; }
	.blog-search-container { display: block; width: 262px; margin: 0 auto; text-align: center; }
	.post-texts { padding-left: 0px; }
	.blog-container { padding-top: 64px; }
	.blog-container .heading-container { background-image: url('../img/blog-bg.jpg'); background-repeat: no-repeat; background-position: left top; padding-top: 40px; min-height: 100px; margin-bottom: 40px; }
}
@media (min-width:768px) and (max-width:990px) {
	.blog-container .post-container .post-image { width: auto; height: auto; }
	.blog-search { width: 172px; }
}
@media (max-width:991px) {
	.single-propert-right { display: none; }
}