@charset "utf-8";
/* CSS Document */
/* Developed by   : Rajeev K R */
/* Company        : www.offshorent.com */
/* Date and Time  : 31/07/2015  10:17 AM; */


body{
}

@font-face {
    font-family: 'ubuntubold';
    src: url('../fonts/ubuntu-b-webfont.eot');
    src: url('../fonts/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-b-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-b-webfont.woff') format('woff'),
         url('../fonts/ubuntu-b-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-b-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntubold_italic';
    src: url('../fonts/ubuntu-bi-webfont.eot');
    src: url('../fonts/ubuntu-bi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-bi-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-bi-webfont.woff') format('woff'),
         url('../fonts/ubuntu-bi-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-bi-webfont.svg#ubuntubold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntu_condensedregular';
    src: url('../fonts/ubuntu-c-webfont.eot');
    src: url('../fonts/ubuntu-c-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-c-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-c-webfont.woff') format('woff'),
         url('../fonts/ubuntu-c-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-c-webfont.svg#ubuntu_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntulight';
    src: url('../fonts/ubuntu-l-webfont.eot');
    src: url('../fonts/ubuntu-l-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-l-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-l-webfont.woff') format('woff'),
         url('../fonts/ubuntu-l-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-l-webfont.svg#ubuntulight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ubuntulight_italic';
    src: url('../fonts/ubuntu-li-webfont.eot');
    src: url('../fonts/ubuntu-li-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-li-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-li-webfont.woff') format('woff'),
         url('../fonts/ubuntu-li-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-li-webfont.svg#ubuntulight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntumedium';
    src: url('../fonts/ubuntu-m-webfont.eot');
    src: url('../fonts/ubuntu-m-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-m-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-m-webfont.woff') format('woff'),
         url('../fonts/ubuntu-m-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-m-webfont.svg#ubuntumedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntumedium_italic';
    src: url('../fonts/ubuntu-mi-webfont.eot');
    src: url('../fonts/ubuntu-mi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-mi-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-mi-webfont.woff') format('woff'),
         url('../fonts/ubuntu-mi-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-mi-webfont.svg#ubuntumedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntu_monobold';
    src: url('../fonts/ubuntumono-b-webfont.eot');
    src: url('../fonts/ubuntumono-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntumono-b-webfont.woff2') format('woff2'),
         url('../fonts/ubuntumono-b-webfont.woff') format('woff'),
         url('../fonts/ubuntumono-b-webfont.ttf') format('truetype'),
         url('../fonts/ubuntumono-b-webfont.svg#ubuntu_monobold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'ubuntu_monobold_italic';
    src: url('../fonts/ubuntumono-bi-webfont.eot');
    src: url('../fonts/ubuntumono-bi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntumono-bi-webfont.woff2') format('woff2'),
         url('../fonts/ubuntumono-bi-webfont.woff') format('woff'),
         url('../fonts/ubuntumono-bi-webfont.ttf') format('truetype'),
         url('../fonts/ubuntumono-bi-webfont.svg#ubuntu_monobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntu_monoregular';
    src: url('../fonts/ubuntumono-r-webfont.eot');
    src: url('../fonts/ubuntumono-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntumono-r-webfont.woff2') format('woff2'),
         url('../fonts/ubuntumono-r-webfont.woff') format('woff'),
         url('../fonts/ubuntumono-r-webfont.ttf') format('truetype'),
         url('../fonts/ubuntumono-r-webfont.svg#ubuntu_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubuntu_monoitalic';
    src: url('../fonts/ubuntumono-ri-webfont.eot');
    src: url('../fonts/ubuntumono-ri-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntumono-ri-webfont.woff2') format('woff2'),
         url('../fonts/ubuntumono-ri-webfont.woff') format('woff'),
         url('../fonts/ubuntumono-ri-webfont.ttf') format('truetype'),
         url('../fonts/ubuntumono-ri-webfont.svg#ubuntu_monoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ubunturegular';
    src: url('../fonts/ubuntu-r-webfont.eot');
    src: url('../fonts/ubuntu-r-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-r-webfont.woff2') format('woff2'),
         url('../fonts/ubuntu-r-webfont.woff') format('woff'),
         url('../fonts/ubuntu-r-webfont.ttf') format('truetype'),
         url('../fonts/ubuntu-r-webfont.svg#ubunturegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

#wrapper{
	height: 100%;
    height: auto !important;
    min-height: 100%;
    margin-bottom: -300px;
}
.header{
    position:fixed; width:100%;
    height:64px; top:0;
    left:0; background-color:rgba(0, 171, 167, 0.9); -moz-box-shadow: 10px 10px 8px #ccc;
    -webkit-box-shadow: 10px 10px 8px #ccc;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); z-index: 999999999999999; -webkit-transition: height 0.2s;
    -moz-transition: height 0.2s;
    transition: height 0.2s;

    -webkit-transition: all 0.2s ease 0.2s;
          -moz-transition: all 0.2s ease 0.2s;
          -ms-transition: all 0.2s ease 0.2s;
          -o-transition: all 0.2s ease 0.2s;
          transition: all 0.2s ease 0.2s;
}
a, button, a:focus, a:hover, button:hover, button:focus{
    outline: none;
}
/* nav bar section */
	.navbar {
	    width:100%;
	    height:auto;
	    background-color:transparent !important;
        border-radius: 0px; font-family: 'ubunturegular';
	}
    .navbar-inverse{
        border: 0px;
    }
    .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
        background-color: #333333; text-align: left;
    }
    .navbar-nav > li > a{
        padding-top: 22px; padding-bottom: 22px; color: #ffffff !important;
    }
    .dropdown.open{
        padding-bottom: 10px;
    }
    .dropdown-toggle{
        padding-right: 10px !important;
    }
    .navbar-inverse .navbar-nav > li > a:hover{
        background-color: #333; color: #14e06e !important;
    }
    /* .small-size .navbar-nav > li > a{
        padding-top: 15px; padding-bottom: 15px; transition: all 0.2s ease 0.3s;
    } */
    .navbar-collapse{
        box-shadow: none; border:0px; 
    }
    .navbar-inverse .navbar-toggle{
        border-color: transparent; 
    }
    .navbar-toggle .icon-bar{
        height: 4px;
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{
        background-color: transparent;
    }
    .dropdown-menu{
        background-color: #00aba7; border-radius: 10px !important; text-align: center; right: -50% !important ; border:0px; margin-top: 0px !important;
        z-index: 999999999;
    }
    .dropdown-menu:before{
        width: 0px; 
        height: 0px; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent; margin-top:-15px;
    border-bottom: 10px solid #00aba7; content:'.'; display: block; text-indent: 999px; left: 50%; margin-left: -5px; position: absolute;
    }
    .dropdown-menu li a{
        color: #ffffff; font: 13px/12px 'ubunturegular'; padding: 10px 0px;
    }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
        margin-left: 4px; margin-right: 4px; border-radius: 10px; background-color: #fff;
    }
    .topmenu-rightside{ 
        float: right;
    }
    .topmenu-rightside a{ width: auto; float: left; display: block; margin: 18px 10px 0px 0px;
    }
    .topmenu-rightside a.kickstarter{ margin: 20px 10px 0px 50px;
    }
    .topmenu-rightside a.facebook, a.twitter, a.instagram{ opacity: 0.57;
    }
    .topmenu-rightside a.facebook:hover, a.twitter:hover, a.instagram:hover{ opacity: 1;
    }
    .topmenu-rightside a:last-child{ margin-right: 0px;
    }
    /* .small-size a.kickstarter{
        margin-top: 14px; transition: all 0.2s ease 0.3s;
    }
    .small-size a.facebook, .small-size a.twitter, .small-size a.instagram{
        margin-top: 12px; transition: all 0.2s ease 0.3s;
    } */
	.air-bolt-logo{
		padding-top: 0px; margin-top: 0px; /* background-image: url('../img/air-bolt-logo.png'); 
        background-repeat: no-repeat; background-position: left top; */ height: 57px; width: 68px;
        background-size: 57px auto;


        -webkit-transition: all 0.2s ease 0.2s;
          -moz-transition: all 0.2s ease 0.2s;
          -ms-transition: all 0.2s ease 0.2s;
          -o-transition: all 0.2s ease 0.2s;
          transition: all 0.2s ease 0.2s; overflow: hidden;
    }
    .cbp-af-header-shrink .air-bolt-logo{
        width: 100px;
    }
	/*.air-bolt-logo img{
		width: 57px; padding-top: 0px; margin-top: 1px; transition: all 0.2s ease 0.3s;
	}
	.air-bolt-logo.logo img{
		width: 48px; transition: all 0.2s ease 0.3s;
	} */
    .air-bolt-logo-shrink{
        display: none; width: 82px; height: 12px; opacity: 0; 
        -webkit-transition: all 0.2s ease 0.2s;
        -moz-transition: all 0.2s ease 0.2s;
        -ms-transition: all 0.2s ease 0.2s;
        -o-transition: all 0.2s ease 0.2s;
        transition: all 0.2s ease 0.2s;
    }
    .air-bolt-logo-large{
        height: 57px; width: 57px; opacity: 1; 
        -webkit-transition: all 0.2s ease 0.2s;
        -moz-transition: all 0.2s ease 0.2s;
        -ms-transition: all 0.2s ease 0.2s;
        -o-transition: all 0.2s ease 0.2s;
        transition: all 0.2s ease 0.2s;
    }
    .cbp-af-header-shrink .air-bolt-logo-large{
        /*background-image: url('../img/air-bolt-logo-shrink.png'); 
        background-repeat: no-repeat; background-position: left top; width: 82px; height: 57px;
         margin-top: 17px; margin-left: 10px; */

        -webkit-transition: all 0.2s ease 0.2s;
        -moz-transition: all 0.2s ease 0.2s;
        -ms-transition: all 0.2s ease 0.2s;
        -o-transition: all 0.2s ease 0.2s;
        transition: all 0.2s ease 0.2s;
        display: none !important; opacity: 0;
    }
    .cbp-af-header-shrink .air-bolt-logo-shrink{
        /*background-image: url('../img/air-bolt-logo-shrink.png'); 
        background-repeat: no-repeat; background-position: left top; width: 82px; height: 57px;
         margin-top: 17px; margin-left: 10px; */

        -webkit-transition: all 0.2s ease 0.2s;
        -moz-transition: all 0.2s ease 0.2s;
        -ms-transition: all 0.2s ease 0.2s;
        -o-transition: all 0.2s ease 0.2s;
        transition: all 0.2s ease 0.2s;
        display: block !important; width: 82px; height: 12px; margin-top: 17px; opacity: 1;
    }
    #bs-example-navbar-collapse-1{
        -webkit-transition: all 0.2s ease 0.2s;
        -moz-transition: all 0.2s ease 0.2s;
        -ms-transition: all 0.2s ease 0.2s;
        -o-transition: all 0.2s ease 0.2s;
        transition: all 0.2s ease 0.2s;
    }

/* main container */
.main-container{
    font: 15px/0px Arial, Helvetica, sans-serif;
}
.main-container .containerul{
    margin: 0px; padding: 0px;
}

/* homepage top banner section */
    .homepage{
        color: #fff;
        font: 15px/18px Arial, Helvetica, sans-serif;
        margin: auto; padding-top: 64px; background-image: url(../img/homepage-bg.jpg); 
        background-repeat: no-repeat; background-position: left top;
        width: 100%; height: 100%; z-index: 1; background-size: cover;
    }
    .home{
        display: table; width: 100%; height: 100%; position: relative; padding-bottom: 30px;
    }
    .column{
            display: table-cell; vertical-align: middle;
    }
    .overlay{
        position: absolute; top: 0px; right: 0px; left: 0px; bottom: 0px; z-index: 1; 
        background-image: url(../img/overlay_pattern.png); background-repeat: repeat; 
        background-position: left top;
    }
    .home-cnts{
        margin-top: 131px; z-index: 999; position: relative;
    }
    .home-cnts h1{
        font: 34px 'ubuntulight'; margin-bottom: 15px; margin-top: 0px;
    }
    .home-cnts p{
        font: 13px/20px 'ubunturegular';
    }

/* home buttons starts */
/* -------------- */
    .home-cnts .btn-cntr{
        display: inline-block; margin-top: 30px;
    }
    .home-cnts .btn-cntr a.kickstart{
        width:196px; display: inline-block; height: 64px; 
        /* background-image: url(../img/kickstart-btn.png); background-repeat: no-repeat; 
        background-position: left top; */
        font: 14px/17px 'ubunturegular'; color: #ffffff; 
        text-decoration: none; float: left;
        outline: none; background-color: #0f2206; border-radius: 4px;
    }
    .home-cnts .btn-cntr a.kickstart .text{
        font: 14px/17px 'ubunturegular'; color: #ffffff; padding-top: 4px;
    }
    .home-cnts .btn-cntr a.video{
        width:196px; display: inline-block; height: 64px; 
        /* background-image: url(../img/video-btn.png); background-repeat: no-repeat; 
        background-position: left top; */
        font: 14px/17px 'ubunturegular'; color: #ffffff; 
        text-decoration: none; float: left; margin-left: 5px;
        outline: none; border-radius: 4px; /* box-shadow: 1px 1px 3px #373737; */

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef5485+0,ed3374+100 */
        background: #ef5485; /* Old browsers */
        background: -moz-linear-gradient(top,  #ef5485 0%, #ed3374 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ef5485), color-stop(100%,#ed3374)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  #ef5485 0%,#ed3374 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  #ef5485 0%,#ed3374 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  #ef5485 0%,#ed3374 100%); /* IE10+ */
        background: linear-gradient(to bottom,  #ef5485 0%,#ed3374 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5485', endColorstr='#ed3374',GradientType=0 ); /* IE6-9 */

    }
    .home-cnts .btn-cntr a .btn-overlay{
        background-image: url('../img/button-overlay.png'); background-repeat: no-repeat; background-position: left top;
        display: inline-block; padding: 10px 20px; width: 100%; background-size: 100% auto;
    }
    .home-cnts .btn-cntr a.video .icon{
        width: 38px; display: block; float: left; margin-top: 12px; opacity: 0.8;
    }
    .home-cnts .btn-cntr a.video .icon img{
        width: 29px; margin-top: -6px; margin-left: -6px;
    }
    .home-cnts .btn-cntr a.video .text{
        width: auto; display: block; float: left; 
        font: 12px/17px 'ubunturegular'; color: #ffffff; padding-top: 3px; 
        background-image: url(../img/video-btn-bg.png); 
        background-repeat: no-repeat; background-position: left center; padding-left: 10px;
    }
    .home-cnts .btn-cntr a.video:hover .text{
        /* background-image: url(../img/video-btn-bg-hover.png); 
        background-repeat: no-repeat; background-position: left center; padding-left: 10px; */
    }
    .home-cnts .btn-cntr a.video .text .video{
        width: auto; display: block; font: 22px/17px 'ubunturegular'; color: #ffffff; 
        text-transform: uppercase;
    }
/* home buttons ends */

/* features starts */
    .feature-slider{
        border:0px; box-shadow: 0px;
    }
    .bx-wrapper .bx-viewport{
        border:0px !important; box-shadow: none !important;
    }
    .feature-slider h2{
        font: 37px/37px 'ubuntulight'; color: #ef5080; margin-bottom: 30px; 
    }
    .feature-slider p.subhead{
        font: 17px/22px 'ubunturegular'; color: #999999; margin-bottom: 30px;
    }
    .feature-slider p.cnt{
        font: 13px/22px 'ubunturegular'; color: #999999;
    }
    .readmore{
        font: 14px/22px 'ubuntulight'; color:#00aba7; text-decoration: underline;
    }
    .readmore:hover{
        font: 14px/22px 'ubuntulight'; color:#00aba7; 
    }
    .bx-wrapper{
        z-index: 0;
    }
/* feature ends */

/* buzz starts */
    .buzz-container{
        background-image: url(../img/buzz-bg.png); background-repeat: repeat-x y; 
        background-position: left top; padding-top: 64px; position: relative;
        border-top: 8px solid rgba(0, 0, 0, 0.4);
    }
    .buzz-container .cnts{
        background-color: #fff;
    }
    .buzz-container h2{
        font: 34px 'ubuntulight'; color: #ffffff; background-image: url(../img/buzz-header-bg.png); 
        background-repeat: no-repeat; background-position: center bottom;
        margin-bottom: 30px;
    }
    .buzz-container .cnts:before{
        content: '.'; display: block; background-image: url(../img/buzz-header-arrow.png); 
        background-repeat: no-repeat; background-position: center bottom;
        text-indent: -999px; width:20px; height: 17px; position: absolute; left: 50%; 
        margin-left: -10px; 
    }
    #buzz_cnts{
        display: table; width: 100%;
    }
    .buzz-logos{
        margin: 0px 0px 40px; padding: 0px;
    }
    .buzz-logos li{ display: inline-block; padding: 0px; width: 155px; 
        overflow: hidden; margin-right: 10px; max-height: 100px; text-align: center;
        margin-bottom: 57px;
    }
    .buzz-logos li:last-child{ margin-right: 0px; 
    }
    .buzz-logos li a{ display:block; -webkit-filter: grayscale(100%);
    filter: gray; filter: grayscale(100%);
    }
    .buzz-logos li a:hover{ display:block; -webkit-filter: grayscale(0%);
    filter: gray; filter: grayscale(0%);
    }
    .buzz-logos .tooltip{
    }
    .buzz-logos .tooltip-inner{
        background-color: #ef5080 ; padding: 10px 28px; border-radius: 8px; 
        box-shadow: 0px 0px 8px #737373;
    }
    .buzz-logos .tooltip-arrow{
        border-top-color: #ef5080 !important;
    }
    .viewmore{
        border-bottom: 1px solid #d8d8d8; text-align: right; position: relative;
    }
    .viewmore a{ 
        font: 17px/22px 'ubuntulight'; color:#666868; text-decoration: none; width: auto; 
        display: inline; position: relative;
    }
    .viewmore a:hover{ 
        font: 17px/22px 'ubuntulight'; color:#666868;
    }
    .viewmore a:after{
        width: 0px;
        height: 0px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        margin-top: 1px;
        border-top: 8px solid #d8d8d8;
        content: '.';
        display: block;
        text-indent: -999;
        right: 50%;
        margin-right: -8px;
        position: absolute;
    }
    /* buzz section ends */

/* contact section starts */
/* ---------------------- */
    #contact{
        background-color:#11aca8; padding: 80px 0px; background-image: url(../img/contact-section-bg.png); background-repeat: repeat-x y; background-position: left top;
        border-top: 8px solid #999999; overflow: hidden;
    }
    .connect-heading h2{
        font: 37px/22px 'ubunturegular'; color:#fff; margin: 0px;
    }
    .connect-heading .sub-text{
        font: 14px/14px 'ubunturegular'; color:#fff; padding-top: 10px;
    }
    #contact .nav-tabs > li.active > a, #contact .nav-tabs > li.active > a:hover, #contact .nav-tabs > li.active > a:focus{
        background: transparent; border:0px;
    }
    #contact .social-icons > li > a img{
        width: 100%
    }
    #contact .social-icons {
        display: inline-block; border-bottom: 0px; margin-top: 20px; padding: 0px;
    }
    #contact .social-icons > li{
        width: 100px; height: 100px; border-radius: 50%; margin-right: 40px; display: inline-block;
    }
    #contact .social-icons > li:last-child{
        margin-right: 0px;
    }
    #contact .social-icons > li a{ background-color: transparent; border:0px; padding:0px; border-radius: 50%; width: 100px;  height: 100px; display: block; overflow: hidden;
    }
    #contact .social-icons li a.facebook{
    }
    #contact .social-icons li a.facebook:hover, #contact .social-icons li.active a.facebook{
        background-color: #3b5998; padding:0px; transition: all 0.3s ease 0s;
    }
    #contact .social-icons li a.twitter-contact{
    }
    #contact .social-icons li a.twitter-contact:hover, #contact .social-icons li.active a.twitter-contact{
        background-color: #33ccff; padding:0px; transition: all 0.3s ease 0s;
    }
    #contact .social-icons li a.instagram-contact{
    }
    #contact .social-icons li a.instagram-contact:hover, #contact .social-icons li.active a.instagram-contact{
        background-color: #4c79a0; padding:0px; transition: all 0.3s ease 0s;
    }
    #contact .social-icons li a.mail-contact{ background-color: transparent;
    }
    #contact .social-icons li a.mail-contact:hover, #contact .social-icons li.active a.mail-contact:active,   #contact .social-icons li:focus a.mail-contact{
        background-color: #ef5080; padding:0px; transition: all 0.3s ease 0s;
    }

/* contact mail section */
/* -------------------- */
    #contact .mail-container{
        background-color: #ef5080; border-radius: 10px; margin-top: 24px; padding: 40px 26px; font-family: 'ubunturegular'; color: #ffffff;
        display: none; position: relative;
    }
    #contact .mail-container:before{
        width: 0px; 
        height: 0px; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent; margin-top:-50px;
    border-bottom: 10px solid #ef5080; content:'.'; display: block; text-indent:999px; right: 192px; margin-left: -5px; position: absolute;
    }
    #contact .mail-container h2{
        font: 37px/22px 'ubunturegular'; color:#fff; margin: 0px;
    }
    #contact .mail-container .sub-text{
        font: 14px/14px 'ubunturegular'; color:#fff; padding-top: 10px;
    }
    .contact-form{
        margin-top: 10px;
    }
    .contact-form .input-text{
        width: 253px; height: 50px; border-radius: 10px; border:0px; padding: 14px 20px; margin-right: 10px; font-family: 'ubunturegular'; font-size: 13px; color: #404040; line-height: 22px;
    }
    .sub-input-field{
        margin-right: 0px !important;
    }
    .contact-form .textarea textarea{
        width: 100% !important; border-radius: 10px; border:0px; height: 72px; min-height: 72px; max-width: 100%; padding: 20px; font-size: 13px; color: #404040;
    }
    .contact-form .textarea{
        width: 100%; margin-top: 20px; margin-bottom: 20px; font-size: 13px;
    }
    .contact-form .submit-btn{
        background-color: #00aba7; width: 115px; height: 45px; color: #fff; box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.4); border-radius: 10px; border:0px; font: 20px/20px 'ubunturegular'; float: right;
    }
    .contact-form .submit-btn:hover, .contact-form .submit-btn:focus{
        background-color: #00aba7; color: #fff;
    }
    .contact-form input:placeholder{
        color: #000; font-family: 'ubunturegular'; font-size: 17px;
    }
    .contact-form .adrs{
        text-align: left; line-height: 14px;
    }
/* contact mail section ends */

/* contact facebook section */
/* ------------------------ */
    .facebook-contact-container{
        background-color: #3b5998; 
        border-radius: 10px; 
        margin-top: 24px; 
        padding: 40px 26px; 
        font-family: 'ubunturegular'; 
        color: #ffffff;
    }
/* contact facebook section ends */

/* contact twitter section */
    .twitter-contact-container{
        background-color: #33ccff; 
        border-radius: 10px; 
        margin-top: 24px; 
        padding: 40px 26px; 
        font-family: 'ubunturegular'; 
        color: #ffffff;
    }
/* contact twitter section ends */

/* contact instagram section */
    .instagram-contact-container{
        background-color: #4c79a0; 
        border-radius: 10px; 
        margin-top: 24px; 
        padding: 40px 26px; 
        font-family: 'ubunturegular'; 
        color: #ffffff;
    }
    .hvr-float {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    .hvr-float:focus, .hvr-float:active {
      -webkit-transform: translateY(0px);
      transform: translateY(0px);
    }
/* subscribe newsletter section */
    .sbs-cntr{
        text-align: center; margin-top: 57px; 
    }
    .sbs-cntr h2{
        font: 37px/22px 'ubunturegular'; color:#fff; margin: 0px; padding-bottom: 22px;
    }
    .sbs-cntr .sub-text{
        font: 14px/22px 'ubunturegular'; color:#fff; margin: 0px;
    }
    .sbs-input{
        padding: 20px 100px 20px 20px; width: 100%; border-radius: 10px; border:0px; margin-top: 40px; font-size: 17px; line-height: 22px; z-index: 1; position: relative; font: 17px/22px 'ubunturegular'; color:#4040440;
    }
    .sbs-btn{
        padding: 20px; /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d6295d+0,ef5080+100 */
    background: rgb(214,41,93); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(214,41,93,1) 0%, rgba(239,80,128,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(214,41,93,1)), color-stop(100%,rgba(239,80,128,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(214,41,93,1) 0%,rgba(239,80,128,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(214,41,93,1) 0%,rgba(239,80,128,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(214,41,93,1) 0%,rgba(239,80,128,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(214,41,93,1) 0%,rgba(239,80,128,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6295d', endColorstr='#ef5080',GradientType=0 ); /* IE6-9 */
    border-top-right-radius: 10px; border:0px; border-bottom-right-radius: 10px; font: 17px/22px 'ubunturegular'; color:#fff; text-transform: uppercase;
    width: 80px; margin-top: -62px; z-index: 999; position: relative;
    }
/* down mouse */
    .mouse-container{
        width: 40px; position: absolute; bottom: 48px; left: 50%; margin-left: -20px; z-index: 999; border-radius: 0px; display: inline-block; height: 73px; text-align: center;
    }
    .mouse{
        margin-top: 0px; transition: all 0.4s ease;
    }
    .mouse-container:hover{
        border-radius: 10px;
    }
    .mouse-container:hover .mouse{
        margin-top: -20px; transition: all 0.4s ease;
    }

    /* footer */
    .footer{
        background-color: #404040; padding-top: 40px; padding-bottom: 40px;
    }
    .footer .footer-logo{
        width: 57px;
    }.footer .footer-text{
        font: 14px/14px 'ubunturegular'; color: #fff; padding-top: 20px;
    }
	


    
@media (max-width: 767px){
    .homepage{
        text-align: center; background-size: auto 100%;
    }
    .home, #buzz_cnts{
        height: auto !important; padding-bottom: 40px; 
    }
    .home{
        display: list-item;
    }
    .column{
        display: inline !important;
    }
    .collapse in{
        margin-top: 13px; margin-bottom: 0px;
    }
    .navbar-collapse{
        background-color:rgba(0, 0, 0, 0.7); margin-top: 8px;
    }
    .collapse-in{
        background-color:rgba(0, 0, 0, 0.7); margin-top: 13px;
    }
    .navbar-toggle{
        padding-top: 6px; padding-bottom: 6px; margin-bottom: 4px !important;
    }
    .navbar-collapse{
        padding-right: 0px;
    }
    .collapse.in li a{
        padding-top: 10px; padding-bottom: 10px;
    }
    .collapse li a{
        padding-top: 10px; padding-bottom: 10px;
    }
    .navbar-nav > li > a{
        padding-top: 10px; padding-bottom: 10px;
    }
    .dropdown-menu::before{
        display: none;
    }
    .navbar-nav .open .dropdown-menu{
        text-align: left;
    }
    .navbar-toggle{
        margin-right: 0px; margin-top: 12px;
    }
    /* .small-size .navbar-nav{
        margin-top: 0px !important; margin-bottom: 0px;
    } */
    .navbar-nav {
        margin-top: 0px;
    }
    /*.small-size.navbar-collapse{
        margin-top: 0px !important; margin-bottom: 0px;
    } */
    .topmenu-rightside{
        display: none;
    }
    .img{
        width: 100%;
    }
    .bx-wrapper{
        text-align: center;
    }
    .bx-controls-direction{
        display: none;
    }
    .bx-wrapper img{
        display: inline-block !important; width: 200px; margin-top: 40px;
    }
    .buzz-logos {
        margin-top: 48px;
    }
    .buzz-logos li{
        display:inline-block;
    }
    .buzz-logos li a{
        display:inline-block;
    }
    .buzz-logos li a:hover{
        display:inline-block;
    }
    .buzz-logos .tooltip{
        display: none !important;
    }
    #contact .nav-tabs > li{
        width: 50px; height: 50px; margin-right: 10px;
    }
    .contact-form .input-text{
        width: 100%;
    }
    .contact-form .textarea{
        margin-top: 0px;
    }
    .contact-form .textarea textarea{
        width: 100% !important; min-width: 100% !important;
    }
    .contact-form .adrs{
        margin-top: 28px; padding-top: 40px;
    }

    #contact .social-icons li a.facebook, #contact .social-icons li a.twitter-contact, #contact .social-icons li a.instagram-contact, #contact .social-icons li a.mail-contact{
        width: 80px; height: 80px;
    }
    #contact .social-icons > li{
        width: 80px; height: 80px; margin-right: 0px;
    }

    /* mouse */
    .mouse-container{
        display: none;
    }
}
@media (max-width:979px){
    .contact-form .input-text{
        width: 100%;
    }
    .contact-form .textarea textarea{
        width: 88% !important;
    }
    .contact-form .submit-btn{
        float: none;
    }
}
@media (max-width:980px){
    .contact-form .adrs{
        text-align: center;
    }
}
@media (max-width: 639px){
    .home-cnts .btn-cntr a.kickstart{
     margin-bottom: 10px;
    }
    .home-cnts .btn-cntr a.video{
    }
    #contact .social-icons li a.facebook, #contact .social-icons li a.twitter-contact, #contact .social-icons li a.instagram-contact, #contact .social-icons li a.mail-contact{
        width: 57px; height: 57px;
    }
    #contact .social-icons > li{
        width: 57px; height: 57px; margin-right: 0px;
    }
}
@media (max-width: 479px){
    .home-cnts .btn-cntr a.video{
        margin-left: 0px;
    }
    .home-cnts .btn-cntr a.kickstart{
     float:none; margin-bottom: 10px;
    }
    .home-cnts .btn-cntr a.video{
        float: none;
    }
}
/* @media (min-width:800px) and (max-width: 980px){
    .home-image{
        width: 48% !important;
    }
    .home-contents{
        width: 50% !important;
    }
} */
@media (min-width: 880px) and (max-width: 980px){
    .container{
        width: 870px;
    }
}
@media (max-width: 980px){
    .homepage{
        display: table; padding-top: 0px; background-size: auto 100%;
    }
    .column{
        display: table-cell; vertical-align: middle;
    }
    .navbar-right{
        margin-right: 0px;
    }
}
@media (max-width:1279px){
    .bx-wrapper .bx-next{
        right: -30px !important;
    } 
    .bx-wrapper .bx-prev{
        left: -30px !important;
    }
}
@media (min-width:768px) and (max-width:980px){
    .bx-wrapper .bx-next{
        display: none;
    } 
    .bx-wrapper .bx-prev{
        display: none;
    }
    #buzz_cnts{
        overflow: hodden;
    }
}
@media (min-width: 768px) and (max-width:979px){
    #contact .mail-container::before{
        right:134px;
    }
    .buzz-logos li{
        width: 117px;
    }
}
@media (min-width: 640px) and (max-width:767px){
    #contact .mail-container::before{
        right:174px;
    }
}
@media (min-width:361px) and (max-width:640px){
    #contact .mail-container::before{
        right: 170px;
    }
    .sbs-cntr h2{
        font:37px/37px "ubunturegular";
    }
}
@media (min-width:321px) and (max-width: 360px){
    #contact .mail-container::before{
        right: 64px;
    }
    .sbs-cntr h2{
        font:28px/37px "ubunturegular";
    }
    .buzz-logos li{
        width: 100%; margin-bottom: 17px;
    }
}
@media (max-width:320px){
    #contact .mail-container::before{
        right: 50px;
    }
    .sbs-cntr h2{
        font:24px/37px "ubunturegular";
    }
}
@media (max-width:1279px){
    .hvr-float{
    display: inline-block;
      vertical-align: middle;
      -webkit-transform: none;
      transform: none;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      -webkit-transition-duration: none;
      transition-duration: none;
      -webkit-transition-property: none;
      transition-property: none;
      -webkit-transition-timing-function: none;
      transition-timing-function: none;
    }

    .hvr-float:hover, .hvr-float:focus, .hvr-float:active {
      -webkit-transform: none;
      transform: none;
    }
    .hvr-float:focus, .hvr-float:active {
      -webkit-transform: none;
      transform: none;
    }
}

/* Box Shadow Inset */
.hvr-box-shadow-inset {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2) !important;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
a.video.hvr-box-shadow-inset:hover, a.video.hvr-box-shadow-inset:focus, a.video.hvr-box-shadow-inset:active {
  box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 0.4), 0 0 1px rgba(0, 0, 0, 0)   !important;
  /* Hack to improve aliasing on mobile/tablet devices */
}
a.kickstart.hvr-box-shadow-inset:hover, a.kickstart.hvr-box-shadow-inset:focus, a.kickstart.hvr-box-shadow-inset:active {
  box-shadow: inset 0px 0px 3px 2px rgba(0, 0, 0, 1), 0 0 1px rgba(0, 0, 0, 0)   !important;
  /* Hack to improve aliasing on mobile/tablet devices */
}

/* mouse animation */
.spinner {
  margin: 17px auto 0;
  width: 18px;
  text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    display: block;
    left: 50%;
    margin-top: -8px;
    background-image: url(../img/down-arrow.png); background-repeat: no-repeat; background-position: left top;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both; background-size: 18px auto;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

/* go to top */
.go-top{
    width: 40px; height: 40px; border-radius: 50%; background-color: #fff; position: fixed;
    bottom: 40px; right: 20px; z-index: 0; opacity: 0.7;
}
.go-top img{
    width: 100%;
}
.go-top:hover{
    opacity: 1;
}
/* go to top ends */




/* blog section */
/* --------------------------  Blog starts  --------------------------- */
/* -------------------------------------------------------------------- */
.blog-container{
}
.blog-container h2{ padding: 0px; margin: 0px; font:100px 'ubuntubold'; color: #fff; text-align: left;
 margin-bottom: 40px; padding-bottom:1px; position: relative; z-index: 999; line-height: 80px;
}
.blog-container .small-text{
    font-family: 'ubuntubold'; font-size: 18px; color: #ffffff; line-height: 24px; padding-left: 6px; position: relative; z-index: 999;
}
/* .blog-container h2:after{
    content: '';
    border-bottom: 1px solid #eaeaea; text-indent: -999px; display: block; margin-top: 1px; height: 18px;
} */
.blog-container .heading-container{
    background-image: url('../img/blog-bg.jpg'); background-repeat: no-repeat; background-position:  left top;
    padding-top: 120px; min-height: 280px; background-attachment: fixed; position: relative;
}
.blog-container .post-container{
    font:13px/20px 'ubuntulight'; color:#939393; margin-bottom: 40px; 
}
.blog-container .post-container .post-image{ width: 559px; height: 317px; overflow: hidden;

}
.post-details{
  margin-top: 34px; width: 100%; display: table; border-bottom: 1px solid #eaeaea;  
}
.post-container::after{
  content: '';
    border-bottom: 1px solid #eaeaea; text-indent: -999px; display: block; margin-top: 1px; height: 1px;  
}
.post-details .post-icon{
    width: 40px; height: 40px;
    display: table-cell;
}
.post-details .post-icon .icon{
    width: 40px; height: 40px; background-color: #ef5080; padding: 8px 12px;
}
.post-details .post-icon .icon img{
    width: 17px; height: 20px;
}
.post-texts{
    font-family: 'ubuntulight'; width: auto; padding-left: 20px; display: table-cell;
}
.post-texts h3{
    font-size: 24px; color: #ef5080; padding: 0px; margin: 0px;
}
.post-texts .post-info{
    font-family: 'ubuntulight'; font-size: 12px; color: #919191;
}
.post-texts .post-info .user, .post-texts .post-info .comments{
    color: #ef5080; font-weight: 800;
}
.post-info-details{
    font-family: 'ubuntulight'; font-size: 13px; color: #919191; margin-top: 30px; margin-bottom: 20px;
}
.post-info-details .readmore{
    width: auto; display: block; font-family: 'ubuntulight'; font-size: 13px; color: #ef5080; text-decoration: none;
    margin-top: 10px;
}

/* posts pagination */
.pagination{
    width: 100%;
}
.pagination .older-posts{
    width: auto; display: block; font-family: 'ubuntulight'; font-size: 12px; color: #737373; padding:2px 8px; border-radius: 10px; border:1px solid #737373;
    line-height: 22px;
}
.pagination .older-posts:hover{
    text-decoration: none; background-color: #737373; color: #fff;
}
.pagination .newer-posts{
    width: auto; display: block; font-family: 'ubuntulight'; font-size: 12px; color: #ef5080; padding:2px 8px; border-radius: 10px; border:1px solid #ef5080;
    line-height: 22px;
}
.pagination .newer-posts:hover{
    text-decoration: none; background-color: #ef5080; color: #fff;
}


/* blog right section */
.blog-search-container{
    width: 100%; display: inline-block; padding-bottom: 30px; border-bottom:1px dashed #eaeaea;
}
.blog-search{
    background-color: #f4f4f4; border:1px solid #e0e0e0; border-right:0px; padding: 12px 20px; width: 211px; float: left;
    line-height: 21px; border-radius: 0px;
}
.blog-search-container .go{
    width: 48px; height:47px; float: left; line-height:20px; background-color: #ef5080; color: #fff; font-size: 14px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border:0px;  
}

.recent-posts, .recent-comments, .archies, .categories{
    font-family: 'ubuntulight'; border-bottom: 1px dashed #eaeaea; padding-bottom: 30px; border-top:1px dashed #eaeaea; margin-top: 1px;
}
.categories{
    border-bottom:0px;
}
.recent-posts h3, .recent-comments h3, .archies h3, .categories h3{
    font-family: 'ubuntulight'; font-size: 24px; color: #ef5080; margin-bottom: 30px; margin-top: 30px;
}
.recent-posts ul, .recent-comments ul, .archies ul, .categories ul{
    padding:0px; margin:0px;
}
.recent-posts ul li, .recent-comments li, .archies li, .categories li{
    padding:0px; margin:0px; font-family: 'ubunturegular'; font-size: 13px; line-height: 24px; color: #737373; list-style: none;
}




@media (max-width: 767px){
    .blog-container .post-container .post-image{
        width: auto; height: auto;
    }
    .blog-container .post-container .post-image{
        width: 100%; text-align: center;
    }
    .blog-container .post-container .post-image img{
        display: inline-block;
    }
    .post-details .post-icon{
        display: none;
    }
    .blog-container .post-container{
        text-align: center;
    }
    .recent-posts, .recent-comments, .archies, .categories{
        text-align: center;
    }
    .blog-search-container{
        display: block; width: 262px; margin:0 auto; text-align: center;
    }
    .post-texts{
        padding-left: 0px;
    }
    .blog-container{
        padding-top: 64px;
    }
    .blog-container .heading-container{
    background-image: url('../img/blog-bg.jpg'); background-repeat: no-repeat; background-position:  left top;
    padding-top: 40px; min-height: 100px; margin-bottom: 40px;
}
}
@media (min-width: 768px) and (max-width: 990px){
    .blog-container .post-container .post-image{
        width: auto; height: auto;
    }
    .blog-search{
        width: 172px;
    }
}




/* faq starts */
/* --------------------------  Blog starts  --------------------------- */
/* -------------------------------------------------------------------- */
.faq-container{
 line-height: 17px;
}
.faq-container .heading-container{
    position: relative; display: block; min-height: 414px; background-image: url('../img/faq-bg.jpg'); background-repeat: no-repeat; background-position: left top; background-size: 100% auto; background-attachment: fixed;
}
.faq-container .heading{
    font-family: 'ubuntubold'; min-height: 289px; padding-top: 180px; z-index: 999; position: relative;
}
.faq-container .heading .small-text{
    font-family: 'ubuntubold'; font-size: 18px; color: #ffffff; line-height: 24px; padding-left: 6px;
}
.faq-container .heading h3{
    font-family: 'ubuntubold'; font-size:100px; color: #ffffff; line-height: 40px;
}
.faq-container .breadcrumb{
    font-family: 'ubuntumedium'; font-size: 14px; background-color: transparent; margin-top: 32px; margin-bottom: 30px;
    padding: 4px 0px;
}
.faq-container .breadcrumb li{ text-transform: uppercase;

}
.faq-container .breadcrumb li a {
    text-decoration: none; color: #c3c3c3; 
}
.faq-container .breadcrumb li a:hover{
    color: #848484;
}
.faq-container .breadcrumb li a.active{
    color: #848484;
}
.faq-container .questions-container{
    font-family: 'ubunturegular'; padding-bottom: 40px;
}
.faq-container .questions-container #accordion .panel-default > .panel-heading{
    background-color: transparent; border:none; color: #404040; border-color: transparent;
}
.faq-container .questions-container #accordion .panel{
    border:none; box-shadow: none; -webkit-box-shadow:none; -moz-box-shadow:none;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body{
    border-top:1px dashed #e0e0e0; padding: 10px 0px; font-size: 13px; color: #848484; line-height: 22px; padding-bottom: 20px;
}
.panel-title{
    font-family: 'ubuntubold'; font-size: 21px; line-height: 24px; color: #848484; text-transform: uppercase;
}
.panel-heading{
    padding:10px 0px;
}
.panel-heading a{
    text-decoration: none;
}
.panel-heading a:hover{ color: #00aba8; text-decoration: none;
}
@media (max-width:639px){
    .faq-container .heading-container{
    background-size: 100% auto; min-height: 100px; padding-bottom: 40px;
}
.faq-container .heading{
    font-family: 'ubuntubold'; min-height: 100px; padding-top: 64px; z-index: 999; position: relative; font-size: 28px;
}
.panel-title{
    font-size: 14px;
}
}



	/*middle section(EDITED BY SARAVANAN) */
	/*---------middle section start-------*/

.fluid{
	margin:0;
	padding:0;
}
.padd{
	margin:0;
	padding:0;
}
.col-lg-box1{
	padding:0;
	margin:0;
}
.col-lg-box2{
	padding:0;
	margin:0;
}
.col-lg-box3{
	padding:0;
	margin:0;
}
.col-lg-small-box1{
	padding:0;
	margin:0;
}
.col-lg-small-box2{
	padding:0;
	margin:0;
}
.col-lg-small-box3{
	padding:0;
	margin:0;
}
.col-lg-small-box4{
	padding:0;
	margin:0;
}
.padd1{
	margin:0;
	padding:0;
}
.col-lg-box1 img{
	position:relative;
}
.hover1{
	position:absolute;
	top:0;
    opacity:0.9;
	background:url(../img/Alpha1.png) no-repeat;
	opacity:0.9;
	width:449px;
	height:322px;
	display:none;
		
}
.heading{
	font-family: 'ubuntubold';
    font-size: 2.4vw;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 10px;
	position:absolute;
	color:#fff;
	width:400px;
    top:35px;
	left:15px;

} 
.hover1 p{
	color:#fff;
	font-family: 'ubuntulight';
    font-size: 1.3vw;
    font-weight: 400;
    line-height: 1.1;
	position:absolute;
	top:115px;
	left:15px;
	width:440px;
	
}
.col-lg-box1:hover .hover1{
	display:block;	
}
.read-more {
    background: rgba(255, 255, 255, 0.3);
    bottom:0;
    color: #fff;
    font-family: 'ubuntubold';
    font-size: 16px;
    font-weight: 700;
    padding:12px 25px 15px 25px;
    position: absolute;
    right: 0;
    text-decoration: none;
	line-height:21px; 
}
.col-lg-box2:hover .hover1{
	display:block;	
}
.col-lg-box3:hover .hover1{
	display:block;	
}
.col-lg-small-box1 img{
	position:relative;
}
.hover2{
	position:absolute;
	top:0;
    opacity:0.9;
	background:url(../img/Alpha2.png) no-repeat;
	opacity:0.9;
	width:337px;
	height:241px;
	display:none;
		
}
.heading1{
	font-family: 'ubuntubold';
    font-size: 1.7vw;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 10px;
	position:absolute;
	color:#fff;
	width:300px;
    top:35px;
	left:15px;

} 
.hover2 p{
	color:#fff;
	font-family: 'ubuntulight';
    font-size: 1.3vw;
    font-weight: 400;
    line-height: 1.1;
	position:absolute;
	top:95px;
	left:15px;
	width:300px;
	
}
.col-lg-small-box1:hover .hover2{
	display:block;	
}
.read-more {
    background: rgba(255, 255, 255, 0.3);
    bottom:0;
    color: #fff;
    font-family: 'ubuntubold';
    font-size: 16px;
    font-weight: 700;
    padding:12px 25px 15px 25px;
    position: absolute;
    right: 0;
    text-decoration: none;
	line-height:21px; 
}
	/*---------middle section ends-------*/