.cbp-af-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10000;
	height: 64px;
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;
}

.cbp-af-header .cbp-af-inner {
	margin: 0 auto;
}

.cbp-af-header h1,
.cbp-af-header nav {
	display: inline-block;
	position: relative;
}

 /* We just have one-lined elements, so we'll center the elements with the line-height set to the height of the header */
.cbp-af-header h1,
.cbp-af-header nav a {
	line-height: 64px;
}

.cbp-af-header h1 {
	text-transform: uppercase;
	color: #333;
	letter-spacing: 4px;
	font-size: 4em;
	margin: 0;
	float: left;
}

.cbp-af-header nav {
	float: right;
}

.cbp-af-header nav a {
	color: #aaa;
	font-weight: 700;
	margin: 0 0 0 20px;
	font-size: 1.4em;
}

.cbp-af-header nav a:hover {
	color: #333;
}

/* Transitions and class for reduced height */
.cbp-af-header h1,
.cbp-af-header .nav a {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.cbp-af-header.cbp-af-header-shrink {
	height: 50px;
}
.cbp-af-header.cbp-af-header-shrink .air-bolt-logo{
	height: 50px !important;
}
.cbp-af-header.cbp-af-header-shrink .air-bolt-logo img{
	/* width:50px; */
}
.cbp-af-header.cbp-af-header-shrink li.active a, .cbp-af-header.cbp-af-header-shrink li a{
	padding-top:15px; padding-bottom:15px;
}
.cbp-af-header.cbp-af-header-shrink a.kickstarter{
	margin-top:12px; padding-top:0px;
}
.cbp-af-header.cbp-af-header-shrink .dropdown-menu li a{
	padding-top:10px; padding-bottom: 10px; 
}
.cbp-af-header.cbp-af-header-shrink 
.topmenu-rightside a.facebook, 
.cbp-af-header.cbp-af-header-shrink 
.topmenu-rightside a.twitter, 
.cbp-af-header.cbp-af-header-shrink 
.topmenu-rightside a.instagram{ margin-top:-4px;
}
.cbp-af-header.cbp-af-header-shrink h1,
.cbp-af-header.cbp-af-header-shrink nav a {
	line-height: 64px;
}

.cbp-af-header.cbp-af-header-shrink h1 {
	font-size: 2em;
}
.cbp-af-header.cbp-af-header-shrink .navbar-collapse{ margin-top: 0px;
}
.cbp-af-header.cbp-af-header-shrink .collapse.in li a{
	padding-top: 10px; padding-bottom: 10px; 
}

/* Example Media Queries */
@media screen and (max-width: 55em) {
	
	.cbp-af-header .cbp-af-inner {
		width: 100%;
	}

	.cbp-af-header h1,
	.cbp-af-header nav {
		display: block;
		margin: 0 auto;
		text-align: center;
		float: none;
	}

	.cbp-af-header h1,
	.cbp-af-header nav a {
		line-height: 115px;
	}

	.cbp-af-header nav a {
		margin: 0 10px;
	}

	.cbp-af-header.cbp-af-header-shrink h1,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 45px;
	}

	.cbp-af-header.cbp-af-header-shrink h1 {
		font-size: 2em;
	}

	.cbp-af-header.cbp-af-header-shrink nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 32.25em) {
	.cbp-af-header nav a {
		font-size: 1em;
	}
}

@media screen and (max-width: 24em) {
	.cbp-af-header nav a,
	.cbp-af-header.cbp-af-header-shrink nav a {
		line-height: 1;
	}
}
