.beta-heading {
	text-align:center;
	vertical-align:middle;
	width:100%;
	font-family: FuturaBt;
	font-size: 5em;
	color: #fff;
	padding-bottom: 80px;
	padding-top: 100px;
}

.forgot-beta-code {
	display: none;
	font-size: 0.8em;
}

.forgot-beta-code a {
	color: #f2f2f2;
	text-decoration: underline;
}

.forgot-beta-code a:hover {
	color: #ffc600;
}

.not-beta-member {
	display: none;
	font-size: 0.8em;
}

.not-beta-member a {
	color: #f2f2f2;
	text-decoration: underline;
}

.not-beta-member a:hover {
	color: #ffc600;
}

.landing-container {
	font-family: 'myriadpro';
}

.invalid-email {
	display: none;
	color: #e60000;
}

.landing-container {
	height: 450px;
}

.landing-container p {
	color: #fff;
	font-size: 1.2em;
	width: 600px;
	margin: 0 auto;
	padding-bottom: 50px;
}

.landing-input input,textarea {
	border-width: 0px;
	padding: 6px;
	margin: 10px;
	width: 600px;
	display: none;
}

.landing-input textarea {
	height: 100px;
}

.landing-button {
	background-color: #ffc600;
	padding: 6px 30px;
	margin-top: 0px;
	margin-bottom: 100px;
	font-weight: bold;
	font-size: 18px;
	color: #fff;
	border-width: 0px;
	border-radius:20px;
}
