#body-maint {
  font-family:  Arial;
  background: #CCC;
}
#main-maint {
  background: #EEE;
  width: 80%;
  margin: 20px auto;
  padding: 10px 0;
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
}
#h2-maint {
  text-align: center;
}
#p-maint {
  font-size: 13px;
}
.white{
  color: white !important;
}
.input {
  display: none;
  visibility: hidden;
}
label {
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #CCC;
}
label:hover {
  color: #000;
}
#label-sev {
  transition: all 2s;
  color: #666;
}
#label-type {
  transition: all 2s;
  color: #666;
}
#label-enc {
  transition: all 2s;
  color: #666;
}
#label-desc {
  transition: all 2s;
  color: #666;
}
#label-date {
  transition: all 2s;
  color: #666;
}
#label-type::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
#label-desc::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
#label-enc::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
#label-date::before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
#label-sev:before {
  font-family: Consolas, monaco, monospace;
  font-weight: bold;
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}
.submit-btn {
  text-align: center;
}
#expand-maint-type {
  height: 0px;
  overflow: hidden;
  transition: height 1s;
}
#expand-maint-desc {
  height: 0px;
  overflow: hidden;
  transition: height 1s;
}
#expand-maint-enc {
  height: 0px;
  overflow: hidden;
  transition: height 1s;
}
#expand-maint-date {
  height: 0px;
  overflow: hidden;
  transition: height 1s;
}
#expand-maint-sev {
  height: 0px;
  overflow: hidden;
  transition: height 1s;
}
#section-maint {
  padding: 0 20px;
  text-align: center;
}
#toggle-type:checked ~ #expand-maint-type {
  height: 95px;
}
#toggle-desc:checked ~ #expand-maint-desc {
  height: 200px
}
#toggle-enc:checked ~ #expand-maint-enc {
  height: 50px
}
#toggle-date:checked ~ #expand-maint-date {
  height: 95px
}
#toggle-sev:checked ~ #expand-maint-sev {
  height: 90px
}
#toggle-type:checked ~ #label-type::before {
  content: "-";
}
#toggle-desc:checked ~ #label-desc::before {
  content: "-";
}
#toggle-enc:checked ~ #label-enc::before {
  content: "-";
}
#toggle-date:checked ~ #label-date::before {
  content: "-";
}
#toggle-sev:checked ~ #label-sev::before {
  content: "-";
}
#dateTimeInput {
  display: block;
  margin: 0 auto;
}
#dateTimeInput2{
  display: block;
  margin: 0 auto;
}
#dateTimeInput3{
  display:block;
  margin:0 auto;
}
#issueText{
  height: 200px !important;
}
