html {
  height: 100%;
}

html, body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Lato, sans-serif;
  font-size: 12px;
  color: #303030;
  font-weight:300;
  overflow: hidden;
}

.bold, b, strong {font-weight:bold;}
.italic, i, em {font-style:italic;}
.underline, u {text-decoration:underline;}
.delete {text-decoration:line-through;}
.text_right, .align-right, .right-align {text-align:right !important;}
.text_left, .align-left, .left-align {text-align:left !important;}
.text_center, .align-center, .center-align {text-align:center !important;}
.normal {font-weight:normal  !important;}
.light {font-weight:300;}
.align-top {vertical-align:top;}
.smalltext, .small {font-size:11px !important; font-style:italic !important; color:#666 !important; text-transform:lowercase !important;}
.left {float:left !important;}
.right {float:right !important;}
.full-width {float:left; width:100%; padding:0;}
.half-width {float:left; width:50%; padding:0; box-sizing: border-box;}
.full-height {height:100vh;}
.full {width:100% !important; display:inline-block !important; float:none !important; margin:0 !important; padding:0 !important;}
img.full {height:auto;}
.float-none {float:none;}
.relative {position:relative;}
.no-pad {padding:0 !important; background:#eee !important;}
.mobile-only {display:none;}
.hide {display:none !important;}
.uppercase {text-transform:uppercase;}
.pointer {cursor:pointer !important;}

.blue-text {color:#3b96ff;}
.orange-text {color:#ffd35f;}
.gray-text {color:#999;}
.white-text {color:#fff;}

.white-bg {background:#fff;}
.dark-bg {background:#303030;}
.blue-bg {background:#3b96ff;}
.xlight-gray-bg {background:#eee;}
.light-gray-bg {background:#e3e3e3;}
.orange-bg {background:#ffd35f;}

.blue-bg {background:#3b96ff; color:#fff;}
.light-blue-bg {background:#a7edfe;}

.border-bottom-lg  {border-bottom:solid 1px #e3e3e3;}
.border-top-lg  {border-top:solid 1px #e3e3e3;}
.border-right-g  {border-right:solid 1px #ccc;}
.border-bottom-g  {border-bottom:solid 1px #ccc;}
.border-top-g  {border-top:solid 1px #ccc;}
.border-bottom-b  {border-bottom:solid 1px #3b96ff;}
.border-top-b  {border-top:solid 1px #3b96ff;}

/* COLUMN STRUCTURE - 12 COLUMNS */

.row {width:100%; display:block; margin:0; padding:0; font-family: Lato, sans-serif; font-size: 14px;}
.col {display:inline-block; padding:10px 1% !important; vertical-align:top; box-sizing: border-box;}
.one-col {width:8% !important;}
.two-col {width:16% !important;}
.three-col {width:24% !important;}
.four-col {width:33% !important;}
.five-col {width:41% !important;}
.six-col {width:49% !important;}
.seven-col {width:58% !important;}
.eight-col {width:66% !important;}
.nine-col {width:74% !important;}
.ten-col {width:82% !important;}
.eleven-col {width:91% !important;}
.twelve-col {width:100% !important;}

.form-fields .row .col {float:left; padding:10px 1% !important; margin-left:1% !important; vertical-align:top; box-sizing:border-box;}
.form-fields .row .two-col {width:15.666% !important;}
.form-fields .row .three-col {width:23.333% !important;}
.form-fields .row .four-col {width:31.666% !important;}
.form-fields .row .five-col {width:39.666% !important;}
.form-fields .row .six-col {width:48% !important;}
.form-fields .row .eight-col {width:64.333% !important;}
.form-fields .row .twelve-col {width:97% !important;}

/* END COLUMN STRUCTURE - 12 COLUMNS */

h1, h2, h3, h4, h5, h6 {font-weight: bold; margin:10px 0; overflow: hidden; width:100%; line-height: 1.0; display:block;}
h1 {font-size: 38px;}
h2 {font-size: 32px;}
h3 {font-size: 24px;}
h4 {font-size: 18px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}

p {font-size: 12px; line-height: 1.3em; text-align: left; margin:10px 0; display:block;}
sup, sub {display:inline-block; font-size:50%;}
sup {vertical-align:top; margin-top:5px;}
sub {vertical-align:bottom;}

input[type=text], select, textarea {display:inline-block; vertical-align: middle; width:100%; padding:5px 3%; font-size:16px; background:#f3f3f3; border:solid 1px #ccc; box-sizing:border-box; margin-bottom:5px;-webkit-appearance: none; border-radius:0; -webkit-border-radius:0; }

select {padding:4px 3%;}

.btn {display:inline-block; width:auto; padding:8px 15px; border-radius:5px; -webkit-border-radius:5px; font-size:16px; text-decoration:none; -webkit-transition: background 500ms ease;
-moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;}
.btn.btn-small {font-size:14px; padding:5px 10px;}
.material-icons {font-size:18px; vertical-align: middle; display:inline-block;}
.btn.blue-bg {background:#3b96ff; color:#fff;}
.btn.blue-bg:hover {background:#2779d7;}
.btn.blue-ghost {-webkit-box-shadow:inset 0 0 0 2px #3b96ff; box-shadow:inset 0 0 0 2px #3b96ff; color:#3b96ff;}
.btn.blue-ghost:hover {-webkit-box-shadow:inset 0 0 0 2px #2779d7; box-shadow:inset 0 0 0 2px #2779d7; color:#2779d7;}
.btn.btn-small.blue-ghost {-webkit-box-shadow:inset 0 0 0 1px #3b96ff; box-shadow:inset 0 0 0 1px #3b96ff;}
.btn.btn-small.blue-ghost:hover {-webkit-box-shadow:inset 0 0 0 1px #2779d7; box-shadow:inset 0 0 0 1px #2779d7;}

.flex-wrap {display:flex !important; align-items:center;}
.flex-wrap.flex-end {align-items:flex-end;}


header#header {position:absolute;top:0; left:0; right:0; width:100%; height:60px; border-bottom:solid 1px #eee; z-index: 5; }
header#header img#nav-logo {position:absolute; top:5px; left:19px; width:40px; height:auto; z-index: 2;}
header#header .search-box-wrap {display:inline-block; margin:13px 0 0 165px; width:350px; height:35px; overflow: hidden; position: relative; border:solid 1px #3b96ff;}
header#header .search-box-wrap input[type=text] {margin-bottom:0 !important; border:0; position:absolute; height:100%; width:100%; top:0; left:0; right:0; bottom:0; z-index: 1;}
header#header .search-box-wrap #search-btn {position:absolute; z-index: 2; top:0; right:0; bottom:0; font-size:16px; color:#fff; width:20px; padding:10px 12px; background:#3b96ff; cursor:pointer; -webkit-transition: background 500ms ease;-moz-transition: background 500ms ease; -ms-transition: background 500ms ease; -o-transition: background 500ms ease; transition: background 500ms ease;}
header#header .search-box-wrap #search-btn:hover {background:#2779d7;}


/* BEGIN SEARCH RESULTS */

#results-wrap.full-height {height: calc(100vh - 61px); margin-top:61px; overflow: hidden;}
#results-wrap .map-view, #results-wrap .list-view {position:absolute; top:0; height:100%; bottom:0; z-index: 2;  overflow: hidden;}
#results-wrap .map-view {left:0; right:600px;}
#results-wrap .map-view #map {position:absolute; top:0; left:0; right:0; bottom:0; width:100%; height: 100%; z-index: 1; }
#results-wrap .map-view #save-search-btn {position:absolute; top:10px; right:10px; z-index: 2; -webkit-box-shadow:0 0 3px 0 rgba(0,0,0,.25); box-shadow:0 0 3px 0 rgba(0,0,0,.25);}
#results-wrap .list-view {right:0; width:600px; -webkit-box-shadow:0 0 3px 0 rgba(0,0,0,.25); box-shadow:0 0 3px 0 rgba(0,0,0,.25);}

#results-wrap .map-view .marker {display:inline-block; padding:5px; background:#ffd35f; color:#fff; font-size:11px; font-weight:bold; text-align: center; border-radius;3px; -webkit-border-radius:3px; position: absolute; top:100px; left:50px; z-index: 5; width:40px;}
#results-wrap .map-view .marker .material-icons {font-size:13px; color:#fff; display:inline-block; vertical-align: middle; margin:-3px 0 0 -3px;}
#results-wrap .map-view .marker .bottom-arrow {position:absolute; bottom:-10px; left:50%; margin-left:-5px; border:solid 5px transparent; border-top:solid 5px #ffd35f; z-index: 2;}
#results-wrap .map-view .marker.hot {top:150px; left:150px; width:55px;}
#results-wrap .map-view .marker.favorite {top:200px; left:200px; width:55px;}

#list.list-view h4 {margin:0; line-height: 1.0; padding:0; font-weight:300;}
#filters {position:relative; z-index: 3;}
#filters, #filters select {font-size:12px !important; line-height: 1.3 !important;}

#filters .add-filters {position:absolute; top:65px; right:0; width:100%; background:#fff; box-sizing:border-box; border:solid 1px #3a96ff; padding:10px 3%; line-height: 1.5; -webkit-box-shadow:0 0 3px 0 rgba(0,0,0,.25); box-shadow:0 0 3px 0 rgba(0,0,0,.25); display:none;}
#filters .add-filters .top-arrow {position:absolute; top:-14px; right:50px; border:solid 7px transparent; border-bottom:solid 7px #3a96ff;}

#sorting {background:rgba(255, 255, 255, .95); position:relative; z-index: 2; margin-top:-4px;}
.sort-options {position: absolute; top:35px; left:0; width:250px; background:#fff; box-sizing:border-box; border:solid 1px #3a96ff; padding:10px 3%; -webkit-box-shadow:0 0 3px 0 rgba(0,0,0,.25); box-shadow:0 0 3px 0 rgba(0,0,0,.25); display:none;}
.sort-options .top-arrow {position:absolute; top:-14px; left:30px; border:solid 7px transparent; border-bottom:solid 7px #3a96ff;}
.sort-options a {color:#303030; font-weight:bold; text-decoration: none; text-align: center;}
.sort-options a:hover, #sorting .sort-options a.active {background:#303030; color:#ffd35e;}
.sort-options a .material-icons {display:none;}
.sort-options a.active .material-icons {display:block;}

#list-results {position:absolute; bottom:0; left:0; right:0; top:102px; padding-top:38px; width:100%; overflow:hidden; overflow-y:auto !important; z-index: 1;-webkit-overflow-scrolling: touch}
#list-results .single-listing {height:200px; overflow: hidden;}
#list-results .single-listing .photos {height:200px; position: relative;}
#list-results .single-listing .photos .img-wrap {width:100%; height:200px; overflow: hidden; float:left; position: relative;}
#list-results .single-listing .photos .img-wrap img {position:absolute; top:0; left:0; width:auto; height:auto; min-width:100%; min-height: 100%;}
#list-results .single-listing .photos .img-wrap img:empty {top:50%; left:50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}

#list-results .single-listing .photos .owl-nav {position:absolute; top:40%; left:0; width:100%; height:0px; z-index: 9;}
#list-results .single-listing .photos .owl-nav .owl-prev, #list-results .single-listing .photos .owl-nav .owl-next {position: absolute; top:-10px; font-size:20px; padding:5px; color:#fff;}
#list-results .single-listing .photos .owl-nav .material-icons {font-size:30px; opacity:0.0;filter: alpha(opacity=0); -webkit-transition: all 500ms ease; -moz-transition: all 500ms ease; -ms-transition: all 500ms ease; -o-transition: all 500ms ease; transition: all 500ms ease;}
#list-results .single-listing:hover .photos .owl-nav .material-icons {opacity:1.0; filter: alpha(opacity=100);}
#list-results .single-listing .photos .owl-nav .owl-prev {left:0px;}
#list-results .single-listing .photos .owl-nav .owl-next {right:0px;}


#list-results .single-listing a.bottom-info {position:absolute; text-decoration:none; bottom:0; left:0; right:0; width:100%; z-index: 2; background:rgba(0, 0, 0, .35);}
.bottom-info .col.six-col {padding:5px 3% !important;}
.bottom-info h3, .bottom-info h6, .bottom-info p {margin:0; line-height: 1.3;}
.bottom-info .overall-rating {padding-bottom:3px !important;}
.bottom-info .overall-rating .material-icons {padding:0; margin:0; font-size:14px; color:#fff;}
.bottom-info .overall-rating h3, .bottom-info .overall-rating h6 {line-height:1.0 !important;}

.single-list-info .col.twelve-col.features p {margin:5px 0 !important;}
.single-list-info > .col.six-col {padding:0 1% 10px 1% !important; font-size:12px !important;}
.single-list-info .fav-actions .material-icons {cursor:pointer;}
.single-list-info .fav-actions .inactive {color:#ccc;}
.single-list-info .fav-actions .active {color:#3a95ff;}
.single-list-info .btn.btn-small {margin-top:-3px;}
.single-list-info .btn.btn-small .material-icons {font-size:14px !important; margin-top:-3px;}

#map-list-toggle {display:none; position: fixed; bottom:0; right:0; left:0; height:50px; background:#fff; border-top:solid 1px #ccc; z-index: 3;}
#map-list-toggle .toggle-view-btn {border:solid 1px #2779d7; padding:10px 2%; text-decoration:none; color:#2779d7;}
#map-list-toggle .toggle-view-btn.active, #map-list-toggle .toggle-view-btn:hover {color:#fff; background:#2779d7;}

/* END SEARCH RESULTS */





/* BEGIN MOBILE */

@media (min-width:480px) and (max-width:1023px) {
	header#header .search-box-wrap {width:320px;}
	#results-wrap .map-view {right:300px;}
	#results-wrap .list-view {width:300px;}
	#list-results .single-listing .single-list-info {display:none;}
	#list-results .single-listing .photos.half-width {width:100%;}	
}

@media (min-width:280px) and (max-width:479px) {
	header#header img#nav-logo {width:40px;}
	header#header .search-box-wrap {display:inline-block; margin:13px 10px 0 110px; width:215px;}
	#results-wrap .map-view {right:0px; width:100%; display:none;}
	#results-wrap .list-view {width:100%;}
	#list-results .single-listing .single-list-info {display:none;}
	#list-results .single-listing .photos.half-width {width:100%;}
	#sorting > .col.nine-col {display:none;}
	#list-results {top:75px; padding-top:0;}
	#filters .col.three-col, #filters .col.four-col {width:50% !important;}
	#filters .add-filters {top:35px;}
	#sorting {z-index: 10;background:transparent; border-bottom:none;}
	#sorting .sort-options {top:2px;}
	.bottom-info h3 {font-size:18px;}
	.bottom-info h6, .bottom-info p {font-size:11px; font-weight:normal;}
	#results-wrap.full-height {height: calc(100vh - 111px);}
	
	#map-list-toggle {display:block;}
	
}

/* END MOBILE */
