/* Bootstrap Adjustments */

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-right: 32px;
	padding-left: 32px;
}

.container-fluid {
	padding-right: 32px;
	padding-left: 32px;
}

.form-control {
	color: inherit;
	font-size: 20px;
	border: 2px solid #F4F6FB;
	border-radius: 8px;
	height: inherit;
	padding: 16px 8px;
	-webkit-box-shadow: none;
	box-shadow: none;
}
	.form-control:focus {
		border-color: #369AFF;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

.form-group {
	margin-bottom: 32px;
	padding: 0;
}

.row {
	margin-right: -32px;
	margin-left: -32px;
}

/* Universal Styles */

::-webkit-input-placeholder {
  color: #B6BEBF;
  opacity: 1;
}
::-moz-placeholder {
  color: #B6BEBF;
  opacity: 1;
}
:-ms-input-placeholder {
  color: #B6BEBF;
  opacity: 1;
}
:-moz-placeholder {
  color: #B6BEBF;
  opacity: 1;
}

::selection {
	color: #FFF;
	background: #369AFF;
}

@font-face {
	font-family: Metropolis;
	src: url(../fonts/Metropolis-Thin.woff);
	font-weight: 200;
}

@font-face {
	font-family: Metropolis;
	src: url(../fonts/Metropolis-Regular.woff);
	font-weight: 400;
}

@font-face {
	font-family: Metropolis;
	src: url(../fonts/Metropolis-Medium.woff);
	font-weight: 500;
}

@font-face {
	font-family: Metropolis;
	src: url(../fonts/Metropolis-Bold.woff);
	font-weight: 700;
}

* {
	box-sizing: border-box;
}

a, body, canvas, caption, div, footer, form, h1, h2, h3, h4, h5, h6, header, html, i, iframe, img, label, li, menu, nav, object, ol, p, section, small, span, strike, strong, table, tbody, td, tr, ul, var, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

header, footer, nav {
	display: block;
}

a {
	color: #B6BEBF;
	font-weight: 500;
	text-decoration: none;
	transition: all ease .2s;
}
	a:hover {
		color: #303030;
		text-decoration: none;
	}
	a:focus {
		color: #303030;
		text-decoration: none;
	}


body {
	font-family: Metropolis, sans-serif;
	font-weight: 400;
	line-height: 1;
	color: #303030;
	-webkit-font-smoothing: antialiased;
	min-height: 100vh;
	padding: 64px 0 64px 0;
}

h1 {
	font-size: 72px;
	font-weight: 700;
	letter-spacing: -2px;
	line-height: 1.2em;
}

h2 {
	font-size: 60px;
	font-weight: 700;
	letter-spacing: -2px;
}

h3 {
	font-size: 48px;
}

h4 {
	font-size: 32px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 20px;
}

h3, h4, h5, h6 {
	font-weight: 500;
}

p {
	font-size: 20px;
	line-height: 1.5;
	display: block;
	padding-bottom: 32px;
}

ol, ul {
	list-style: none;
}

.small {
	font-size: 80%;
	color: #B6BEBF;
	margin-bottom: 0;
}



/* Header */

header {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
	padding: 0 32px;
}
	header .logo {
		-webkit-align-self: center;
		-ms-flex-item-align: center;
		-ms-grid-row-align: center;
		align-self: center;
		-webkit-flex: 1;
		-ms-flex: 1;
		flex: 1;
	}
		header .logo a {
			position: relative;
			margin-right: 48px;
			font-size: 20px;
			display: inline-block;
			transition: all ease .2s;
		}
		header .logo a:last-child {
			margin-right: 0;
		}

	header nav {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex: 3;
		-ms-flex: 3;
		flex: 3;
		-webkit-align-self: center;
		-ms-flex-item-align: center;
		-ms-grid-row-align: center;
		align-self: center;
		-webkit-justify-content: flex-end;
		-ms-flex-pack: end;
		justify-content: flex-end;
	}
		header nav a {
			-webkit-align-self: center;
			-ms-flex-item-align: center;
			-ms-grid-row-align: center;
			align-self: center;
			text-align: right;
			text-decoration: none;
			font-size: 20px;
			margin: 0 24px;
			transition: all ease .2s;
		}
		header nav a:last-child {
			margin-right: 0;
		}
			header nav a.active:after {
				content: "";
				position: absolute;
				left: 0;
				top: 24px;
				width: 100%;
				height: 2px;
				background-color: #303030;
			}
		header nav .divider {
			background-color: #B6BEBF;
			width: 1px;
			margin: 16px 24px;
		}

	header .mobile {
		display: none;
	}
/* Page Elements */

.action-wrapper {
}

/*body {
	background-color: rgba(235,244,247,1);
}*/

.block {
	margin: 32px 0;
}

.color-shadow {
	transition: all ease .2s;
}
	.color-shadow:hover {
		-webkit-box-shadow: -32px -32px 0px 0px rgba(182,190,191,.5);
		-moz-box-shadow: -32px -32px 0px 0px rgba(182,190,191,.5);
		box-shadow: -32px -32px 0px 0px rgba(182,190,191,.5);
	}

.cta {
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	position: relative;
	z-index: 10;
}

.extra-space {
	margin-bottom: 128px;
}

.icon-large {
	padding-right: 32px;
	float: left;
	display: block;
	max-width: 128px;
}

.image-area {
	margin-bottom: 64px;
}

.left {
	float: left;
}

.login h2, .signup h2 {
	margin-bottom: 64px;
}

.login-container {
	margin-top: 96px;
	margin-bottom: 288px;
	min-height: 144px;
}

.page-intro {
	text-shadow: rgba(182,190,191,.5) -8px -8px;
}

.page-wrapper {
	margin: 0 auto;
	padding: 0;
}

.page-wrapper, header, footer {
	max-width: 1440px;
}

.page-wrapper .full-height {
	margin: 256px 0 256px 0;
}

.right {
	float: right;
}

.text-area {
	margin-bottom: 64px;
	overflow: hidden;
}

.shadow-box {
	background-color: #FFF;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.24);
	padding: 64px;
}
	.shadow-box h2 {
		margin-bottom: 32px;
	}

.signup-container {
	margin-top: 96px;
	margin-bottom: 96px;
	min-height: 144px;
}

.tabcontent {
	display: none;
	-webkit-animation: fadeEffect .5s;
    animation: fadeEffect .5s;
}
	@-webkit-keyframes fadeEffect {
	    from {opacity: 0;}
	    to {opacity: 1;}
	}
	@keyframes fadeEffect {
	    from {opacity: 0;}
	    to {opacity: 1;}
	}

.tabs {
	width: 100%;
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}
	.tabs li {
		float: none;
		position: relative;
	}
		.tabs li a {
			color: #B6BEBF;
			background-color: #FFF;
			text-align: center;
			position: relative;
			display: block;
			margin-bottom: 0;
			padding: 16px;
			border: 2px solid #B6BEBF;
			border-radius: 8px;
			transition: all ease .2s;
		}
		.tabs li a:hover {
			color: #FFF;
			background-color: #B6BEBF;
		}
		.tabs li:first-child a {
			margin-right: 16px;
		}
		.tabs li:last-child a {
			margin-left: 16px;
		}
		.tabs li a.active {
			color: #FFF;
			background: #369AFF;
			border-color: #369AFF;
		}

	@media (min-width: 768px) {
		.tabs li {
			display: table-cell;
			width: 1%;
		}
	}

.tabs-wrapper {
	margin-bottom: 64px;
}

.underline {
	background-color: #303030;
	height: 4px;
	width: 64px;
}

.home .vertical-center {
	margin-top: 192px;
	margin-bottom: 192px;
}

.features .vertical-center {
	margin: 64px 0 128px 0;
}

.features section {
	padding-top: 0px;
}

.features p {
	padding-bottom: 0;
}

.features h1 {
	padding-bottom: 56px;
}

.features h2 {
	padding-bottom: 16px;
}
	.features h2 + p {
		padding-bottom: 64px;
	}

.features h4 {
	padding-bottom: 16px;
}

/* Interactive Elements */

.border-button {
	color: #FFD15E;
	border: 2px solid #FFD15E;
	border-radius: 8px;
	text-align: center;
	display: inline-block;
	padding: 16px;
	transition: all ease .2s;
}
	.border-button:hover {
		color: #FFF;
		background-color: #FFD15E;
	}
	.border-button:focus {
		color: #FFF;
		background-color: #FFD15E;
		text-decoration: none;
	}

.fadeIn {
	opacity: 0;
}

.forgot-pswd {
	line-height: 48px;
}

input {
	font-size: 20px;
}
	input:focus {
		outline: none;
	}

.left-arrow {
	height: 15px; width: 15px;
	border: 1px solid #369AFF;
	border-width: 4px 4px 0 0;
	transform: rotate(-135deg);
	display: inline-block;
}

.right-arrow {
	height: 15px; width: 15px;
	border: solid #369AFF;
	border-width: 4px 4px 0 0;
	transform: rotate(45deg);
	display: inline-block;
	float: right;
}

.solid-button {
	color: #FFF;
	background-color: #369AFF;
	border-radius: 8px;
	text-align: center;
	display: block;
	padding: 16px;
	transition: background-color .2s ease, border-color .2s ease, color .2s ease;
}
	.solid-button:hover {
		background-color: #69C6F9;
		color: #FFF;
	}
	.solid-button:focus {
		color: #FFF;
		background-color: #369AFF;
		text-decoration: none;
	}

.scroll-container {
	padding: 0 5px;
}

/*.tabss {
	color: #FFF;
	background: #369AFF;
	border-radius: 8px;
	padding: 16px;
	transition: all ease .2s;
}*/

.text-form {
	border: none;
	border-bottom: 2px solid #F4F6FB;
	display: block;
	width: 100%;
	padding: 0 0 16px 0;
	transition: all ease .2s;
}
	.text-form:focus {
		border-bottom: 2px solid #369AFF;
	}



/* Footer */

footer {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin: 0 auto;
	padding: 0 32px;
}

footer .desktop {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
}
footer .desktop > div:last-child {
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
}

footer a, footer p {
	position: relative;
	font-size: 16px;
	display: inline-block;
	transition: all ease .2s;
}

footer .desktop ul {
	text-align: right;
}

footer .desktop ul li {
	display: inline-block;
	margin-right: 32px;
}
	footer .desktop ul > li:last-child {
		margin-right: 0;
	}

footer .logo p {
	color: #B6BEBF;
	line-height: 0;
	margin-left: 32px;
	margin-bottom: 0;
}

/* Animations */

.floating {
	margin-bottom: 64px;
	-webkit-animation: floating-text 4s ease-in-out alternate infinite;
	-moz-animation: floating-text 4s ease-in-out alternate infinite;
	-ms-animation: floating-text 4s ease-in-out alternate infinite;
	-o-animation: floating-text 4s ease-in-out alternate infinite;
	animation: floating-text 4s ease-in-out alternate infinite;
}

@-webkit-keyframes floating-text {
  0% {
    -webkit-transform: translateY(.2em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.2),
      0 .3em .2em rgba(0,0,0,.2);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.1),
      0 .5em .5em rgba(0,0,0,.1);
  }
}
@-moz-keyframes floating-text {
  0% {
    -moz-transform: translateY(.2em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.2),
      0 .3em .2em rgba(0,0,0,.2);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.1),
      0 .5em .5em rgba(0,0,0,.1);
  }
}
@-ms-keyframes floating-text {
  0% {
    -ms-transform: translateY(.2em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.2),
      0 .3em .2em rgba(0,0,0,.2);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.1),
      0 .5em .5em rgba(0,0,0,.1);
  }
}
@-o-keyframes floating-text {
  0% {
    -o-transform: translateY(.2em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.2),
      0 .3em .2em rgba(0,0,0,.2);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.1),
      0 .5em .5em rgba(0,0,0,.1);
  }
}
@keyframes floating-text {
  0% {
    transform: translateY(.2em);
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.2),
      0 .3em .2em rgba(0,0,0,.2);

  }
  100% {
    text-shadow:0 0 .5em rgba(255,255,255,.4),
      0 0 .2em rgba(0,0,0,.1),
      0 .5em .5em rgba(0,0,0,.1);
  }
}

/* Media Queries */

@media screen and (min-width: 1080px) {
}

@media screen and (max-width: 991px) {
	header > .logo, header > nav {
		display: none;
	}
	header .mobile {
		position: relative;
		display: flex;
		width: 100%;
	}
		header .mobile .menu > .menu-icon {
			display: inline-block;
			width: 24px;
			height: 14px;
		}
			header .mobile .menu > .menu-icon > span {
				display: block;
				height: 2px;
				width: 100%;
				background: #B6BEBF;
				margin-bottom: 4px;
			}
			header .mobile .menu > .menu-icon > span:last-child {
				margin-bottom: 0;
			}

	.home h1, h2, h3, h4, h5, h6, p {
		text-align: center;
	}

	.border-button {
		display: block;
		max-width: 180px;
		margin: 0 auto;
	}
}

/* #F6F8FD - light gray */
/* #B6BEBF - medium gray */
/* #303030 - dark gray */
/* #369AFF - blue */
/* #FFFCB6 - yellow */
