body {
	font-size: 16px;
}

p {
	font-size: 16px;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 32px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

a {
	color: #369AFF;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.shadow-box {
	background-color: #FFF;
	padding: 24px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.subscription h1 {
	margin: 0 0 .25em 0;
}

.subscription ul {
	display: block;
	border-top: 1px solid #BBB;
	border-bottom: 1px solid #BBB;
	margin: 16px 0 32px 0;
	padding: 24px 0 16px 0;
}

.subscription ul > li {
	color: #BBB;
	background: url(/tenantu/public/images/check_gray.svg) left no-repeat;
	background-size: 16px;
	margin: 0 0 12px 0;
	padding: 0 0 0 48px;
}

#checked {
	color: #333;
	background: url(/tenantu/public/images/check_green.svg) left no-repeat;
	background-size: 16px;
}

.price {
	font-size: 24px;
}

.small {
	font-size: .6em;
}

.price-per {
	font-size: 12px;
}

.btn {
	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 8px;
	display: block;
	margin: 0 auto;
	padding: 8px;
}

.btn-border {
	border: 2px solid #369AFF;
}
.btn-border:hover {
	color: #369AFF;

}
.btn-solid {
	background: #369AFF;
	color: #FFF;
}
.btn-solid:hover {
	color: #FFF;
}
