@charset "utf-8";
/* CSS Document */

/************************************************************
 * Tenantu
 * 
 * Created on	: October 09 ,2015
 * Author    	: Rajeev K.R
 * company name : Offshorent Pvt. Ltd.
 * URL       	: www.offshorent.com
 ************************************************************/
body {
	padding: 0px;
	margin: 0px;
}
@font-face {
	font-family: 'myriadpro-light';
	src: url('../fonts/myriadpro-light.eot');
	src: url('../fonts/myriadpro-light.eot?#iefix') format('embedded-opentype'),  url('../fonts/myriadpro-light.woff') format('woff'),  url('../fonts/myriadpro-light.ttf') format('truetype'),  url('../fonts/myriadpro-light.svg#myriadpro-light') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'myriadpro';
	src: url('../fonts/myriadpro-regular.eot');
	src: url('../fonts/myriadpro-regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/myriadpro-regular.woff') format('woff'),  url('../fonts/myriadpro-regular.ttf') format('truetype'),  url('../fonts/myriadpro-regular.svg#myriadpro') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'myriadpro-semicn';
	src: url('../fonts/myriadpro-semicn.eot');
	src: url('../fonts/myriadpro-semicn.eot?#iefix') format('embedded-opentype'),  url('../fonts/myriadpro-semicn.woff') format('woff'),  url('../fonts/myriadpro-semicn.ttf') format('truetype'),  url('../fonts/myriadpro-semicn.svg#myriadpro-semicn') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'FuturaBT';
	src: url('../fonts/futuraxk.eot');
	src: url('../fonts/FuturaBT-ExtraBlack.woff') format('woff'),  url('../fonts/mFuturaBT-ExtraBlack.ttf') format('truetype'),  url('../fonts/FuturaBT-ExtraBlack.svg#FuturaBT') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* content boxes */
/* ------------- */
.tnt-box{
	background-color: #fff; border-top:3px solid #e7eaec; padding:10px; 
	margin-bottom:20px;
}
/* content boxes heading */
.box-heads{
	width: 100%; display: inline-block; clear: both;
}
.box-heads h4{
	font-family:'myriadpro-light'; font-size: 23px; margin: 0px 0px 0px; width:auto; 
	float: left;
}
/* content boxed heading links */
.box-heads a.light-green{
	background-color: #607d8b; padding:2px 10px; font-size: 12px; color: #fff;
	border-radius:4px; float: right;
}

/* recent proprties */
/* ------------------ */
.rcnt-prts ol{
	padding:0px;
}
.rcnt-prts ol li{
	display: block; list-style: disc; border-bottom:1px solid #f3f4f5; 
	padding-top: 6px; 
	padding-bottom: 6px; color: #848484;
}
.rcnt-prts ol li:last-child{
	border-bottom:0px solid #f3f4f5;
}
.rcnt-prts ol li .number{
	width: 80px; padding-right:10px;
}


/* my payments */
.my-payments{
}
.payment-links{
	padding:34px 22px;
}
.payment-links .fa-dollar{
	font-size: 40px; color: #7c7c7c; display: inline-block; padding-right: 40px;
}
.payment-links a{
	background-color: #607d8b; padding:8px 10px; font-size: 14px; color: #fff; border-radius:4px; display: inline-block; vertical-align: top;
}


/* profile left */
.user-left-profile{
	height: 150px; cursor:pointer;
}
.user-left-profile:hover{
background-color:#263793;
}
/* my property */
.my-property-cntr .box-heads h4, .my-responses .box-heads h4{
	font-size: 31px;
}
.tnt-box.my-property-cntr .box-heads a.meroon-link{
	background-color: #e64551; padding:2px 10px; font-size: 12px; color: #fff; 
	border-radius:4px; float: right;
}
.my-property-list{
	padding:10 0px; margin-top: 10px; margin-bottom: 10px;
}
.star-rating{

}
.my-property-list .media-heading{
	font-size: 14px; color: #e64551;
}
.my-property-list .place{
	font-size:14px; color: #8a8a8a; margin-top: 10px;
}
.my-property-list .dollor-price .fa-dollar{
	color: #3f51b5;
}
.my-property-list .dollor-price{
	font-size: 17px;
}
.my-property-list .my-property{
	border-bottom: 1px solid #e7eaec; padding-bottom: 20px; padding-top: 10px;
}
.my-property-list .my-property .media-left a{
	width: 88px; height: 88px; display: block;
}
.my-property-list .my-property .media-left a img{
	max-width: 100%; min-height: 100%;
}

/* my searches */
.my-searches .box-heads h4{
	font-size: 31px;
}
.my-searches-list ul{
	padding:0px; margin:10px 0px;
}
.my-searches-list li{
	list-style: none; padding:8px 0px; border-bottom: 1px solid #f4f4f4; color: #848484;
}
.my-searches-list li span.date{
	font-family: 'myriadpro-light'; font-size: 12px; color: #404040;
}
.my-searches-list li span.time{
	font-family: 'myriadpro-light'; font-size: 12px; color: #404040; padding-left: 10px;
	padding-right: 10px;
}
.light-blue{
	background-color: #3d70be; padding:2px 10px; font-size: 12px; color: #fff; 
	border-radius:4px; float: right;
}
.light-blue:hover, .light-blue:focus{
	color: #fff; background-color: #006064;
}
h5.small-h{
	font-size: 17px; color: #848484; padding-top: 10px;
}
.small-txt{ 
	font-size: 12px; line-height: 18px; color: #848484;
}




/* landlord dashboard */
.view-property ol{
	padding:0px;
}
.view-property ol li{
	display: block; list-style: disc; border-bottom:1px solid #f3f4f5; 
	padding-top: 6px; 
	padding-bottom: 6px; color: #848484;
}
.view-property ol li:last-child{
	border-bottom:0px solid #f3f4f5;
}
.view-property ol li .number{
	width: 80px; padding-right:10px;
}
.view-property .blue{
	background-color: #1098d0; color: #fff; padding: 2px 10px;
    font-size: 12px;
    border-radius: 4px;
    float: right;
}

.post-prts{
	text-align: center;
}
.post-property-links a{
	background-color: #607d8b; padding:8px 10px; font-size: 14px; color: #fff; border-radius:4px; display: inline-block; vertical-align: top;
}
.post-property-links{
	padding:34px 22px;
}

/* responses */
.responses ul{
	margin: 10px 0px 0px; padding: 0px;
}
.responses ul li{
	display: inline-block; border-bottom: 1px solid #e7eaec; 
	width: 100%; padding-bottom: 4px; padding-top: 4px;
}
.responses ul li .image{
	width: 57px; display: inline-block;
}
.responses ul li .texts{
	width: auto; display: inline-block;
}
.responses ul li .view{
	width: 57px; display: inline-block; float: right; padding-top: 14px;
}
.view a{
	float: right;
}
.responses .image img{
	width: 100%;
    max-width: 45px;
    height: auto;
}

/* new rating */
.new-rating ul{
	margin:0px; padding:0px;
}
.new-rating ul li{
	list-style: none; border-bottom: 1px solid #e0e0e0; padding-top: 10px; padding-bottom: 10px;
}
.new-rating ul li .property-name{
	color: #8a8a8a; width: 57%; display: inline-block;
}
.new-rating ul li .users{
	font-size: 12px; width: 8%; display: inline-block;
}
.new-rating ul li .stars{
	padding-left: 10px;
}
/* righsidebar */
@media (min-width:1281px){
.right-sidebar{
	background-color: #ebebed; padding: 15px; 
	position: fixed; width: 190px; 
	top: 107px; right: 0px; font-family: 'myriadpro'; bottom:51px;
}
}
@media (max-width:1280px){
	.right-sidebar{
	background-color: #ebebed; padding: 15px; 
	position: relative;
	font-family: 'myriadpro'; width:100%;
}
.right-sidebar .requests{
	height: 200px !important;
}
}
.right-sidebar h4{
	font-family:'myriadpro-light'; font-size: 24px; color: #737373; padding:0px; margin:0px;
}
.right-sidebar ul{
	padding: 0px; font-family: 'myriadpro'; margin-top: 10px;
}
.right-sidebar ul li{
	list-style: none; font-size: 12px; margin-bottom:10px;
}
.right-sidebar .respond{
	margin-top: 10px; width: 100%; display: block; color: #1098d0;
}
.right-sidebar .time{
	color: #737373; font-size: 10px;
}

/* requests */
.requests .media .media-left a img{
	width: 100%;
    max-width: 45px;
    height: auto;
}
/* Post property or Add property */
.add-propety{
	padding:20px;
}
.add-propety .box-heads h4{
	font-size: 31px;
}
.add-property-details{
	margin-top: 10px;
}
.add-property-details label{
	color: #00acb8 !important; font-weight: 100 !important;
}
.add-property-details input, .add-property-details select{
	padding: 10px 15px; height:44px; border:1px solid #6fa5a7;
}
.date:after{
	content: '';
	display: block;
	position: absolute;
	top: 10px; right:10px;
}

.upload-image{
	color: #00acb8 !important; font-weight: 100 !important; padding-bottom: 10px;
}
/* .custom-file{
	background-image: url('../img/image.png'); background-repeat: no-repeat; background-position: center 24px;
  border: 1px solid #e0e0e0;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 100;
  font-size: 10pt; width: 100%; height: 100%;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; font-size: 14px; text-align: center; color:#b2b2b4;
    background-color: #f3f3f5;
}
.custom-file-input{
	padding:0px !important; height: 124px !important; border-radius: 0px !important; border:0px !important;
	overflow: hidden;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input{ background: none;}
/* .custom-file-input::before {
  content: 'Add Image';
  display: inline-block;
  background-color: #f4f4f4;
  background-image: url('../img/image.png'); background-repeat: no-repeat; background-position: center 24px;
  border: 1px solid #e0e0e0;
  padding: 80px 8px 0px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 100;
  font-size: 10pt; width: 100%; height: 100%;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; font-size: 14px; text-align: center; color:#b2b2b4;
} */
/*.custom-file-input:hover::before {
  border: 1px solid #939393;
  background-image: url('../img/image.png'); background-repeat: no-repeat; background-position: center 24px;
}
.custom-file-input:active::before {
  background: #f3f3f5;
  background-image: url('../img/image.png'); background-repeat: no-repeat; background-position: center 24px;
} */
.input-file{
	border:0px !important; padding-left:0px !important;
}
.uploaded-image{
	width:124px; height: 124px; margin-bottom: 30px; border: 1px solid #939393; overflow: hidden;
}
.uploaded-image img{
	width: 100%; min-height: 100%;
}
.cancel-button{
	font-size: 12px; color: #fff; background-color: #b2b2b4; border-radius: 0px !important; padding-left: 20px !important; padding-right: 20px !important; border:0px;
}
.cancel-button:hover, .cancel-button:focus{
	color: #fff;
}
.add-button{
	font-size: 12px; color: #fff; background-color: #27b1be; border-radius: 0px !important; padding-left: 30px !important; padding-right: 30px !important; border:0px;
}
/* ----------------------------- end ----------------------------- */

/*****************************landlord profile **********************/
.landlord-profile{
	margin-top: 73px; padding: 20px;
}
.landlord-profile .box-heads h4{
	font-size: 31px;
}
.landlord-profile .texts{
	margin-bottom: 20px;
}
.profile-image{
	width: 140px; height: 140px; border-radius: 50%; background-color: #fff; border:1px solid #e0e0e0; overflow: hidden;
	padding:4px; display: inline-block; margin-top: -70px; position: relative;
}
.profile-image img{
	width: 100%; min-height: 100%; border-radius: 50%;
}
.landlord-name{
	font-size: 24px; color: #42c1ca;		
}
.landlord-place{
	font-size: 12px; color: #737373;
}
.landlord-contacts{
	font-size: 15px; color: #42c1ca; margin-top: 20px;
}
.landlord-contacts a{
	text-decoration: none; color: #00abb7;
}
.weblink{
	background-color:#42c1ca; border-radius: 4px; padding:8px 17px; color: #fff;
}
.weblink:hover, .webkink:focus{
	color: #fff;
}
@media (max-width:767px){
	.landlord-profile{
		text-align: center;
	}
	.landlord-profile .box-heads h4{
		text-align: center; float: none; margin-top: 20px;
	}
	.weblink{
		display: block; margin-bottom: 20px;
	}
	.star-rating{
		margin-bottom: 20px;
	}
}
@media (max-width:991px){
	.landlord-profile{
		text-align: center;
	}
	.landlord-profile .box-heads h4{
		text-align: center; float: none; margin-top: 20px; margin-bottom: 20px;
	}
}

/* landlord other details */
.other-details{
	margin:17px 0px;
}
.other-details .place{
	margin-bottom: 20px;
}
.other-details label{
	color: #58bdc8; font-size: 12px; font-weight: 100;
}
.other-details .country{
	margin-bottom: 20px;
}
/* ------------------------------- end ------------------------------ */
/**********************************************************************/



/******************************** comments **************************/
.comments-container{

}
.comments-container .username{
	font-size: 18px; color: #404040; padding-right: 30px;
}
.comments-container .postedon{
	font-size: 12px; color: #737373;
}
.comments-container .media-body{
	padding-top: 0px;
}
.comments-container p{
	font-size: 12px;
}
.comments-container .media{
	padding-bottom: 17px; border-bottom:1px solid #e0e0e0; margin-top: 20px;
}
.comment-image{
	width: 37px; height: 37px; overflow: hidden; border-radius: 4px; display: block;
}
.comment-image img{
	width: 100%; min-height: 100%;
}
/*-------------------------------- end -------------------------------- */
/************************************************************************/

/******************************* our properties **************************/
.our-prts{
	width: 91px; height: 91px; display: block;
}
.our-prts img{
	width: 100%; min-height: 100%;
}
.our-properties .media{ height: 91px;}
.our-propert-list {
	margin-bottom: 20px;
}
.our-properties .property-name{
	color: #03abb8; font-size: 15px;
}
.our-properties .property-location{
	color: #737373; font-size: 14px; padding-top: 10px;
}
.our-properties h4{
	border-bottom:1px solid #e0e0e0; margin-bottom: 20px; padding-bottom: 10px; float: none;
}
/* ------------------------------- ends ---------------------------- */
/*******************************************************/


/****************************** tenantu profile ************************/
.tenantu-profile{
	margin-top: 73px; padding: 20px;
}
.tenantu-profile .tnt-name{
	font-size: 24px; color: #e85862;
}
.tenantu-profile .tnt-place{
	font-size: 12px; color: #737373;
}
.tenantu-profile .tnt-contacts{
	font-size: 15px; color: #e85862; margin-top: 20px;
}
.tnt-contacts a{
	text-decoration: none; color: #e85862;
}
.tnt-school-label{
	color: #737373; font-size: 12px; padding-top: 20px;
}
.tnt-school-name{
	font-size: 24px; color: #e85862; font-family: 'myriadpro-light'; line-height: 24px;
}
/* ----------------------------- end ------------------------ */
/*******************************************************/

/************************ tenantu profile details *************************/
.tenantu-prf-details{
	padding:20px; font-size: 15px; margin-bottom: 30px;
}
.tenantu-prf-details .box-heads h4{
	border-bottom: 1px solid #e0e0e0; display: block; float: none;
}
.tenantu-prf-details label{
	color: #e85862;
    font-size: 12px;
    font-weight: 100;
}
.tenantu-prf-details .place, .tenantu-prf-details .city, .tenantu-prf-details .language, .tenantu-prf-details .gender, .tenantu-prf-details .dob{
	margin-bottom: 20px;
}
.tenantu-prf-details .cnts{
	padding-top: 20px;
}
/*------------------------ end ---------------------- */
/*******************************************************/

/****************************** property history *************************/
.property-history-cntr{
	padding:20px;
}
.property-history-cntr .property-name{
	color:#e85862; 
}
/*------------------------ end ----------------------- */
/******************* ************************************/

/* edit landlord profile */
/* --------------------- */
.edit-landlord-profile{
	color: #404040; font-weight: 100;
}
.change-profile-img{
	width: 117px; height: 30px; background-color: #006064; position: absolute; bottom:0px; font-size: 12px; left: 10px; text-align: center; padding-top: 4px; color: #fff;
}
.edit-profile-form .form-group label{
	color: #58bec7; font-weight: 100; font-size: 12px;
}
.edit-profile-form .form-group .input-text{
	height: 44px; border:1px solid #6ea5a7; padding: 10px 15px;
}
.edit-profile-form .form-group{
	margin-bottom: 20px; text-align: left;
}
.edit-profile-form .form-group .text-area{
	height: 132px; border:1px solid #6ea5a7; padding: 10px 15px;
}
.edit-profile-form .col-lg-6, .edit-profile-form .col-lg-4, .edit-profile-form .col-lg-6, .edit-profile-form .col-lg-4, .edit-profile-form .col-lg-12{
	padding-left: 15px; padding-right: 15px;
}
.edit-profile-form .box-heads h4{
	font-size: 24px; border-bottom:1px solid #e0e0e0; float: none; margin-bottom: 20px; margin-top: 30px;
}
.edit-profile-form .save-btn{
	background-color: #26b1bd; color: #fff; border-radius: 0px; padding:12px 40px; border:0px; margin-right: 20px;
}
.edit-profile-form .cancel-btn{
	background-color: #a8a8a8; color: #fff; border-radius: 0px; padding:12px 40px; border:0px;
}
.edit-profile-form .profile-image{
	margin-bottom: 30px;
}
.edit-profile-form{
	text-align: left;
}
@media (max-width:767px){
	.edit-profile-form{
		text-align: center.custom-file-input::before {
  content: 'Add Image';
  display: inline-block;
  background-color: #f4f4f4;
  background-image: url('../img/image.png'); background-repeat: no-repeat; background-position: center 24px;
  border: 1px solid #e0e0e0;
  padding: 80px 8px 0px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 100;
  font-size: 10pt; width: 100%; height: 100%;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; font-size: 14px; text-align: center; color:#b2b2b4;
} ;
	}
	.edit-profile-form .box-heads h4{
		text-align: left;
	}
}
@media (max-width:360px){
	.edit-profile-form .save-btn{
		margin-right: 0px !important;
	}
}

/* edit tenantu profile */
.edit-landlord-profile{
	color: #404040; font-weight: 100;
}
.change-tnt-profile-img{
	width: 117px; height: 30px; background-color: #3f51b5; position: absolute; bottom:0px; font-size: 12px; left: 10px; text-align: center; padding-top: 4px; color: #fff;
}
.edit-tnt-form .form-group label{
	color: #e85862; font-weight: 100; font-size: 12px;
}
.edit-tnt-form .form-group .input-text{
	height: 44px; border:1px solid #929cd5; padding: 10px 15px;
}
.edit-tnt-form .form-group{
	margin-bottom: 20px; text-align: left;
}
.edit-tnt-form .form-group .text-area{
	height: 132px; border:1px solid #929cd5; padding: 10px 15px;
}
.edit-tnt-form .col-lg-6, .edit-tnt-form .col-lg-4, .edit-tnt-form .col-lg-6, .edit-tnt-form .col-lg-4, .edit-tnt-form .col-lg-12{
	padding-left: 15px; padding-right: 15px;
}
.edit-tnt-form .box-heads h4{
	font-size: 24px; border-bottom:1px solid #e0e0e0; float: none; margin-bottom: 20px; margin-top: 30px;
}
.edit-tnt-form .save-btn{
	background-color: #e85862; color: #fff; border-radius: 0px; padding:12px 40px; border:0px; margin-right: 20px;
}
.edit-tnt-form .cancel-btn{
	background-color: #a8a8a8; color: #fff; border-radius: 0px; padding:12px 40px; border:0px;
}
.edit-tnt-form .profile-image{
	margin-bottom: 30px;
}
.edit-tnt-form{
	text-align: left;
}
@media (max-width:767px){
	.edit-tnt-form{
		text-align: center;
	}
	.edit-tnt-form .box-heads h4{
		text-align: left;
	}
}
@media (max-width:360px){
	.edit-tnt-form .save-btn{
		margin-right: 0px !important;
	}
}



/* modal popup button */
.tenant .save-btn{
	background-color: #e85862; color: #fff; border-radius: 0px; padding:12px 40px; border:0px; margin-right: 20px;
}
.tenant .cancel-btn{
	background-color: #a8a8a8; color: #fff; border-radius: 0px; padding:12px 40px; border:0px;
}
.landlord .save-btn{
	background-color: #006064; color: #fff; border-radius: 0px; padding:12px 40px; border:0px; margin-right: 20px;
}
.landlord .cancel-btn{
	background-color: #a8a8a8; color: #fff; border-radius: 0px; padding:12px 40px; border:0px;
}
/* footer */
/* -------- 
.main-footer{
	position: fixed; width: 100%; bottom:0px;
}*/
