@charset "utf-8";

/* CSS Document */

/************************************************************
 * Tenantu
 * Created on	: October 09 ,2015
 * Author    	: Rajeev K.R
 * company name : Offshorent Pvt. Ltd.
 * URL       	: www.offshorent.com
 ************************************************************/
body { padding: 0px; margin: 0px; font-family: Metropolis; }

@font-face {
        font-family: Metropolis;
        src: url(../fonts/Metropolis-Regular.woff);
        font-weight: 400;
}
@font-face {
        font-family: Metropolis;
        src: url(../fonts/Metropolis-Thin.woff);
        font-weight: 200;
}
@font-face {
        font-family: Metropolis;
        src: url(../fonts/Metropolis-Medium.woff);
        font-weight: 500;
}
@font-face {
        font-family: Metropolis;
        src: url(../fonts/Metropolis-Bold.woff);
        font-weight: 700;
}

@font-face { font-family: 'myriadpro-light'; src: url('../fonts/myriadpro-light.eot'); src: url('../fonts/myriadpro-light.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-light.woff') format('woff'), url('../fonts/myriadpro-light.ttf') format('truetype'), url('../fonts/myriadpro-light.svg#myriadpro-light') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'myriadpro'; src: url('../fonts/myriadpro-regular.eot'); src: url('../fonts/myriadpro-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-regular.woff') format('woff'), url('../fonts/myriadpro-regular.ttf') format('truetype'), url('../fonts/myriadpro-regular.svg#myriadpro') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'myriadpro-semicn'; src: url('../fonts/myriadpro-semicn.eot'); src: url('../fonts/myriadpro-semicn.eot?#iefix') format('embedded-opentype'), url('../fonts/myriadpro-semicn.woff') format('woff'), url('../fonts/myriadpro-semicn.ttf') format('truetype'), url('../fonts/myriadpro-semicn.svg#myriadpro-semicn') format('svg'); font-weight: normal; font-style: normal; }
@font-face { font-family: 'FuturaBT'; src: url('../fonts/futuraxk.eot'); src: url('../fonts/FuturaBT-ExtraBlack.woff') format('woff'), url('../fonts/mFuturaBT-ExtraBlack.ttf') format('truetype'), url('../fonts/FuturaBT-ExtraBlack.svg#FuturaBT') format('svg'); font-weight: normal; font-style: normal; }

/* content boxes */
/* ============== */
.tnt-box {
    background-color: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 16px 16px 10px 16px;
    margin-bottom: 24px;
}

/* content boxes heading */
/* ===================== */
.skin-green .box-heads { width: 100%; display: inline-block; clear: both; }
.skin-green .box-heads h4 { font-family: Metropolis, sans-serif;
    -webkit-font-smoothing: antialiased; font-size: 23px; margin: 0px 0px 0px; width: auto; float: left; font-weight: 400; color: #369AFF; }


/* content box tenants */
/* =================== */

.skin-blue .box-heads { width: 100%; display: inline-block; clear: both; }
.skin-blue .box-heads h4 { font-family: 'myriadpro'; font-size: 23px; margin: 0px 0px 0px; width: auto; float: left; font-weight: 400; color: #e85862; }
.skin-blue .view-property{ padding:30px;}

/* content boxed heading links */
/* =========================== */
.box-heads a.light-green { background-color: #607d8b; padding: 2px 10px; font-size: 12px; color: #fff; border-radius: 4px; float: right; }

/* ------------------- recent proprties -------------------- */
/* ========================================================= */
.rcnt-prts ol { padding: 0px; }
.rcnt-prts ol li { display: block; list-style: disc; border-bottom: 1px solid #f3f4f5; padding-top: 6px; padding-bottom: 6px; color: #848484; }
.rcnt-prts ol li:last-child { border-bottom: 0px solid #f3f4f5; }
.rcnt-prts ol li .number { width: 80px; padding-right: 10px; }

/* -------------------------- my payments ------------------ */
/* ========================================================= */
.my-payments { }
.payment-links { padding: 34px 22px; }
.payment-links .fa-dollar { font-size: 40px; color: #7c7c7c; display: inline-block; padding-right: 40px; }
.payment-links a { background-color: #369AFF; padding: 8px 10px; font-size: 14px; color: #fff; border-radius: 4px; display: inline-block; vertical-align: top; }

/* profile left */
.user-left-profile { height: 140px; }

/* ------------------------- my property ------------------- */
/* ========================================================= */
.my-property-cntr .box-heads h4, .my-responses .box-heads h4 { font-size: 31px; }
.tnt-box.my-property-cntr .box-heads a.meroon-link { background-color: #e64551; padding: 2px 10px; font-size: 12px; color: #fff; border-radius: 4px; float: right; }
.my-property-list { padding: 10 0px; margin-top: 10px; margin-bottom: 10px; }
.star-rating { }
.my-property-list .media-heading { font-size: 14px; color: #e64551; }
.my-property-list .place { font-size: 14px; color: #8a8a8a; margin-top: 10px; }
.my-property-list .dollor-price .fa-dollar { color: #3f51b5; }
.my-property-list .dollor-price { font-size: 17px; }
.my-property-list .my-property { border-bottom: 1px solid #e7eaec; padding-bottom: 20px; padding-top: 10px; }
.my-property-list .my-property .media-left a { width: 88px; height: 88px; display: block; }
.my-property-list .my-property .media-left a img { max-width: 100%; min-height: 100%; }

/* ------------------------- my searches ------------------- */
/* ========================================================= */
/*.my-searches .box-heads h4 { font-size: 31px; }*/
.my-searches-list ul { padding: 0px; margin: 10px 0px; }
.my-searches-list li { list-style: none; padding: 8px 0px; border-bottom: 1px solid #f4f4f4; color: #848484; }
.my-searches-list li span.date { font-family: 'myriadpro-light'; font-size: 12px; color: #404040; }
.my-searches-list li span.time { font-family: 'myriadpro-light'; font-size: 12px; color: #404040; padding-left: 10px; padding-right: 10px; }
.light-blue { background-color: #3d70be; padding: 2px 10px; font-size: 12px; color: #fff; border-radius: 4px; float: right; }
.light-blue:hover, .light-blue:focus { color: #fff; background-color: #006064; }
h5.small-h { font-size: 17px; color: #848484; padding-top: 10px; }
.small-txt { font-size: 12px; line-height: 18px; color: #848484; }

/* --------------------- landlord dashboard ---------------- */
/* ========================================================= */
.view-property ol { padding: 0px; }
.view-property ol li { display: block; list-style: none; border-bottom: 1px solid #f4f4f4; padding-top: 8px; padding-bottom: 8px; color: #369AFF; }
.view-property ol li:last-child { border-bottom: none; padding-bottom: 0;}
.view-property ol li .number { width: 80px; padding-right: 10px; }
.view-property .blue { background-color: #369AFF; color: #fff; padding: 2px 10px; font-size: 12px; border-radius: 4px; float: right; }
.post-prts { text-align: center; }
.post-property-links a { background-color: #369AFF; padding: 8px 10px; font-size: 14px; color: #fff; border-radius: 4px; display: inline-block; vertical-align: top; }
.post-property-links { padding: 34px 22px; }
.add-property-links .add-prpty{ display: inline-block; padding: 8px 48px; color: #737373 !important; margin-top: 10px; display:table-cell; vertical-align: middle;}
.add-property-links .add-prpty a{ display: inline-block;
    background-color: #fff;
    border-radius: 4px;
    padding: 8px 48px;
    color: #737373 !important;
    margin-top: 0px;
    border: 1px solid #e0e0e0}
.add-property-links .add-prpty a:hover{     background-color: #fff;
    color: #e85862 !important;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 3px #e0e0e0;}
.add-property-links { padding: 34px 22px; text-align: center; background-color: rgba(255, 255, 255, 0.7); min-height: 170px; display: table; width:100%; border: 1px dashed #e0e0e0;}

/* ------------------------- responses --------------------- */
/* ========================================================= */
.responses ul { margin: 10px 0px 0px; padding: 0px; }
.responses ul li { display: inline-block; border-bottom: 1px solid #e7eaec; width: 100%; padding-bottom: 4px; padding-top: 4px; }
.responses ul li .image { width: 57px; display: inline-block; }
.responses ul li .texts { width: auto; display: inline-block; }
.responses ul li .view { width: 57px; display: inline-block; float: right; padding-top: 14px; }
.view a { float: right; }
.responses .image img { width: 100%; max-width: 45px; height: auto; }

/* -------------------------- new rating ------------------- */
/* ========================================================= */
.new-rating ul { margin: 0px; padding: 0px; }
.new-rating ul li { list-style: none; border-bottom: 1px solid #e0e0e0; padding-top: 10px; padding-bottom: 10px; }
.new-rating ul li .property-name { color: #8a8a8a; width: 57%; display: inline-block; }
.new-rating ul li .users { font-size: 12px; width: 8%; display: inline-block; }
.new-rating ul li .stars { padding-left: 10px; }

/* ------------------------- righsidebar ------------------- */
/* ========================================================= */
@media (min-width:1281px) {
	.right-sidebar { background-color: #ebebed; padding: 15px; position: fixed; width: 190px; top: 107px; right: 0px; font-family: 'myriadpro'; bottom: 51px; }
}
@media (max-width:1280px) {
	.right-sidebar { background-color: #ebebed; padding: 15px; position: relative; font-family: 'myriadpro'; width: 100%; }
	.right-sidebar .requests { height: 200px !important; }
}
.right-sidebar h4 { font-family: 'myriadpro-light'; font-size: 24px; color: #737373; padding: 0px; margin: 0px; }
.right-sidebar ul { padding: 0px; font-family: 'myriadpro'; margin-top: 10px; }
.right-sidebar ul li { list-style: none; font-size: 12px; margin-bottom: 10px; }
.right-sidebar .respond { margin-top: 10px; width: 100%; display: block; color: #1098d0; }
.right-sidebar .time { color: #737373; font-size: 10px; }

/* ----------------------- requests ------------------------ */
/* ========================================================= */
.requests .media .media-left a img { width: 100%; max-width: 45px; height: auto; }

/* ------------ Post property or Add property -------------- */
/* ========================================================= */
.add-propety { padding: 30px; }
/*.add-propety .box-heads h4 { font-size: 31px; }*/
.add-property-details { margin-top: 10px; }
.add-property-details label { color: #369AFF !important; font-weight: 100 !important; }
.add-property-details input, .add-property-details select { padding: 10px 15px; height: 44px; border: 1px solid #e0e0e0; } /* e8e8e8 */
.date:after { content: ''; display: block; position: absolute; top: 10px; right: 10px; }
.upload-image { color: #00acb8 !important; font-weight: 100 !important; padding-bottom: 10px; }
.input-file { border: 0px !important; padding-left: 0px !important; }
.uploaded-image { width: 124px; height: 124px; margin-bottom: 30px; border: 1px solid #939393; overflow: hidden; }
.uploaded-image img { width: 100%; min-height: 100%; }
.cancel-button { font-size: 12px; color: #fff; background-color: #b2b2b4; border-radius: 0px !important; padding-left: 20px !important; padding-right: 20px !important; border: 0px; }
.cancel-button:hover, .cancel-button:focus { color: #fff; }
.add-button { font-size: 12px; color: #fff; background-color: #27b1be; border-radius: 0px !important; padding-left: 30px !important; padding-right: 30px !important; border: 0px; }
.distance-input{ background-color: #fff !important;}
.add-propety .form-group{ margin-bottom: 20px;}
.add-property-details ul.tagit li input{ font-family: 'myriadpro'; font-weight: 400; }
.add-property-details ul.tagit li:last-child{ width:140px; }
.tagit-autocomplete.ui-menu{ background-color: #fff; border:1px solid #e0e0e0 !important; font-family: 'myriadpro'; padding:0px !important; }
.tagit-autocomplete.ui-menu .ui-menu-item{ padding:4px 10px !important; font-size: 14px; }
.tagit-autocomplete.ui-menu .ui-menu-item:hover{ background-color: #3f51b5; border:0px; color: #fff; font-size: 14px; }
.add-property-details ul.tagit li.tagit-choice{ background-color: #3f51b5; }
.add-property-details ul.tagit li.tagit-choice:hover{ background-color: #737373; }
.landlord-add-propety ul.tagit li.tagit-choice{ background-color: #006064; }
.skin-green .tagit-autocomplete.ui-menu .ui-menu-item:hover{ background-color: #006064 !important; border:0px; color: #fff; font-size: 14px; }

/* ----------------------------- end ----------------------------- */

/* --------------------- landlord profile ------------------ */
/* ========================================================= */
.landlord-profile .texts { margin-bottom: 20px; }
.profile-image { width: 140px; height: 140px; border-radius: 50%; background-color: #fff; border: 1px solid #e0e0e0; overflow: hidden; padding: 4px; display: inline-block; margin-top: -70px; position: relative; }
.profile-image img { width: 100%; min-height: 100%; border-radius: 50%; }
.landlord-name { font-size: 24px; color: #369AFF; }
.landlord-place { font-size: 12px; color: #737373; }
.landlord-contacts { font-size: 15px; color: #369AFF; margin-top: 20px; }
.landlord-contacts a { text-decoration: none; color: #369AFF; }
.weblink { background-color: #42c1ca; border-radius: 4px; padding: 8px 17px; color: #fff; }
.weblink:hover, .webkink:focus { color: #fff; }
.landlord-user-footer { background-color: #038780 !important; }
.landlord-user-footer .btn { background-color: #038780 !important; color: #fff !important; border: 1px solid #fff !important; }
.skin-green .user-left-profile { height: 150px; cursor: pointer; }
@media (max-width:767px) {
	.landlord-profile { text-align: center; }
	.weblink { display: block; margin-bottom: 20px; }
	.star-rating { margin-bottom: 20px; }
}
@media (max-width:991px) {
	.landlord-profile { text-align: center; }
}

/* --------------- landlord other details ------------------ */
/* ========================================================= */
.other-details { margin: 17px 0px; }
.other-details .place { margin-bottom: 20px; }
.other-details label { color: #369AFF; font-size: 12px; font-weight: 100; }
.other-details .country { margin-bottom: 20px; }

/* radio button */
#propertyAddForm input[type="radio"] { height: auto !important; position: relative; display: inline; }
#propertyAddForm  .radio { display: inline; padding-right: 10px; padding-left: 10px; }
#propertyAddForm .radio-text { float: right; padding-top: 3px; padding-left: 4px; }
.tnt-box.add-propety .add-property-details label { color: #369AFF !important; }
.tnt-box.add-propety .add-property-details input, .tnt-box.add-propety .add-property-details select { border: 1px solid #aba9a8; }
.tnt-box.add-propety .add-property-details .add-button { background-color: #e85862 !important; padding: 8px 15px !important; }
.tnt-box.add-propety .add-property-details .add-button:hover { background-color: #e85862 !important; color: #fff !important; padding: 8px 15px; font-size: 12px; }
.landlord-add-propety .btn-success { background-color: #369AFF; border-color: #00acb8; }
.landlord-add-propety:active .btn-success:active { background-color: #00acb8; border-color: #00acb8; }
@media (min-width:640px) {
	.radio-container { display: inline; }
}
@media(max-width:639px) {
	.radio-container { width: 100%; }
	#propertyAddForm .radio { padding-left: 0px; }
}

/* -------------------------- comments --------------------- */
/* ========================================================= */
.comments-container { }
.comments-container .username { font-size: 18px; color: #404040; padding-right: 30px; }
.comments-container .postedon { font-size: 12px; color: #737373; }
.comments-container .media-body { padding-top: 0px; }
.comments-container p { font-size: 12px; }
.comments-container .media { padding-bottom: 17px; border-bottom: 1px solid #e0e0e0; margin-top: 20px; }
.comment-image { width: 37px; height: 37px; overflow: hidden; border-radius: 4px; display: block; }
.comment-image img { width: 100%; min-height: 100%; }

/* ---------------------- our properties ------------------- */
/* ========================================================= */
.our-prts { width: 91px; height: 91px; display: block; }
.our-prts img { width: 100%; min-height: 100%; }
.our-properties .media { height: 91px; }
.our-propert-list { margin-bottom: 20px; }
.our-properties .property-name { color: #03abb8; font-size: 15px; }
.our-properties .property-location { color: #737373; font-size: 14px; padding-top: 10px; }
.our-properties h4 { border-bottom: 1px solid #e0e0e0; margin-bottom: 20px; padding-bottom: 10px; float: none; }

/*------------------------ tenantu profile ----------------- */
/* ========================================================= */
.tenantu-profile { margin-top: 73px; padding: 20px; }
.tenantu-profile .tnt-name { font-size: 24px; color: #369AFF; }
.tenantu-profile .tnt-place { font-size: 12px; color: #737373; }
.tenantu-profile .tnt-contacts { font-size: 15px; color: #e85862; margin-top: 20px; }
.tnt-contacts a { text-decoration: none; color: #369AFF; }
.tnt-school-label { color: #737373; font-size: 12px; padding-top: 20px; }
.tnt-school-name { font-size: 24px; color: #369AFF; font-family: 'myriadpro-light'; line-height: 24px; }
.tenant-user-footer { background-color: #263793 !important; }
.tenant-user-footer .btn { background-color: #263793 !important; color: #fff !important; border: 1px solid #fff !important; }
.skin-blue .main-header .navbar .nav > li > a:hover, .skin-blue .main-header .navbar .nav > li > a:focus, .skin-blue .main-header .navbar .nav > li > a:active { color: #404040 !important; }
.skin-blue .user-left-profile { height: 150px; cursor: pointer; }
.skin-blue .user-left-profile:hover { background-color: #263793; }

/* ----------------- tenantu profile details --------------- */
/* ========================================================= */
.tenantu-prf-details { padding: 20px; font-size: 15px; margin-bottom: 30px; }
.tenantu-prf-details .box-heads h4 { border-bottom: 1px solid #e0e0e0; display: block; float: none; }
.tenantu-prf-details label { color: #369AFF; font-size: 12px; font-weight: 100; }
.tenantu-prf-details .place, .tenantu-prf-details .city, .tenantu-prf-details .language, .tenantu-prf-details .gender, .tenantu-prf-details .dob { margin-bottom: 20px; }
.tenantu-prf-details .cnts { padding-top: 20px; }

/* --------------------- property history ------------------ */
/* ========================================================= */
.property-history-cntr { padding: 20px; }
.property-history-cntr .property-name { color: #e85862; }

/* ----------------- edit landlord profile ----------------- */
/* ========================================================= */
.edit-landlord-profile { color: #404040; font-weight: 100; }
.change-profile-img { width: 117px; height: 30px; background-color: #369AFF; position: absolute; bottom: 0px; font-size: 12px; left: 10px; text-align: center; padding-top: 4px; color: #fff; }
.edit-profile-form .form-group label { color: #58bec7; font-weight: 100; font-size: 12px; }
.edit-profile-form .form-group .input-text { height: 44px; border: 1px solid #6ea5a7; padding: 10px 15px; }
.edit-profile-form .form-group { margin-bottom: 20px; text-align: left; }
.edit-profile-form .form-group .text-area { height: 132px; border: 1px solid #6ea5a7; padding: 10px 15px; }
.edit-profile-form .col-lg-6, .edit-profile-form .col-lg-4, .edit-profile-form .col-lg-6, .edit-profile-form .col-lg-4, .edit-profile-form .col-lg-12 { padding-left: 15px; padding-right: 15px; }
.edit-profile-form .box-heads h4 { font-size: 24px; border-bottom: 1px solid #e0e0e0; float: none; margin-bottom: 20px; margin-top: 30px; }
.edit-profile-form .save-btn { background-color: #26b1bd; color: #fff; border-radius: 0px; padding: 12px 40px; border: 0px; margin-right: 20px; }
.edit-profile-form .cancel-btn { background-color: #a8a8a8; color: #fff; border-radius: 0px; padding: 12px 40px; border: 0px; }
.edit-profile-form .profile-image { margin-bottom: 30px; }
.edit-profile-form { text-align: left; }
@media (max-width:767px) {
	.edit-profile-form { text-align: center; }
	.edit-profile-form .box-heads h4 { text-align: left; }
}
@media (max-width:360px) {
	.edit-profile-form .save-btn { margin-right: 0px !important; }
}

/* ----------------- edit tenantu profile ------------------ */
/* ========================================================= */
.edit-landlord-profile { color: #404040; font-weight: 100; }
.change-tnt-profile-img { width: 117px; height: 30px; background-color: #3f51b5; position: absolute; bottom: 0px; font-size: 12px; left: 10px; text-align: center; padding-top: 4px; color: #fff; }
.edit-tnt-form .form-group label { color: #e85862; font-weight: 100; font-size: 12px; }
.edit-tnt-form .form-group .input-text { height: 44px; border: 1px solid #aba9a8; padding: 10px 15px; }
.edit-tnt-form .form-group { margin-bottom: 20px; text-align: left; }
.edit-tnt-form .form-group .text-area { height: 132px; border: 1px solid #aba9a8; padding: 10px 15px; }
.edit-tnt-form .col-lg-6, .edit-tnt-form .col-lg-4, .edit-tnt-form .col-lg-6, .edit-tnt-form .col-lg-4, .edit-tnt-form .col-lg-12 { padding-left: 15px; padding-right: 15px; }
.edit-tnt-form .box-heads h4 { font-size: 24px; border-bottom: 1px solid #e0e0e0; float: none; margin-bottom: 20px; margin-top: 30px; }
.edit-tnt-form .save-btn { background-color: #e85862; color: #fff; border-radius: 0px; padding: 8px 15px; border: 0px; margin-right: 20px; height: auto; font-size: 12px; }
.edit-tnt-form .cancel-btn { background-color: #a8a8a8; color: #fff; border-radius: 0px; padding: 8px 15px; border: 0px; height: auto; font-size: 12px; }
.edit-tnt-form .profile-image { margin-bottom: 30px; }
.edit-tnt-form { text-align: left; }
@media (max-width:767px) {
	.edit-tnt-form { text-align: center; }
	.edit-tnt-form .box-heads h4 { text-align: left; }
}
@media (max-width:360px) {
	.edit-tnt-form .save-btn { margin-right: 0px !important; }
}

/* -------------------- modal popup button ----------------- */
/* ========================================================= */
.tenant .save-btn { background-color: #e85862; color: #fff; border-radius: 0px; padding: 12px 40px; border: 0px; margin-right: 20px; }
.tenant .cancel-btn { background-color: #a8a8a8; color: #fff; border-radius: 0px; padding: 12px 40px; border: 0px; }
.landlord .save-btn { background-color: #006064; color: #fff; border-radius: 0px; padding: 12px 40px; border: 0px; margin-right: 20px; }
.landlord .cancel-btn { background-color: #a8a8a8; color: #fff; border-radius: 0px; padding: 12px 40px; border: 0px; }

/* ------------------- landlord message -------------------- */
/* ========================================================= */
.prf-img { }
.prf-img a { width: 57px; height: 57px; display: block; border-radius: 50%; overflow: hidden; }
.prf-img img { width: 100%; min-height: 100%; }

/* ----------------------- contacts ------------------------ */
/* ========================================================= */
.landlord-message-cntr .contacts { font-size: 24px; color: #369AFF; margin-bottom: 20px; font-family: 'myriadpro-light'; }
.tenant-message-cntr .contacts { font-size: 24px; color: #369AFF; margin-bottom: 20px; font-family: 'myriadpro-light'; }
.contact-list { padding: 0px; height: 570px; }
.contact-list li { list-style: none; }
.contact-list li a.user { display: inline-block; width: 100%; border-bottom: 1px solid #e0e0e0; padding: 10px 0px; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.contact-list li a.user h4 { margin: 8px 0px 0px; color: #404040; font-size: 15px; }
.contact-list li a.user .location { font-size: 11px; color: #848484; }
.contact-list li a.user .user-image { width: 40px; height: 40px; border-radius: 50%; float: left; font-family: 'myriadpro-semicn'; overflow: hidden; }
.contact-list li a.user .user-image img { width: 100%; min-height: 100%; }
.contact-list li a.user .user-details { padding-left: 50px; }
.contact-list li a.user.active { border-left: 3px solid #ea5662; padding-left: 10px; }
.contact-list li a.user.active h4 { margin: 8px 0px 0px; color: #ea5662; font-size: 15px; }
.contact-list li a.user:hover { border-left: 3px solid #ea5662; padding-left: 10px; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.contact-list li a.user:hover h4 { margin: 8px 0px 0px; color: #ea5662; font-size: 15px; }
.landlord-message-cntr .contacts-message .slimScrollBar { background-color: #26b1bd !important; opacity: 1 !important; }
.tenant-message-cntr .contacts-message .slimScrollBar { background-color: #ea5662 !important; opacity: 1 !important; }
.landlord-message .media-heading { color: #ea5662; font-size: 20px; padding-top: 8px; }
.landlord-message .box-header { border-bottom: 0px solid #e0e0e0; padding: 4px 20px; }
.landlord-message .send .direct-chat-name { color: #369AFF; }
.landlord-message .recieved .direct-chat-name { color: #ea5662; }
.send { padding: 10px; background-color: #f9f9f9; border: 1px solid #e0e0e0; }
.recieved { padding: 10px; border: 1px solid #e0e0e0; }
.write-message, .send-message-btn { height: 44px; }
.send-message-btn:hover, .send-message-btn:focus { background-color: #369AFF !important; border: 1px solid #369AFF; }
.direct-chat { border: 1px solid #c8c8c8; border-radius: 0px; }
.landlord-message-cntr .box-footer button { background-color: #369AFF; border: 1px solid #369AFF; }
.landlord-message-cntr .box-footer button:hover { border: 1px solid #369AFF; }
.add-to-wish{ margin-top: 10px; border:1px solid #e0e0e0;}
.add-to-wish .fa{ padding-left: 4px;}
.add-to-wish:hover{ color: #3cbac4;}
.processing{ padding:0px 8px; border-radius: 4px !important; font-size: 12px; background-color: #f39c12 !important; border:1px solid #f39c12 !important; margin-top: 4px;}
.processing:hover, .processing:focus{ border:1px solid #f39c12 !important;}
.completed{ padding:0px 8px; border-radius: 4px !important; font-size: 12px; margin-top: 4px; background-color: #3cbac4; border:1px solid #3cbac4;}
.completed:hover, .completed:hover{ background-color: #3cbac4; border:1px solid #3cbac4;}
@media (min-width:768px) {
	.direct-chat-contacts, .msg-cnts { display: none; }
}
@media (max-width:767px) {
	.cnts { display: none; }
	.prf-img a { width: 40px; height: 40px; }
	.direct-chat-contacts { padding: 10px; }
	.landlord-message .box-header { padding: 4px; }
	.landlord-message .media-heading { font-size: 14px; margin-bottom: 0px; }
	.landlord-message .college { font-size: 11px; display: block; }
	.landlord-message .college-place { font-size: 11px; display: none; }
	.direct-chat-messages { padding: 0px; }
	.contacts-lists { padding: 0px; }
	.contacts-lists li { list-style: none; }
	.contacts-lists li a.user { display: inline-block; width: 100%; border-bottom: 1px solid #0d716f; padding: 10px 0px; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
	.contacts-lists li a.user h4 { margin: 8px 0px 0px; color: #fff; font-size: 15px; }
	.contacts-lists li a.user .location { font-size: 11px; color: #fff; }
	.contacts-lists li a.user .user-image { width: 40px; height: 40px; border-radius: 50%; float: left; font-family: 'myriadpro-semicn'; overflow: hidden; }
	.contacts-lists li a.user .user-image img { width: 100%; min-height: 100%; }
	.contacts-lists li a.user .user-details { padding-left: 50px; }
	.contacts-lists li a.user:hover h4 { margin: 8px 0px 0px; color: #fff; font-size: 15px; }
}
@media (max-width:767px) {
	.content-header h1 { display: none; }
	.send, .recieved { border-left: 0px; border-right: 0px; }
}

/* --------------------- tenantu message ------------------- */
/* ========================================================= */
.tenant-message-cntr { }
.tenant-message-cntr .contact-list li a.user.active h4 { color: #26b1bd; }
.tenant-message-cntr .contact-list li a.user.active { border-left: 3px solid #26b1bd; }
.tenant-message-cntr .contact-list li a:hover { border-left: 3px solid #26b1bd !important; padding-left: 10px; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.tenant-message-cntr .contact-list li a.user:hover h4 { color: #26b1bd; }
.tenant-message .media-heading { color: #26b1bd; font-size: 20px; padding-top: 8px; }
.tenant-message .box-header { border-bottom: 0px solid #e0e0e0; padding: 4px 20px; }
.tenant-message .send .direct-chat-name { color: #26b1bd; }
.tenant-message .recieved .direct-chat-name { color: #ea5662; }
.tenant-message-cntr .box-footer button { background-color: #ea5662; border: 1px solid #ea5662; }
.tenant-message-cntr .box-footer button:hover { border: 1px solid #404040; }
@media (max-width:767px) {
	.tenant-message .box-header { padding: 4px; }
	.tenant-message .media-heading { font-size: 14px; margin-bottom: 0px; }
	.tenant-message .college { font-size: 11px; display: block; }
	.tenant-message .college-place { font-size: 11px; display: none; }
}

/* ------------------------- requests ---------------------- */
/* ========================================================= */
.all-requests { font-weight: 100; }
.all-requests .product-title { font-weight: 100; }
.requests-respond { margin-right: 10px; color: #fff; background-color: #00a65a; border-radius: 2px; padding: 2px 4px; }
.all-requests .buttons { margin-top: 10px; float: right; }
.all-requests .product-info { margin-right: 124px; }
@media (max-width:479px) {
	.all-requests .buttons { margin-top: 10px; float: none; margin-left: 60px; position: absolute; bottom: 10px; }
	.all-requests .product-info { margin-right: 0px; }
	.all-requests .product-list-in-box > .item { padding-bottom: 24px; position: relative; }
}

/* --------------- tenant contacts ------------- */
/* ========================================= */
.tenant-contacts { }
.tenant-contacts a { color: #737373; }
.tenant-contacts .contact-box { background-color: #fff; border: 1px solid #e7eaec; padding: 20px; margin-bottom: 20px; color: #737373; height: 200px; }
.tenant-contacts .contact-box .fa { color: #989898; padding-right: 4px; }
.tenant-contacts .contact-box h3 { margin: 0px 0px 4px; color: #369AFF; }
.tenant-contacts .prf-img { width: 70px; height: 70px !important; margin: 0px auto 20px; border:1px solid #e0e0e0; border-radius: 50%; background-color: #e0e0e0; }
.tenant-contacts .links { margin-right: 10px; }
.tenant-contacts .links .fa:hover { color: #ea5662 !important; cursor: pointer; }
.tenant-contacts .prf-img { margin-bottom: 0px; }
.tenant-contacts .view-profile { background-color: #369AFF; color: #fff !important; padding: 2px 10px; border-radius: 4px; font-size: 12px; }
.tenant-contacts .view-profile:hover { background-color: #369AFF; }
.tenant-contacts .profile-description { font-size: 13px; padding-bottom: 10px; max-height: 73px; overflow: hidden; margin-bottom: 8px; }
@media (max-width:767px) {
	.tenant-contacts .contact-box { text-align: center; }
}

/* --------------- landlord contacts ------------- */
/* =============================================== */
.lndlrd-contacts { }
.lndlrd-contacts a { color: #737373; }
.lndlrd-contacts .contact-box { background-color: #fff; border: 1px solid #e7eaec; padding: 20px; margin-bottom: 20px; color: #737373; height: 200px; }
.lndlrd-contacts .contact-box .fa { color: #989898; }
.lndlrd-contacts .contact-box h3 { margin: 0px 0px 10px; color: #26b1bd; font-size: 24px; text-transform: capitalize; } /*e85862*/
.lndlrd-contacts .prf-img { width: 70px; height: 70px !important; margin: 0px auto 20px; border-radius:50%; border:1px solid #e0e0e0;}
.lndlrd-contacts .links { margin-right: 10px; }
.lndlrd-contacts .links .fa:hover { color: #42c1ca !important; cursor: pointer; }
.lndlrd-contacts .prf-img { margin-bottom: 0px; }
.lndlrd-contacts .view-profile { background-color: #26b1bd; color: #fff !important; padding: 2px 10px; border-radius: 4px; font-size: 12px; }
.lndlrd-contacts .view-profile:hover { background-color: #26b1bd; }
.lndlrd-contacts .profile-description { font-size: 13px; padding-bottom: 10px; }
.cnt-ltn{ font-size: 12px; white-space: nowrap; text-overflow:ellipsis; overflow: hidden;}
@media (max-width:767px) {
	.lndlrd-contacts .contact-box { text-align: center; }
}

/* ------------------------------------- create Message ------------------------- */
/* ============================================================================== */
.create-msg { background-color: #fff; padding: 20px 40px; margin-top: 0px; border: 1px solid #e0e0e0; }
.tenant-message-cntr .send-message-btn { background-color: #ea5662; border: 1px solid #ea5662; height: auto; padding:8px 15px; font-size: 12px; border-radius: 0px; }
.tenant-message-cntr select.form-control { height: 44px; border: 1px solid #aba9a8; padding: 10px 15px; }
.tenant-message-cntr textarea.form-control { height: 80px; border: 1px solid #aba9a8; padding: 10px 15px; }
.tenant-message-cntr .send-message-btn:hover { background-color: #404040; border: 1px solid #404040; }
.msg-date { font-size: 10px; color: #737373; }
.create-new-msg { border: 1px dashed #d8d8d8; height: 40px; text-align: center; vertical-align: middle; margin-bottom: 10px; }
.create-new-msg a { color: #737373; width: 100%; height: 100%; display: block; padding-top: 8px; background-color: #fff; }
.create-new-msg a:hover { color: #ea5662; background-color: #f9f9f9; }
.user-image.icons { font-size: 24px; text-align: center; vertical-align: middle; color: #939393; padding-top: 4px; }
.tenant-message-cntr .contacts .user-image, .landlord-message-cntr .contacts .user-image { width: 45px; height: 45px; overflow: hidden; float: left; border-radius: 50%; border:1px solid #e0e0e0; background-color: #e0e0e0; }
.tenant-message-cntr .contacts .user-image img, .landlord-message-cntr .contacts .user-image img { width: 100%; min-height: 100%; }
.tenant-message-cntr .contacts .user-name, .landlord-message-cntr .contacts .user-name { width: auto; float: left; padding-top: 8px; padding-left: 10px; margin-bottom: 20px; text-transform: capitalize; font-family: 'myriadpro'; }
.landlord-message-cntr .send-message-btn { background-color: #369AFF; border: 1px solid #369AFF; height: auto; padding:8px 15px; font-size: 12px; border-radius:0px; }
.landlord-message-cntr select.form-control { height: 44px; border: 1px solid #aba9a8; padding: 10px 15px; }
.landlord-message-cntr textarea.form-control { height: 80px; border: 1px solid #aba9a8; padding: 10px 15px; }
.landlord-message-cntr .send-message-btn:hover { background-color: #369AFF; border: 1px solid #369AFF; }
.no-contacts { display: inline-block; width: 100%; vertical-align: middle; margin-top: 10%; }

/* message scoll bar */
.messages-menu .slimScrollDiv { height: auto !important; max-height: 200px; }
.messages-menu .slimScrollDiv .menu { height: auto !important; max-height: 200px; }

/* message scoll bar */
.tasks-menu .slimScrollDiv { height: auto !important; max-height: 200px; }
.tasks-menu .slimScrollDiv .menu { height: auto !important; max-height: 200px; }

.notifications-menu .slimScrollDiv { height: auto !important; max-height: 200px; }
.notifications-menu .slimScrollDiv .menu { height: auto !important; max-height: 200px; }

/* --------------------------------- change Password ------------------------ */
/* ========================================================================== */
.change-password { padding: 20px; }
.change-password input { height: 44px; border: 1px solid #aba9a8; padding: 10px 15px; }
.change-password .form-group label { color: #3f51b5; font-weight: 100; font-size: 14px; }
.change-password .save-btn { background-color: #e85862; color: #fff; border-radius: 0px; padding: 8px 15px; border: 0px; margin-right: 20px; font-size: 12px; height: auto;}
.change-password .save-btn:hover, .change-password .save-btn:focus { background-color: #e85862; color: #fff !important; border-radius: 0px; padding: 8px 15px; border: 0px; margin-right: 20px; }
.change-password-form { padding-top: 20px; }
.change-password .cancel-btn { background-color: #a8a8a8; color: #fff; border-radius: 0px; padding: 12px 40px; border: 0px; }
.change-password .cancel-btn:hover, .change-password .cancel-btn:focus { background-color: #a8a8a8; color: #fff; border-radius: 0px; padding: 12px 40px; border: 0px; }
.change-password .box-heads{ margin-bottom: 17px;}
/* change Password ends

/* ---------------------------- recent properties starts ----------------------------- */
/* =================================================================================== */
.recent-properties-image { width: 88px; height: 88px; overflow: hidden; border:1px solid #e0e0e0; background-color: #e0e0e0; }
.recent-properties-image img { width: 100%; min-height: 100%; }
/* recent properties starts end */

/* --------------------------------------- add tenants ------------------------------- */
/* =================================================================================== */
.no-tenants { display: inline-block; width: 100%; vertical-align: middle; background-color: rgba(255, 255, 255, 0.7); height: 224px; padding-top: 4%; border: 1px dashed #e0e0e0; }
.add-tenant-btn { display: inline-block; background-color: #fff; border-radius: 4px; padding: 8px 48px; color: #737373 !important; margin-top: 10px; border: 1px solid #e0e0e0; }
.add-tenant-btn:hover { background-color: #fff; color: #369AFF !important; border: 1px solid #e0e0e0; box-shadow: 0px 0px 3px #e0e0e0; }
.no-tenants img { max-width: 100%; }
.add-tenants { background-color: #fff; padding: 20px 40px; margin-top: 0px; border: 1px solid #e0e0e0; }
.add-tenants h2 { font-family: 'myriadpro'; margin-bottom: 24px; border-bottom: 1px solid #e0e0e0; padding-bottom: 10px; margin-top: 20px; font-size: 24px; color: #607d8b; }
.add-tenants h3 { font-family: 'myriadpro'; margin-bottom: 14px; padding-bottom: 10px; margin-top: 20px; font-size: 18px; color: #404040; text-transform: uppercase; border-bottom: 1px dashed #737373; }
.add-tenants .add-btn { margin-top: 20px; margin-bottom: 20px; border: 0px; height: auto; padding: 8px 15px; border-radius: 0px; margin-right: 10px; font-size: 12px; }
.add-tenants table td { vertical-align: middle !important; text-align: left; }
.add-tenants table td input, .add-tenants table td select, .table-input input { max-width: 120px; height: auto; padding: 4px 10px; }
.table-input { border: 1px solid #e0e0e0; }
.table-input td { vertical-align: middle; }
.updateRow, .deleteRow { margin-top: 30px !important; }
.changeAmount { margin-top: 0px !important; }
.add-tenants label { font-weight: 100; color: #369AFF; font-size: 14px; }
.add-tenants input, .add-tenants select { height: 44px; border: 1px solid #aba9a8; padding: 10px 15px; } /* border: 1px solid #6ea5a7; */
.add-tenants textarea { border: 1px solid #aba9a8; padding: 10px 15px; height: 44px; }
.add-btn { background-color: #e85862; color: #fff; border-radius: 0px; padding: 12px 40px; border: 0px; margin-right: 20px; margin-top: 37px; }
.add-btn:hover, .add-btn:focus { color: #fff; }
.add-tenants .cancel-btn { background-color: #a8a8a8; color: #fff; border-radius: 4px; padding: 12px 40px; border: 0px; margin-top: 24px; }
.add-tenants.adds .cancel-btn { height: auto; padding: 8px 15px; margin-top: 0px; border-radius: 0px; }
.file-attach { height: auto !important; width: 100%; }
.edit-tenant-btn { display: inline-block; background-color: #369AFF; border-radius: 0px; padding: 4px 15px; color: #fff !important; margin-top: 10px; font-size: 12px; }
.edit-btn-cntr .edit-tenant-btn { background-color: #e85862; }
.changeAmount { background-color: #369AFF; }
.cancel-tenant-btn { display: inline-block; background-color: #737373; border-radius: 0px; padding: 4px 15px; color: #fff !important; margin-top: 10px; font-size: 12px; }
.tenant-dtls { margin-bottom: 0px; }
.tenant-dtls-name { font-size: 18px; padding: 0px 0px 10px; text-transform: capitalize; color: #ea5662; font-family: "myriadpro"; }
.tenant-dtls-property-name { font-size: 17px; padding: 0px 0px 10px; text-transform: capitalize; color: #404040; font-family: "myriadpro"; }
.tenant-dtls .tnt-profile-img { width: 100px; height: 100px; border-radius: 50%; box-shadow: 0px 0px 3px #737373; border: 2px solid #fff; margin-left: auto; margin-right: auto; overflow: hidden; margin-bottom: 10px; }
.tnt-dtls-top { background-color: #f4f4f4; border-radius: 0px; padding: 20px 0px 0px; border: 1px solid #f0f0f0; }
.add-tenants h4 { font-family: "myriadpro"; font-size: 18px; margin-top: 24px; }
.head-txt { background-color: #369AFF !important; color: #fff; font-weight: 400; }
.monthly-rent { color: #369AFF; margin-top: 0px !important; }
.Itinerary { color: #369AFF; margin-top: 0px !important; }
.edit-box-cntr { background-color: #fff; padding: 30px; border: 1px solid #e0e0e0; margin-bottom: 30px; }
.edit-box-cntr h2 { margin-top: 10px; }
.edit-box-cntr h3 { font-family: 'myriadpro'; margin-bottom: 14px; padding-bottom: 10px; margin-top: 0px; font-size: 18px; color: #404040; text-transform: uppercase; border-bottom: 1px dashed #737373; }
.edit-box-cntr .add-btn { margin-top: 20px; margin-bottom: 20px; border: 0px; height: auto; padding: 10px 15px; border-radius: 4px; margin-right: 10px; }
.addmoreEndItinerary { padding-top: 0px; }
.add-tenants .fa { margin-right: 10px; }
.add-tenants table { border: 1px solid #e0e0e0; }
.add-tenants table tr:hover { background-color: #e0e0e0; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.table-striped > tbody > tr:nth-of-type(2n+1) { background-color: #e0e0e0; }
.add-more { background-color: #f4f4f4; color: #404040 !important; padding: 8px 10px; border-radius: 4px; font-size: 12px; border: 1px dashed #989898; display: inline-block; text-align: center; }
.add-more:hover { background-color: #e0e0e0; color: #989898; }
.remove { background-color: #f4f4f4; color: #404040 !important; padding: 8px 10px; border-radius: 4px; font-size: 12px; border: 1px dashed #989898; display: inline-block; text-align: center; margin-top: 10px; margin-left: 10px; }
.remove:hover { background-color: #e0e0e0; }
.border-line { border-top: 1px solid #e0e0e0; }
.no-tenants.add-tenant{ display: table; padding-top: 0px;}
.no-tenants.add-tenant .add-tenant-cntr{ display: table-cell; vertical-align: middle;}
.no-tenants.add-tenant .add-tenant-btn{ margin-top: 0px;}

/* ---------------------------------- My tenants ------------------------- */
/* ======================================================================= */
.my-tenants { }
.my-tenants .tenant-image { width: 70px; height: 70px; border-radius: 50%; overflow: hidden;border:1px solid #e0e0e0; }
.my-tenants .tenant-image img { width: 100%; min-height: 100%; }
.my-tenants .tenant-name { font-size: 24px; color: #42c1ca; padding-top: 0px; text-transform: capitalize; padding-bottom: 8px;}
.my-tenants .buttons-cntr { margin-top: 17px; display: table; width: 100%; text-align: center; padding: 0px; border-top: 1px solid #f4f4f4; border-bottom: 1px solid #f4f4f4; }
.my-tenants .buttons { font-size: 12px; padding: 10px 10px; border-radius: 2px; color: #404040; font-weight: 400; display: table-cell; border-right: 1px solid #f4f4f4; position: relative; vertical-align: middle; }
.my-tenants .buttons:last-child { border-right: 0px; }
.my-tenants .buttons:hover { background-color: #f4f4f4; color: #3F51B5; }
.tenant-name-container { padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #f4f4f4; font-size: 12px; }
.tenant-name-container .fa.fa-map-marker { padding-right: 10px; }
.tenant-name-container .fa.fa-building { padding-right: 5px; }
.my-tenants .label-warning { font-size: 10px; position: absolute; top: 2px; right: 3px; text-align: center; font-size: 9px; padding: 2px 3px; line-height: .9; }
.duration-container { color: #737373; }
.my-tenants .tenant-name a{ color: #26b1bd }
.my-tenants .buttons .fa{ padding-right:4px; color: #737373;}
@media (max-width:767px) {
	.my-tenants .tenant-image { margin-left: auto; margin-right: auto; }
	.my-tenants { text-align: center; }
}

.my-tenants .message-buttons { background-color: #f4f4f4; color: #000; padding: 3px 8px; border-radius: 3px; display: inline-block; width: auto; margin-bottom: 10px; border: 1px solid #e0e0e0; font-size: 12px; }
.my-tenants .message-buttons:hover { background-color: #A3ECFD; color: #fff; border: 1px solid #FFEB9B; }

/* ---------------------------------------- landlord add property ---------------------------------- */
/* ================================================================================================= */
.landlord-add-propety{ padding:30px;}
.tnt-box.landlord-add-propety .add-property-details label { color: #369AFF !important; font-size: 14px; }
.tnt-box.landlord-add-propety .add-property-details input, .tnt-box.landlord-add-propety .add-property-details select, .tnt-box.landlord-add-propety .add-property-details textarea { border: 1px solid #aba9a8; } /* border: 1px solid #6ea5a7; */
.tnt-box.landlord-add-propety .add-property-details .add-button { background-color: #e85862 !important; padding: 8px 10px; border: 0px !important; border-radius: 0px !important; font-size: 12px; margin-right: 10px; height: auto; }
.tnt-box.landlord-add-propety .add-property-details .cancel-button { border: 0px !important; border-radius: 0px !important; font-size: 12px; height: auto; padding:8px 10px; }
.tnt-box.landlord-add-propety .add-property-details .add-button:hover { background-color: #e85862 !important; color: #fff !important; padding: 8px 10px; font-size: 12px; }
.add-view-property{ padding:30px;}
.bg-danger{ padding:10px; }

/* ------------------------------------- my properties ------------------------------- */
/* =================================================================================== */
.my-properties { }
.my-properties .property { }
.my-properties .buttons-cntr { margin-top: 17px; display: table; width: 100%; text-align: center; padding: 0px; border-top: 1px solid #f4f4f4; border-bottom: 1px solid #f4f4f4; }
.my-properties .buttons { font-size: 12px; padding: 10px 10px; border-radius: 2px; color: #404040; font-weight: 400; display: table-cell; border-right: 1px solid #f4f4f4; position: relative; vertical-align: middle; }
.my-properties .buttons:last-child { border-right: 0px; }
.my-properties .buttons:hover { background-color: #f4f4f4; color: #3F51B5; }
.my-properties .label-warning { font-size: 10px; position: absolute; top: 2px; right: 3px; text-align: center; font-size: 9px; padding: 2px 3px; line-height: .9; }
.my-properties .posted-on { font-size: 12px; color: #737373; margin-top: 10px; }
.my-properties .property h4 { color: #369AFF; width: 100%; white-space: nowrap; text-overflow:ellipsis; overflow:hidden; }
.tenants{ min-height: 170px;}
.tenant-location{ width:100%; white-space: nowrap; text-overflow:ellipsis; overflow: hidden; color:#737373;}
.my-properties .tenant-image { width: 70px; height: 70px; border-radius: 50%; overflow: hidden; border:1px solid #e0e0e0; margin:0 auto; background-position:50% 50%; background-size:cover; }
.my-properties .buttons .fa{ color: #737373;}
@media (max-width:767px) {
	.my-properties { text-align: center; }
}

/* -------------------------------------- Edit property -------------------------------- */
/* ===================================================================================== */

.edit-property { padding: 20px; }
.add-property .box-heads h4 { font-size: 31px; }
.edit-property-details label { color: #369AFF !important; font-weight: 100 !important; }
.edit-property-details input, .edit-property-details select { padding: 0 15px; height: 45px; border: 1px solid #aba9a8; }
.edit-property-details select { -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image: url('../img/down-arrow.png'); background-position: right top; background-repeat: no-repeat; }
.date:after { content: ''; display: block; position: absolute; top: 10px; right: 10px; }
.upload-image { color: #00acb8 !important; font-weight: 100 !important; padding-bottom: 10px; }
.input-file { border: 0px !important; padding-left: 0px !important; }
.uploaded-image { width: 124px; height: 124px; margin-bottom: 0px; border: 1px solid #e0e0e0; overflow: hidden; }
.uploaded-image img { width: 100%; min-height: 100%; }
.cancel-button { font-size: 12px; color: #fff; background-color: #b2b2b4; border-radius: 0px !important; padding-left: 20px !important; padding-right: 20px !important; border: 0px; }
.cancel-button:hover, .cancel-button:focus { color: #fff; }
.add-button { font-size: 12px; color: #fff; background-color: #27b1be; border-radius: 0px !important; padding-left: 30px !important; padding-right: 30px !important; border: 0px; }
.edit-uploaded-image { width: 120px; padding: 4px 8px; margin-left: auto; margin-right: auto; margin-top:40px; display: table; font-size: 12px;}
.edit-uploaded-image a.delete { color: #fff; border-right:1px solid #737373; display: table-cell; text-align: center;}
.edit-uploaded-image .change-image { color: #fff; display: table-cell; text-align: center; }
.imgColumn{ display: inline-block; position: relative; overflow: hidden; margin-bottom:8px; margin-right: 8px;}
.edit-uploaded-image-cntr{ position: absolute; left: 0px; right: 0px; top: 0px; bottom: -124px; background-color: rgba(0, 34, 37, 0.8); display: none;}
.imgColumn:hover .edit-uploaded-image-cntr{ display: block; bottom:0px; transition:all 0.2s ease;}
/*.view-property{ margin-bottom:40px;}*/
.uploaded-image.active{ border:4px solid #00acb8;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=number] {
    -moz-appearance:textfield;
}

.edit-landlord-property{ padding:20px 40px;}
.edit-landlord-property h4 { font-family: 'myriadpro'; margin-bottom: 24px; border-bottom: 1px solid #e0e0e0; padding-bottom: 10px; margin-top: 20px; font-size: 24px; color: #607d8b; display: block; float: none !important;}
.edit-landlord-property .add-property-details input, .edit-landlord-property .add-property-details select, .edit-landlord-property .add-property-details textarea{ background-color: #f4f4f4;}
#noImgMessage{ font-size: 18px; color: #a8a8a8; text-align: center;}
#noDocMessage{ font-size: 18px; color:#a8a8a8; text-align: center;}
/* ----------------------------- end ----------------------------- */

/* ---------------------------------------- css for my landlord ----------------------------- */
/* ========================================================================================== */
.my-landlord { }
.my-landlord a { color: #737373; }
.my-landlord .contact-box { background-color: #fff; border: 1px solid #e7eaec; padding: 20px; margin-bottom: 20px; color: #737373; height: auto; }
.my-landlord .contact-box .fa { color: #989898; }
.my-landlord .contact-box h3 { margin: 0px; color: #ea5662; }
.my-landlord .contact-box h4 { margin: 0px; color: #404040; font-size: 18px; margin-bottom: 10px; }
.my-landlord .prf-img { width: 57px; height: 57px; border-radius: 50%; overflow: hidden; border:1px solid #e0e0e0; background-color: #e0e0e0; }
.my-landlord .prf-img { margin-bottom: 0px; }
.my-landlord .proprty-image { width: 57px; height: 57px; border: 1px solid #e0e0e0; background-color: #e0e0e0; }
.my-landlord .proprty-image img { width: 100%; min-height: 100%; }
.my-landlord-name { font-size: 24px; margin: 3px 0px 0px; color: #369AFF; }
.my-landlord-location { font-size: 14px; margin: 0px; color: #404040; }
.my-landlord .landlord-name-cntr { margin-bottom: 17px; padding-bottom: 17px; border-bottom: 1px solid #e0e0e0; }
.my-landlord .buttons { background-color: #f4f4f4; color: #000; padding: 3px 8px; border-radius: 3px; display: inline-block; width: auto; margin-bottom: 10px; border: 1px solid #e0e0e0; font-size: 12px; }
.my-landlord .buttons:hover { background-color: #369AFF; color: #fff; border: 1px solid #369AFF; }
.my-landlord-btn-cntr { margin-top: 10px; float: right; }
.agreement-duration { font-weight: 400; padding-bottom: 10px; color: #369AFF; }
.grey-text{ color: #737373;}



/* featured property */
.make-featured-prts .form-control{ height: 40px; }
.make-featured-prts .pay-btn { background-color: #e85862 !important; padding: 10px 15px; border: 0px !important; border-radius: 0px !important; font-size: 14px; margin-right: 10px; height: auto; }
.make-featured-prts .pay-btn:hover { background-color: #e85862 !important; color: #fff !important; padding: 10px 15px; font-size: 14px; }
#featuredPrice{ font-size: 18px; padding-right: 10px; color: #42c1ca; }
@media (max-width: 767px){
	.clmns{ margin-bottom: 20px; }
	#featuredPrice{ font-size: 18px; padding-right: 10px; color: #42c1ca; display: block; margin-bottom: 20px;}
}
@media (max-width: 479px){
	#featuredPriceButton{ display: block; width: 100%; }
	.make-featured-prts .pay-btn{  width:100%; }
	.clmns-text-center{ text-align: center; }
}

@media (max-width:767px) {
	.my-landlord .contact-box { text-align: center; height: auto; }
	.my-landlord .prf-img { margin: 0 auto; }
	.my-landlord-btn-cntr { float: none; }
}

/*landlord or tenant profile for recent properties */
.l-t-view { }
.l-t-view .profile-image { margin-top: 0px !important; width: 100px; height: 100px; }
.l-t-view .tenantu-prf-details { padding: 0px 20px 0px; background-color: #f4f4f4; margin-bottom: 0px; margin-top: 20px; }
.l-t-view .tnt-name { color: #369AFF ; font-size: 24px; }
.l-t-view a, .l-t-view .tenantu-prf-details label, .l-t-view .tnt-contacts { color: #369AFF ; }
.tenant-profile-edit-btn{ background-color: #369AFF !important; padding: 8px 15px !important; height: auto; color: #fff; font-size: 12px; border:0px; border-radius: 0px;}
.tenant-profile-edit-btn:hover, .tenant-profile-edit-btn:focus{ background-color: #369AFF !important; padding: 8px 15px !important; height: auto; color: #fff !important; font-size: 12px; border:0px;}

/* ----------------------------------- edit tenant tabmenu --------------------- */
/* ============================================================================= */
.nav-tabs-custom > .nav-tabs > li a { padding-left: 17px; padding-right: 17px; font-family: 'myriadpro-light'; }
.nav-tabs-custom > .nav-tabs > li, .nav-tabs-custom > .nav-tabs > li:hover { color: #fff; background-color: #369AFF; border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; }
.nav-tabs-custom > .nav-tabs > li a, .nav-tabs-custom > .nav-tabs > li a:hover { color: #fff; }
.nav-tabs-custom { background-color: transparent; }
.nav-tabs-custom > .tab-content { border-left: 1px solid #e0e0e0; border-right: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0; padding: 0px; }
.nav-tabs-custom > .nav-tabs h3 { margin: 0px; }
@media (max-width:767px) {
	.nav-tabs-custom > .nav-tabs > li { }
	.step-texts { display: none; }
	.nav-tabs-custom > .nav-tabs h3 { font-size: 14px; }
	.nav-tabs-custom > .nav-tabs p { display: none; }
}
@media (min-width:767px) and (max-width:991px) {
	.nav-tabs-custom > .nav-tabs > li { }
	.step-texts { display: none; }
	.nav-tabs-custom > .nav-tabs h3 { font-size: 17px; }
	.nav-tabs-custom > .nav-tabs p { display: none; }
}

/* ------------------------------------------- payments ----------------------------- */
/* ================================================================================== */
.payments { border: 1px solid #e0e0e0; background-color: #fff; padding: 20px 40px; }
.payments h2 { font-family: 'myriadpro'; margin-bottom: 24px; border-bottom: 1px solid #e0e0e0; padding-bottom: 10px; margin-top: 20px; font-size: 24px; color: #607d8b; }
.payments .tab-pane.active { background-color: #fff; padding: 40px; border: 1px solid #e0e0e0; }
.payments .nav-pills > li.active > a { background-color: #607d8b; border-top: 0px; font-size: 24px; font-weight: 100; }
.payments .nav-pills > li > a { border-top: 0px; font-size: 24px; }
.payments .form-control { padding: 10px 15px; height: 44px; border: 1px solid #aba9a8; }
.payments .cols { opacity: 0.7; padding-left: 0px; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.payments .cols.active { opacity: 1; }
.payments .cols:first-child { border-right: 1px solid #e0e0e0; padding-right: 40px; }
.payments .cols:last-child { padding-left: 40px; }
.payments .cols:hover { opacity: 1; transition: all 0.2s ease; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }
.payments form label { font-weight: 100; }
.payments h3 { padding-bottom: 10px; margin-bottom: 20px; }
.payments .save-btn { background-color: #e85862; color: #fff; border-radius: 0px; height: auto; padding:8px 15px; font-size: 12px; border:0px; }
.or { width: 40px; height: 40px; position: absolute; top: 48%; border-radius: 50%; left: -20px; background-color: #f4f4f4; padding: 10px; border: 1px solid #e0e0e0; }
.payment-date{ background-color:#369AFF; padding:4px 10px; color: #fff; border-radius: 4px; }
.payment-date:hover, .payment-date:focus{ color: #fff;}
.datepicker.dropdown-menu{ z-index: 9999 !important;}
.payment-date-cntr .login-input{ border:1px solid #aba9a8; height: 44px; padding:10px 15px;}
@media (max-width:991px) {
	.payments .cols { padding-bottom: 20px; border-right: 0px !important; }
	.payments .cols:last-child { border-top: 1px solid #e0e0e0; padding-right: 0px; padding-bottom: 10px; padding-top: 20px; }
	.or { width: 40px; height: 40px; position: absolute; top: -20px; border-radius: 50%; left: 48%; background-color: #f4f4f4; padding: 10px; border: 1px solid #e0e0e0; }
}
@media (max-width:479px) {
	.payments { border: 1px solid #e0e0e0; background-color: #fff; padding: 20px 20px; text-align: center; }
	.payments .cols { padding-right: 0px; opacity: 1; }
	.payments .cols:last-child { border-top: 1px solid #e0e0e0; padding-right: 0px; padding-bottom: 10px; border-left: 0px; padding-left: 0px; }
	.payments .cols:first-child { padding-right: 0px; }
	.payments p { display: none; }
	.payments h3 { padding-bottom: 10px; margin-bottom: 10px; font-size: 18px; }
	.payments form label { display: none; }
	.payments h2 { margin-bottom: 0px; }
olid-button {
    color: #FFF;
    background-color: #369AFF;
    border-radius: 8px;
    text-align: center;
    display: block;
    padding: 16px;
    transition: background-color .2s ease, border-color .2s ease, color .2s ease;
}.payments .save-btn { background-color: #e85862; color: #fff; display: block; width: 100%; }
	.payments .form-control { text-align: center; }
	.or { left: 40%; }
}

/* -------------------------------------- common styles --------------------------------- */
.edit-btn-cntr { margin-bottom: 10px; text-align: right; float: right; }
.margin-top40 { margin-top: 40px; }
.margin-bottom30 { margin-bottom: 30px; }
.no-border { border: 0px; }
.cancel-btn { background-color: #737373; border-radius: 4px; color: #fff !important; font-size: 12px; margin-top: 0px; padding: 4px 10px; }

/* --------------------------------- Payment details of tenants -------------------------- */
/* ======================================================================================= */
.payment-details { padding: 20px 20px 10px; margin-top: 10px; }
.payment-details .tenant-name { font-size: 22px; color: #369AFF; margin-bottom: 10px; line-height: 22px; }
.payment-details table { border-color: #e0e0e0; }
.navigation-buttons { margin-top: 0px; float: right; margin-bottom: 10px; }
.navigation-buttons a { font-size: 14px; color: #737373; border: 1px solid #e0e0e0; background-color: #fff; padding: 2px 5px; display: inline-block; }
.navigation-buttons a:first-child { padding-left: 0px; }
.navigation-buttons a .fa { padding-left: 10px; padding-right: 10px; line-height: 22px; }
.navigation-buttons a:last-child .fa { padding-left: 5px; }
.navigation-buttons a:hover { color: #369AFF; }
.navigation-buttons a:last-child span { margin-left: 10px; }
.navigation-buttons a:first-child span { margin-right: 10px; }
.payment-details-head { background-color: #e0e0e0; }
.payment-details-head td { text-transform: uppercase; }
.payment-details-body td { color: #737373; font-size: 17px; }
.payment-details .property-name { color: #737373; }
.payment-details .property-dtls { margin-bottom: 10px; line-height: 22px; }

/* select tenant */
.select-tnt { border: 1px solid #e0e0e0; padding: 8px 10px; appearance: none; -webkit-appearance: none; -moz-appearance: none; position: relative; }
.payment-details .paid { color: #00a65a; }
.payment-details .amount { color: #607d8b; }
.payment-details .pending { color: #dd4b39; }
@media (max-width:479px) {
	.navigation-buttons { margin-top: 0px; float: left; }
}

/* --------------------------------- agreement details ---------------------------- */
/* ================================================================================ */
.agreement-details{ background-color:#fff; padding: 20px 40px;}
.agreement-details h2 { font-size:24px; margin-bottom: 20px; border-bottom: 1px solid #e0e0e0; padding-bottom: 10px;}
.agreement-details h4 { font-size:24px; color: #369AFF; margin-bottom: 5px; margin-top: 10px;}
.agreement-details .media { border-bottom:1px dashed #e0e0e0; padding-bottom: 0px;}
.agreement-details .property-image{ width:64px; height: 64px; overflow: hidden; padding:0px; display: inline-block; float: left; margin-right: 20px;}
.agreement-details .property-image img{ width:100% !important;}
.agreement-details .location{ font-size: 12px; color:#737373; margin-bottom: 10px;}
.agreement-details .landlord-image{ width:40px; height: 40px; border-radius: 50%; overflow: hidden; padding:0px; display: inline-block; float: left; margin-right: 10px;}
.agreement-details .landlord-image img{ width:100% !important;}
.agreement-details .landlords-name { font-size: 17px; padding-top: 0px; color:#3f51b5;}
.agreement-details .landlord-details { margin-top: 0px; padding:10px;}
.agreement-details .agreement-other-details{ padding-top: 20px; font-size: 14px;}
.agreement-details .agreement-other-details .fa{ padding-right:10px;}
.agreement-details .agreement-other-details tr:hover{ background-color: #f4f4f4;}
.agreement-details .agreement-other-details thead tr:hover{ background-color: transparent;}
.agreement-details .media .media-body{ margin-left: 40px;}
.agreement-details .agreement-other-details span{ font-weight: 800;}
.landlords{ border-top:1px solid #e0e0e0; border-bottom:1px dashed #e0e0e0; padding-bottom: 20px; color: #00a65a;}
.document-details h3{ font-size: 20px;}
.document-details tr:hover{ background-color: #f4f4f4;}
.document-details thead tr:hover{ background-color: transparent;}
.green{ color: #00a65a;}

/* --------------------------- single property reviews ---------------------------- */
/* ================================================================================ */
.reviews { padding: 0px; font-family: 'myriadpro'; position: relative; }
.reviews h3 { font-family: 'myriadpro-light'; font-size: 37px; color: #404040; margin: 0px 0px 10px; }
.reviews .user { font-family: 'myriadpro'; }
.reviews .user .name { font-family: 'myriadpro'; font-size: 18px; color: #42c1ca; }
.reviews .user .subject { font-family: 'myriadpro'; font-size: 14px; color: #404040; width: 100%; display: block; }
.review-text { padding-top: 10px; }
.rating-texts { height: 30px; }
.review-ratings { padding-top: 20px; padding-bottom: 20px; }
.border-bottom { border-bottom: 1px solid #f0f0f0; }
.single-review:nth-child(odd) { border-right: 1px solid #f0f0f0; padding-bottom: 30px; }
.reviews-link { margin-right: 20px; background-color: #fff; border-radius: 4px; padding: 10px 10px; border: 1px solid #e0e0e0; margin-top: 20px; /* width: 133px; */ display: inline-block; }
.review-rtns { margin-top: 10px; }
.review-rtns .texts { width: 80px; padding-right: 10px; display: inline-block; float: left; padding-top: 10px; }
.single-review1 { border-left: 0px; margin-bottom: 0px; margin-top: 0px; }
.single-review2 { margin-bottom: 30px; margin-top:30px;}
.review-rtns { margin-top: 0px; margin-bottom: 30px; }
.single-property .sort .sort-select{ width: 320px !important; max-width: 320px;}
.single-property .tnt-box{ padding:30px;}
.single-property .select.property{ margin-bottom: 10px;}
.single-property .select-property-text{ padding-top:10px; font-size: 18px;}
.single-property .select.property select{ height: 44px;}

@media (max-width:639px){
	.agreements{ text-align: center;}
	.agreement-details .agreement-other-details table{ text-align: left;}
	.agreement-details{ padding:10px;}
	.agreement-details .property-image{ margin-left: auto; margin-right: auto; float: none;}
	.agreement-details .landlord-image{ float:none;}
	.agreement-details h4 { font-size: 17px;}
	.agreement-other-details { text-align: center;}
}
@media (min-width:640px) and (max-width:767px){
	.agreement-details .property-image{ margin-left: auto; margin-right: auto; float: none;}
	.agreement-details .landlord-image{ float:none;}
}
@media (max-width:991px){
	.agreement-details .landlord-details{ border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0; padding-bottom: 0px; background-color: #f4f4f4;}
}
@media (max-width:767px){
	.agreement-details{ padding:10px;}
}

/* Tenant payment */
/* ============== */
.paynow{ background-color: #00a65a; border-radius: 4px; color: #fff !important; padding:4px 10px;}
.paynow-exp{ background-color: #dd4b39;}

/* The common CSS for select box */
/* ================= starts ============ */
.select-box select { padding: 8px 20px 8px 10px; margin: 0; background: transparent; color: #404040; border: none; outline: none; display: inline-block; -webkit-appearance: none; -moz-appearance: none; appearance: none; cursor: pointer; border: 1px solid #e0e0e0; font-family: 'myriadpro'; min-width: 170px; }
.select-box { background: #fff; color: #404040; }
/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.select-box select { padding-right: 18px }
}
.select-box { position: relative; background-color: #fff; }
.select-box:after { content: "\f107"; display: block; color: #727272; font-family: 'Glyphicons Halflings'; width: 20px; position: absolute; right: 10px; top: 10px; display: inline-block; font: normal normal normal 18px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 24px; font-weight: 100; }
/* The common CSS for select box */

/* ============== Ends =============== */

.content-left {
    padding-right: 30px;
    border-right: 1px solid #E0E0E0;
}
.content-right {
    padding-left: 30px;
}


.solid-button {
    color: #FFF;
    background-color: #369AFF;
    border-radius: 8px;
    text-align: center;
    display: block;
    padding: 16px;
    transition: background-color .2s ease, border-color .2s ease, color .2s ease;
}
